<div class="Closingendday">
    <div class="contrainer pt-4">
        <div class="head">
            <h2>AR Tracking</h2>
        </div>
        <div class="main col-md-12">
            <h5>
                <strong>
                    Sale & Payment Date as of {{dateVal | date:'dd/MM/yyyy'}}
                </strong>
            </h5>

            <table class="table table-bordered">
                <tr>
                    <th class="is-center" rowspan="2">Location</th>
                    <th class="is-center is-sky" colspan="2">Cash</th>
                    <th class="is-center is-orange" colspan="2">Cheque</th>
                    <th class="is-center is-sky" colspan="2">Credit Card</th>
                    <th class="is-center is-green" colspan="2">Withholding Tax</th>
                    <!-- hidden attach icon                     -->
                    <!-- <th class="is-center" rowspan="2"></th> -->
                </tr>
                <tr>
                    <th class="is-center is-light-sky">Shop</th>
                    <th class="is-center is-light-sky">Bank</th>

                    <th class="is-center is-light-orange">Shop</th>
                    <th class="is-center is-light-orange">Bank</th>

                    <th class="is-center is-light-sky">Shop</th>
                    <th class="is-center is-light-sky">Bank</th>

                    <th class="is-center is-light-green">Shop</th>
                    <th class="is-center is-light-green">WHT</th>
                </tr>

                <tbody *ngIf="shops.length || notClosing.length;else load">
                    <tr *ngFor="let shop of shops; let index = index">
                        <td class="is-center">
                            <span title="{{shop.locationNameTh != undefined ? shop.locationNameTh : 'Not found'}}">
                                {{shop.locationCode}}
                            </span>
                        </td>
                        <!-- <td class="waiting" *ngIf="shop.arPaymentInfoList.csh.shop.shopAmt == null && dateNow < t1Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="shop.arPaymentInfoList.csh.shop.shopAmt == null && dateNow > t1Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="shop.arPaymentInfoList.csh.shop.shopAmt != null">
                            <span class="is-click is-link" (click)="showModal(shop.locationCode,'Cash')">
                                {{shop.arPaymentInfoList.csh.shop.shopAmt | number:'.2'}}
                            </span>
                        </td>
                        <td *ngIf="shop.arPaymentInfoList.csh.shop.shopAmt == null">
                            0.00
                        </td>
                        <!-- <td class="waiting" *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt - shop.arPaymentInfoList.csh.shop.shopAmt - shop.arPaymentInfoList.csh.bank.diffAmt) != 0 && shop.arPaymentInfoList.csh.shop.shopAmt != null && dateNow < t1Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt - shop.arPaymentInfoList.csh.shop.shopAmt - shop.arPaymentInfoList.csh.bank.diffAmt) != 0 && shop.arPaymentInfoList.csh.shop.shopAmt != null && dateNow > t1Date">
                            Unreconcile
                        </td> -->
                        <td class="waiting" *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt == 0 && shop.arPaymentInfoList.csh.bank.outstandingDiffAmt != 0) && dateNow < t1Date">
                            Waiting
                        </td>
                        <td class="unreconcile is-click is-link" (click)="adjustBank(shop.locationCode,'Cash',shop.arPaymentInfoList.csh.bank, index)" *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt == 0 && shop.arPaymentInfoList.csh.bank.outstandingDiffAmt != 0) && dateNow > t1Date">
                            Unreconcile
                        </td>
                        <!-- <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt == 0 && shop.arPaymentInfoList.csh.bank.outstandingDiffAmt != 0) && dateNow > t1Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt != 0)">
                            <span class="textred is-click is-underline" *ngIf="shop.arPaymentInfoList.csh.bank.outstandingDiffAmt < 0" (click)="adjustBank(shop.locationCode,'Cash',shop.arPaymentInfoList.csh.bank, index)">
                                ({{shop.arPaymentInfoList.csh.bank.outstandingDiffAmt*-1 | number:'.2'}})
                            </span>
                            <span class="textblue is-click is-underline" *ngIf="shop.arPaymentInfoList.csh.bank.outstandingDiffAmt > 0" (click)="adjustBank(shop.locationCode,'Cash',shop.arPaymentInfoList.csh.bank, index)">
                                {{shop.arPaymentInfoList.csh.bank.outstandingDiffAmt | number:'.2'}}
                            </span>
                            <span class="reconcile is-click is-underline" *ngIf="(shop.arPaymentInfoList.csh.bank.outstandingDiffAmt == 0 && shop.arPaymentInfoList.csh.bank.diffAmt != 0)" (click)="adjustBank(shop.locationCode,'Cash',shop.arPaymentInfoList.csh.bank, index)">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="((shop.arPaymentInfoList.csh.bank.diffAmt == null && shop.arPaymentInfoList.csh.bank.outstandingDiffAmt == null) || (shop.arPaymentInfoList.csh.bank.diffAmt == 0 && shop.arPaymentInfoList.csh.bank.outstandingDiffAmt == 0))">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt == 0 && shop.arPaymentInfoList.csh.shop.shopAmt == 0)">
                            <span class="reconcile">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.csh.bank.bankAmt == 0 && shop.arPaymentInfoList.csh.shop.shopAmt != 0 && shop.arPaymentInfoList.csh.bank.outstandingDiffAmt == 0)">
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locationCode,'Cash',shop.arPaymentInfoList.csh.bank, index)">
                                Reconcile
                            </span>
                        </td>

                        <!-- <td class="waiting" *ngIf="shop.arPaymentInfoList.chq.shop.shopAmt == null && dateNow < t2Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="shop.arPaymentInfoList.chq.shop.shopAmt == null && dateNow > t2Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="shop.arPaymentInfoList.chq.shop.shopAmt != null">
                            <span class="is-click is-link" (click)="showModal(shop.locationCode,'Cheque')">
                                {{shop.arPaymentInfoList.chq.shop.shopAmt | number:'.2'}}
                            </span>
                        </td>
                        <td *ngIf="shop.arPaymentInfoList.chq.shop.shopAmt == null">
                            0.00
                        </td>
                        <!-- <td class="waiting" *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt - shop.arPaymentInfoList.chq.shop.shopAmt - shop.arPaymentInfoList.chq.bank.diffAmt) != 0 && shop.arPaymentInfoList.chq.shop.shopAmt != null && dateNow < t2Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt - shop.arPaymentInfoList.chq.shop.shopAmt - shop.arPaymentInfoList.chq.bank.diffAmt) != 0 && shop.arPaymentInfoList.chq.shop.shopAmt != null && dateNow > t2Date">
                            Unreconcile
                        </td> -->
                        <td class="waiting" *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt == 0 && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt != 0) && dateNow < t2Date">
                            Waiting
                        </td>
                        <td class="unreconcile is-click is-link" (click)="adjustBank(shop.locationCode,'Cheque',shop.arPaymentInfoList.chq.bank, index)" *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt == 0 && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt != 0) && dateNow > t2Date">
                            Unreconcile
                        </td>
                        <!-- <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt == 0 && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt != 0) && dateNow > t2Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt != 0)">
                            <span class="textred is-click is-underline" *ngIf="shop.arPaymentInfoList.chq.bank.outstandingDiffAmt < 0" (click)="adjustBank(shop.locationCode,'Cheque',shop.arPaymentInfoList.chq.bank, index)">
                                ({{shop.arPaymentInfoList.chq.bank.outstandingDiffAmt*-1 | number:'.2'}})
                            </span>
                            <span class="textblue is-click is-underline" *ngIf="shop.arPaymentInfoList.chq.bank.outstandingDiffAmt > 0" (click)="adjustBank(shop.locationCode,'Cheque',shop.arPaymentInfoList.chq.bank, index)">
                                {{shop.arPaymentInfoList.chq.bank.outstandingDiffAmt | number:'.2'}}
                            </span>
                            <span class="reconcile is-click is-underline" *ngIf="(shop.arPaymentInfoList.chq.bank.outstandingDiffAmt == 0 && shop.arPaymentInfoList.chq.bank.diffAmt != 0)" (click)="adjustBank(shop.locationCode,'Cheque',shop.arPaymentInfoList.chq.bank,index)">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="(shop.arPaymentInfoList.chq.bank.diffAmt == null && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt == null && shop.arPaymentInfoList.chq.bank.checkDiffAmt == null) || (shop.arPaymentInfoList.chq.bank.diffAmt == 0 && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt == 0 && shop.arPaymentInfoList.chq.bank.checkDiffAmt == 0)">
                                Complete
                            </span>
                            <span class="textred is-click is-underline" *ngIf="(shop.arPaymentInfoList.chq.bank.diffAmt == null && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt == null && shop.arPaymentInfoList.chq.bank.checkDiffAmt != null) || (shop.arPaymentInfoList.chq.bank.diffAmt == 0 && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt == 0 && shop.arPaymentInfoList.chq.bank.checkDiffAmt != 0)"
                                (click)="adjustBank(shop.locationCode,'Cheque',shop.arPaymentInfoList.chq.bank, index)">
                                0.00
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt == 0 && shop.arPaymentInfoList.chq.shop.shopAmt == 0)">
                            <span class="reconcile">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.chq.bank.bankAmt == 0 && shop.arPaymentInfoList.chq.shop.shopAmt != 0 && shop.arPaymentInfoList.chq.bank.outstandingDiffAmt == 0)">
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locationCode,'Cheque',shop.arPaymentInfoList.chq.bank,index)">
                                Reconcile
                            </span>
                        </td>

                        <!-- <td class="waiting" *ngIf="shop.arPaymentInfoList.cc.shop.shopAmt == null && dateNow < t3Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="shop.arPaymentInfoList.cc.shop.shopAmt == null && dateNow > t3Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="shop.arPaymentInfoList.cc.shop.shopAmt != null">
                            <span class="is-click is-link" (click)="showModal(shop.locationCode,'Credit Card')">
                                {{shop.arPaymentInfoList.cc.shop.shopAmt | number:'.2'}}
                            </span>
                        </td>
                        <td *ngIf="shop.arPaymentInfoList.cc.shop.shopAmt == null">
                            0.00
                        </td>
                        <!-- <td class="waiting" *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt - shop.arPaymentInfoList.cc.shop.shopAmt - shop.arPaymentInfoList.cc.bank.diffAmt) != 0 && shop.arPaymentInfoList.cc.shop.shopAmt != null && dateNow < t3Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt - shop.arPaymentInfoList.cc.shop.shopAmt - shop.arPaymentInfoList.cc.bank.diffAmt) != 0 && shop.arPaymentInfoList.cc.shop.shopAmt != null && dateNow > t3Date">
                            Unreconcile
                        </td> -->
                        <td class="waiting" *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt == 0 && shop.arPaymentInfoList.cc.bank.outstandingDiffAmt != 0) && dateNow < t3Date">
                            Waiting
                        </td>
                        <td class="unreconcile is-click is-link" (click)="adjustBank(shop.locationCode,'Credit Card',shop.arPaymentInfoList.cc.bank, index)" *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt == 0 && shop.arPaymentInfoList.cc.bank.outstandingDiffAmt != 0) && dateNow > t3Date">
                            Unreconcile
                        </td>
                        <!-- <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt == 0 && shop.arPaymentInfoList.cc.bank.outstandingDiffAmt != 0) && dateNow > t3Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt != 0)">
                            <span class="textred is-click is-underline" *ngIf="shop.arPaymentInfoList.cc.bank.outstandingDiffAmt < 0" (click)="adjustBank(shop.locationCode,'Credit Card',shop.arPaymentInfoList.cc.bank, index)">
                                ({{shop.arPaymentInfoList.cc.bank.outstandingDiffAmt*-1 | number:'.2'}})
                            </span>
                            <span class="textblue is-click is-underline" *ngIf="shop.arPaymentInfoList.cc.bank.outstandingDiffAmt > 0" (click)="adjustBank(shop.locationCode,'Credit Card',shop.arPaymentInfoList.cc.bank, index)">
                                {{shop.arPaymentInfoList.cc.bank.outstandingDiffAmt | number:'.2'}}
                            </span>
                            <span class="reconcile is-click is-underline" *ngIf="(shop.arPaymentInfoList.cc.bank.outstandingDiffAmt == 0 && shop.arPaymentInfoList.cc.bank.diffAmt != 0)" (click)="adjustBank(shop.locationCode,'Credit Card',shop.arPaymentInfoList.cc.bank, index)">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="(shop.arPaymentInfoList.cc.bank.diffAmt == null && shop.arPaymentInfoList.cc.bank.outstandingDiffAmt == null) || (shop.arPaymentInfoList.cc.bank.diffAmt == 0 && shop.arPaymentInfoList.cc.bank.outstandingDiffAmt == 0)">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt == 0 && shop.arPaymentInfoList.cc.shop.shopAmt == 0)">
                            <span class="reconcile">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.cc.bank.bankAmt == 0 && shop.arPaymentInfoList.cc.shop.shopAmt != 0 && shop.arPaymentInfoList.cc.bank.outstandingDiffAmt == 0)">
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locationCode,'Credit Card',shop.arPaymentInfoList.cc.bank, index)">
                                Reconcile
                            </span>
                        </td>

                        <!-- <td class="waiting" *ngIf="shop.arPaymentInfoList.wht.shop.shopAmt == null && dateNow < t1Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="shop.arPaymentInfoList.wht.shop.shopAmt == null && dateNow > t1Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="shop.arPaymentInfoList.wht.shop.shopAmt != null">
                            <span class="is-click is-link" (click)="showModal(shop.locationCode,'wht')">
                                {{shop.arPaymentInfoList.wht.shop.shopAmt | number:'.2'}}
                            </span>
                        </td>
                        <td *ngIf="shop.arPaymentInfoList.wht.shop.shopAmt == null">
                            0.00
                        </td>
                        <!-- <td class="waiting" *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt - shop.arPaymentInfoList.wht.shop.shopAmt - shop.arPaymentInfoList.wht.bank.diffAmt) != 0 && shop.arPaymentInfoList.wht.shop.shopAmt != null && dateNow < t4Date">
                            Waiting
                        </td>
                        <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt - shop.arPaymentInfoList.wht.shop.shopAmt - shop.arPaymentInfoList.wht.bank.diffAmt) != 0 && shop.arPaymentInfoList.wht.shop.shopAmt != null && dateNow > t4Date">
                            Unreconcile
                        </td> -->
                        <td class="waiting" *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt == 0 && shop.arPaymentInfoList.wht.bank.outstandingDiffAmt != 0) && dateNow < t1Date">
                            Waiting
                        </td>
                        <td class="unreconcile is-click is-link" (click)="adjustBank(shop.locationCode,'wht',shop.arPaymentInfoList.wht.bank, index)" *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt == 0 && shop.arPaymentInfoList.wht.bank.outstandingDiffAmt != 0) && dateNow > t1Date">
                            Unreconcile
                        </td>
                        <!-- <td class="unreconcile" *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt == 0 && shop.arPaymentInfoList.wht.bank.outstandingDiffAmt != 0) && dateNow > t1Date">
                            Unreconcile
                        </td> -->
                        <td *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt != 0)">
                            <span class="textred is-click is-underline" *ngIf="shop.arPaymentInfoList.wht.bank.outstandingDiffAmt < 0" (click)="adjustBank(shop.locationCode,'wht',shop.arPaymentInfoList.wht.bank, index)">
                                ({{shop.arPaymentInfoList.wht.bank.outstandingDiffAmt*-1 | number:'.2'}})
                            </span>
                            <span class="textblue is-click is-underline" *ngIf="shop.arPaymentInfoList.wht.bank.outstandingDiffAmt > 0" (click)="adjustBank(shop.locationCode,'wht',shop.arPaymentInfoList.wht.bank, index)">
                                {{shop.arPaymentInfoList.wht.bank.outstandingDiffAmt | number:'.2'}}
                            </span>
                            <span class="reconcile is-click is-underline" *ngIf="(shop.arPaymentInfoList.wht.bank.outstandingDiffAmt == 0 && shop.arPaymentInfoList.wht.bank.diffAmt != 0)" (click)="adjustBank(shop.locationCode,'wht',shop.arPaymentInfoList.wht.bank, index)">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="(shop.arPaymentInfoList.wht.bank.diffAmt == null && shop.arPaymentInfoList.wht.bank.outstandingDiffAmt == null) || (shop.arPaymentInfoList.wht.bank.diffAmt == 0 && shop.arPaymentInfoList.wht.bank.outstandingDiffAmt == 0)">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt == 0 && shop.arPaymentInfoList.wht.shop.shopAmt == 0)">
                            <span class="reconcile">
                                Complete
                            </span>
                        </td>
                        <td *ngIf="(shop.arPaymentInfoList.wht.bank.bankAmt == 0 && shop.arPaymentInfoList.wht.shop.shopAmt != 0 && shop.arPaymentInfoList.wht.bank.outstandingDiffAmt == 0)">
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locationCode,'wht',shop.arPaymentInfoList.wht.bank, index)">
                                Reconcile
                            </span>
                        </td>

                        <!-- <td class="is-text" class="is-click is-link" (click)="showModal(shop.locCode,'Cash')">{{shop.Cash.shopAmt | number:'.2'}}</td>
                        <td class="is-text" *ngIf="shop.Cash.tranDate <= t2Date && shop.Cash.bankAmt">
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locCode,'Cash',shop.Cash )" *ngIf="shop.Cash.ostDiff == 0 && shop.Cash.diff != 0">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="shop.Cash.ostDiff == 0 && shop.Cash.diff == 0">
                                Complete
                            </span>
                            <span class="textblue is-click is-underline" (click)="adjustBank(shop.locCode,'Cash',shop.Cash)" *ngIf="shop.Cash.ostDiff > 0">
                                {{shop.Cash.ostDiff | number:'.2'}}
                            </span>
                            <span class="textred is-click is-underline" (click)="adjustBank(shop.locCode,'Cash',shop.Cash)" *ngIf="shop.Cash.ostDiff < 0">
                                {{shop.Cash.ostDiff | number:'.2'}}
                            </span>
                        </td>

                        <td class="is-text waiting" *ngIf="shop.Cash.tranDate <= t2Date && !shop.Cash.bankAmt">
                            Waiting
                        </td>

                        <td class="is-text unreconcile" *ngIf="shop.Cash.tranDate > t2Date">
                            Unreconcile
                        </td>

                        <td class="is-text" class="is-click is-link" (click)="showModal(shop.locCode,'Cheque')">{{shop.Cheque.shopAmt | number:'.2'}}</td>
                        <td class="is-text" *ngIf="shop.Cheque.tranDate <= t3Date && shop.Cheque.bankAmt">
                            <span class="textblue is-click is-underline" (click)="adjustBank(shop.locCode,'Cheque',shop.Cheque)" *ngIf="shop.Cheque.ostDiff > 0">
                                {{shop.Cheque.ostDiff | number:'.2'}}
                            </span>
                            <span class="textred is-click is-underline" (click)="adjustBank(shop.locCode,'Cheque',shop.Cheque)" *ngIf="shop.Cheque.ostDiff < 0">
                                {{shop.Cheque.ostDiff | number:'.2'}}
                            </span>
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locCode,'Cheque',shop.Cheque)" *ngIf="shop.Cheque.ostDiff == 0 && shop.Cheque.diff != 0">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="shop.Cheque.ostDiff == 0 && shop.Cheque.diff == 0">
                                Complete
                            </span>
                        </td>
                        <td class="is-text waiting" *ngIf="shop.Cheque.tranDate <= t3Date && !shop.Cheque.bankAmt">
                            Waiting
                        </td>

                        <td class="is-text unreconcile" *ngIf="shop.Cheque.tranDate > t3Date">
                            Unreconcile
                        </td>

                        <td class="is-text" class="is-click is-link" (click)="showModal(shop.locCode,'Credit Card')">{{shop.CreditCard.shopAmt | number:'.2'}}</td>
                        <td class="is-text" *ngIf="shop.CreditCard.tranDate <= t1Date && shop.CreditCard.bankAmt">
                            <span class="textblue is-click is-underline" (click)="adjustBank(shop.locCode,'Credit Card',shop.CreditCard)" *ngIf="shop.CreditCard.ostDiff > 0">
                                {{shop.CreditCard.ostDiff | number:'.2'}}
                            </span>
                            <span class="textred is-click is-underline" (click)="adjustBank(shop.locCode,'Credit Card',shop.CreditCard)" *ngIf="shop.CreditCard.ostDiff < 0">
                                {{shop.CreditCard.ostDiff | number:'.2'}}
                            </span>
                            <span class="reconcile" (click)="adjustBank(shop.locCode,'Credit Card',shop.CreditCard)" *ngIf="shop.CreditCard.ostDiff == 0 && shop.CreditCard.diff != 0">
                                Reconcile
                            </span>
                            <span class="reconcile is-click is-underline" *ngIf="shop.CreditCard.ostDiff == 0 && shop.CreditCard.diff == 0">
                                Complete
                            </span>
                        </td>

                        <td class="is-text waiting" *ngIf="shop.CreditCard.tranDate <= t1Date && !shop.CreditCard.bankAmt">
                            Waiting
                        </td>

                        <td class="is-text unreconcile" *ngIf="shop.CreditCard.tranDate > t1Date">
                            Unreconcile
                        </td>

                        <td class="is-text" class="is-click is-link" (click)="showModal(shop.locCode,'','wht')">{{shop.WHT.shopAmt | number:'.2'}}</td>
                        <td class="is-text" *ngIf="shop.WHT.tranDate <= t4Date && shop.WHT.bankAmt">
                            <span class="textblue is-click is-underline" (click)="adjustBank(shop.locCode,'wht',shop.WHT)" *ngIf="shop.WHT.ostDiff > 0">
                                {{shop.WHT.ostDiff | number:'.2'}}
                            </span>
                            <span class="textred is-click is-underline" (click)="adjustBank(shop.locCode,'wht',shop.WHT)" *ngIf="shop.WHT.ostDiff < 0">
                                {{shop.WHT.ostDiff | number:'.2'}}
                            </span>
                            <span class="reconcile is-click is-underline" (click)="adjustBank(shop.locCode,'wht',shop.WHT)" *ngIf="shop.WHT.ostDiff == 0 && shop.WHT.diff != 0">
                                Reconcile
                            </span>
                            <span class="reconcile" *ngIf="shop.WHT.ostDiff == 0 && shop.WHT.diff == 0">
                                Complete
                            </span>
                        </td>

                        <td class="is-text waiting" *ngIf="shop.WHT.tranDate <= t4Date && !shop.WHT.bankAmt">
                            Waiting
                        </td>

                        <td class="is-text unreconcile" *ngIf="shop.WHT.tranDate > t4Date">
                            Unreconcile
                        </td> -->
                        <!-- hidden attach icon                     -->
                        <!-- <td>
                            <img src="assets/icon/folder.png">
                        </td> -->
                    </tr>

                    <tr *ngFor="let unclose of notClosing" [hidden]="unclose == ' ' || unclose == ''">
                        <td class="is-center" title="{{unclose.locationNameTh}}">
                            {{unclose.locationCode}}
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                        <td class="not-close">
                            Not Closing
                        </td>
                    </tr>
                </tbody>
                <ng-template #load>
                    <tbody>
                        <tr>
                            <td colspan="9">
                                <img src="assets/logo/tran_dtac.gif">
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary is-white" (click)="goBack()">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<!-- Modal List -->
<p-dialog *ngIf="box == 1" [(visible)]="display" [responsive]="true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div style="height: 500px">
        <app-adjust-shop [(data)]="data"></app-adjust-shop>
    </div>
</p-dialog>

<!-- Modal adjust Bank List -->
<p-dialog *ngIf="box == 2" [(visible)]="display" [responsive]=" true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div class="row">
        <div class="col col-5">
            <button class="btn btn-info" (click)="addAdjustBank()" name="add adjust" *ngIf="(sendData.ostDiff != 0 && !sendData.postGlFlag) || sendData.checkDiffAmt > 0">เพิ่มรายการ</button>
        </div>
        <div class="offset-4">
            <p>
                Location Code: {{sendData.locationCode}}<br/> Bank Adjustment<br/> {{sendData.paymentTypeCode == 'CC' ? 'Credit Card' : sendData.paymentTypeCode == 'CHQ' ? 'Cheque' : sendData.paymentTypeCode == 'CSH' ? 'Cash' : 'Withholding Tax'}}
            </p>
        </div>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '500px'}">
        <table class="table table-bordered p-5">
            <tr>
                <th class="is-center">Adjust No</th>
                <th class="is-center">Company</th>
                <th class="is-center">Adjust Type</th>
                <th class="is-center">Status</th>
                <th class="is-center">PaymentType</th>
                <th class="is-center" *ngIf="backupDate.dataType == 'Cheque'">Cheque No</th>
                <th class="is-center">Amount</th>
                <th class="is-center">Post GL Date</th>
                <th class="is-center" colspan="2">Action</th>
            </tr>
            <tbody *ngIf="filterData.length;else noData">
                <tr *ngFor="let data of filterData" class="is-link is-click" data-dismiss="modal">
                    <td class="is-center" (click)="view(data)">{{data.adjustDocId}}</td>
                    <td class="is-center" (click)="view(data)">{{data.companyCode}}</td>
                    <td class="is-text" (click)="view(data)">{{data.adjustMasterType}}</td>
                    <td class="is-center" (click)="view(data)">{{data.adjustStatus}}</td>
                    <td class="is-center" (click)="view(data)">{{data.paymentTypeCode == 'CSH' ? 'Cash' : data.paymentTypeCode == 'CHQ' ? 'Cheque' : 'Credit Card'}} </td>
                    <td class="is-center" (click)="view(data)" *ngIf="backupDate.dataType == 'Cheque'">{{ data.chequeNo ? data.chequeNo : '-' }} </td>
                    <td class="is-money" (click)="view(data)">{{data.adjustAmt | number:'.2'}}</td>
                    <td class="is-center" (click)="view(data)">{{data.postGlDate | date:'dd/MM/yyyy'}}</td>
                    <td class="is-center">
                        <button class="is-click" [disabled]="data.postGlDate || data.postGlFlag == 'RE'" (click)="checkEdit(data)">
                            <img  title="แก้ไข" src="assets/icon/edit.png">
                        </button>
                    </td>
                    <td class="is-center">
                        <button class="is-click" [disabled]="data.postGlDate != null || data.postGlFlag == 'RE'" data-toggle="modal" (click)="stockData(data)">
                            <img  title="ลบ" src="assets/icon/trash.png">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <p-paginator [rows]="paginator.pagingInfo.recordPerPage" [totalRecords]="paginator.pagingInfo.totalRecords" (onPageChange)="paginateAdj($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.pagingInfo.totalRecords}}
                        </p>
                    </td>
                </tr>
            </tbody>
            <ng-template #noData>
                <tbody>
                    <tr class="is-center" *ngIf="loading == true">
                        <td colspan="11" class="is-center">
                            <img src="assets/logo/tran_dtac.gif" alt="">
                        </td>
                    </tr>
                    <tr class="is-center" *ngIf="loading == false">
                        <td colspan="9">
                            No Data.
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </p-scrollPanel>
</p-dialog>

<!-- Modal add Adjust Bank Cash And CreditCard  -->
<p-dialog *ngIf="box == 3" [(visible)]="display" [responsive]=" true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div style="height: 520px">
        <app-adjust-bank (decreaseAmount)="decrease($event)" [(rawData)]='sendData' (disSwitch)="onSwitch($event)" (disClose)="onClose($event)"></app-adjust-bank>
    </div>
</p-dialog>

<!-- Modal add Adjust Bank Cash And CreditCard  -->
<p-dialog *ngIf="box == 4" [(visible)]="display" [responsive]=" true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div style="height: 500px">
        <div class="head">
            <h2 class="is-center">{{sendData.dataType == 'wht' ? 'Withholding Tax' : sendData.dataType }}</h2>
            <table class="table table-bordered">
                <tr>
                    <th class="is-center" [ngClass]="{'wht-head':sendData.dataType == 'wht', 'cheque-head':sendData.dataType == 'Cheque', 'credit-head':sendData.dataType == 'Credit Card'}">Company</th>
                    <th class="is-center" [ngClass]="{'wht-head':sendData.dataType == 'wht', 'cheque-head':sendData.dataType == 'Cheque', 'credit-head':sendData.dataType == 'Credit Card'}">Amount</th>
                    <th class="is-center" [ngClass]="{'wht-head':sendData.dataType == 'wht', 'cheque-head':sendData.dataType == 'Cheque', 'credit-head':sendData.dataType == 'Credit Card'}">Outstanding Diff.</th>
                </tr>
                <tbody>
                    <tr *ngFor="let data of listCompanyData" class="is-link is-click" (click)="sendData.dataType == 'Credit Card' || sendData.dataType == 'wht'|| sendData.dataType == 'WHT'  ? callAdjust(data) : callList(data, '1')">
                        <td class="is-center">{{data.companyCode}}</td>
                        <td class="is-money">{{data.shopAmt | number: '.2'}}</td>
                        <td class="is-money textred" *ngIf="data.outstandingDiffAmt < 0">({{data.outstandingDiffAmt*-1 | number: '.2'}})</td>
                        <td class="is-money " *ngIf="data.outstandingDiffAmt >= 0">{{data.outstandingDiffAmt | number: '.2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</p-dialog>

<p-dialog *ngIf="box == 5" [(visible)]="display" [responsive]="true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div class="contrainer">
        <div class="head">
            <h2>Adjust {{sendData.dataType}}</h2>
            <!-- <p class="dbline2" (click)="onCancel(true)"></p> -->
        </div>
        <div class="main col-md-12">
            <div class="row">
                <div class="col col-md-12" *ngIf="url == 'Treasury'">
                    Sale & Payment Date: {{ sendData.saleSlipDate | date:'dd/MM/yyyy'}}
                </div>
                <div class="col col-md-12" *ngIf="url == 'shop'">
                    adjust Date: {{ sendData.adjustDate | date:'dd/MM/yyyy'}}
                </div>
                <div class="col col-md-3">
                    <p>Company</p>
                </div>
                <div class="col col-md-9">
                    <input type="text" class="form-control" placeholder="" name="company" disabled [(ngModel)]="sendData.company">
                </div>
                <div class="col col-md-3">
                    <p>Payment Type</p>
                </div>
                <div class="col col-md-9">
                    <input type="text" class="form-control" placeholder="" name="adjustType" disabled [(ngModel)]="sendData.dataType">
                </div>
                <div class="col col-md-3">
                    <p>Adjust Type </p>
                </div>
                <div class="col col-md-9">
                    <input type="text" class="form-control" placeholder="" *ngFor="let type of adjustType" name="bankEdc" [hidden]="type.adjustMasterId != sendData.adjustMasterId" disabled [attr.value]="type.adjustType">
                </div>
                <div class="col col-md-3" [hidden]="!sendData.bankAccNo">
                    <p>Bank Description</p>
                </div>
                <div class="col col-md-9" [hidden]="!sendData.bankAccNo">
                    <input type="text" class="form-control" placeholder="" *ngFor="let bank of bankDes" name="bankEdc" [hidden]="sendData.bankAccNo != bank.bankAccountNo" disabled [(ngModel)]="bank.bankAccountName">
                </div>

                <div class="col col-md-3">
                    <p>Status </p>
                </div>
                <div class="col col-md-9">
                    <!-- <input type="text" class="form-control" placeholder="" *ngFor="let status of adjustStatus" name="merchartId" [hidden]="status.adjustStatusCode != sendData.status" disabled [attr.value]="status.adjustStatusDesc"> -->
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="sendData.status" disabled [attr.value]="status.adjustStatusDesc">
                </div>
                <div class="col col-md-3">
                    <p>Amount</p>
                </div>
                <div class="col col-md-9">
                    <input currencyMask maxlength="14" type="text" class="form-control" placeholder="" name="amount" disabled [(ngModel)]="sendData.ostDiff">
                </div>
                <div class="col col-md-3">
                    <p>Note</p>
                </div>
                <div class="col col-md-9">
                    <input type="text" class="form-control" placeholder="-" name="Note" disabled [(ngModel)]="sendData.note">
                </div>
                <div class="col-md-12 is-money mt-3">
                    <button class="btn bg-light" (click)="onClose(true)" name="Cancel">Close</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4 offset-5">
                <div *ngIf="loaded == true">
                    <img src="assets/logo/tran_dtac.gif" alt="">
                </div>
                <div *ngIf="msg == 'fail'">
                    <p>No Data</p>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog *ngIf="box == 6" [(visible)]="display" [responsive]=" true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <p-scrollPanel [style]="{width: '100%', height: '500px'}">
        <div style="padding:1em;line-height:1.5">
            <div class="head">
                <h2 class="is-center">{{listAdjustDetail.dataType == 'WHT' ? 'Withholding Tax' : listAdjustDetail.dataType }}</h2>
                <h3 class="is-text">
                    Company: {{listAdjustDetail.company}}
                </h3>
                <table class="table table-bordered">
                    <tr>
                        <th *ngIf="conditionPaging.dataType == 'Cheque'" class="is-center" [ngClass]="{'wht-head':conditionPaging.dataType == 'wht', 'cheque-head':conditionPaging.dataType == 'Cheque', 'credit-head':conditionPaging.dataType == 'Credit Card'}">Cheque No</th>
                        <th *ngIf="conditionPaging.dataType == 'wht'" class="is-center" [ngClass]="{'wht-head':conditionPaging.dataType == 'wht', 'cheque-head':conditionPaging.dataType == 'Cheque', 'credit-head':conditionPaging.dataType == 'Credit Card'}">Payment Type</th>
                        <th *ngIf="conditionPaging.dataType == 'wht'" class="is-center" [ngClass]="{'wht-head':conditionPaging.dataType == 'wht', 'cheque-head':conditionPaging.dataType == 'Cheque', 'credit-head':conditionPaging.dataType == 'Credit Card'}">Tax ID</th>
                        <!-- <th *ngIf="sendData.dataType == 'wht'" class="is-center" [ngClass]="{'wht-head':sendData.dataType == 'wht', 'cheque-head':sendData.dataType == 'Cheque', 'credit-head':sendData.dataType == 'Credit Card'}">Customer Name</th> -->
                        <th class="is-center" [ngClass]="{'wht-head':conditionPaging.dataType == 'wht', 'cheque-head':conditionPaging.dataType == 'Cheque', 'credit-head':conditionPaging.dataType == 'Credit Card'}">Amount</th>
                        <th class="is-center" [ngClass]="{'wht-head':conditionPaging.dataType == 'wht', 'cheque-head':conditionPaging.dataType == 'Cheque', 'credit-head':conditionPaging.dataType == 'Credit Card'}">Outstanding Diff.</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let listAdjust of listAdjustData;" class="is-link is-click" (click)="callAdjust(listAdjust)">
                            <td *ngIf="conditionPaging.dataType == 'Cheque'" class="is-center">{{listAdjust.chequeNo}}</td>
                            <td *ngIf="conditionPaging.dataType == 'wht'" class="is-center">{{listAdjust.paymentTypeCode == 'CSH' ? 'Cash' : listAdjust.paymentTypeCode == 'CHQ' ? 'Cheque' : listAdjust.paymentTypeCode == 'CC' ? 'Credit Card' : ''}}</td>
                            <td *ngIf="conditionPaging.dataType == 'wht'" class="is-center">{{listAdjust.taxId}}</td>
                            <!-- <td *ngIf="sendData.dataType == 'wht'" class="is-center">{{listAdjust.customerName}}</td> -->
                            <td class="is-money">{{listAdjust.shopAmt | number: '.2'}}</td>
                            <td class="is-money textred" *ngIf="listAdjust.outstandingDiffAmt < 0">({{listAdjust.outstandingDiffAmt*-1 | number: '.2'}})</td>
                            <td class="is-money " *ngIf="listAdjust.outstandingDiffAmt >= 0">{{listAdjust.outstandingDiffAmt | number: '.2'}}</td>
                        </tr>
                    </tbody>
                </table>


                <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                <p class="total-records">
                    Total records: {{paginator.totalRecords}}
                </p>
            </div>
        </div>
    </p-scrollPanel>
</p-dialog>

<p-dialog *ngIf="boxAlert === 1" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [positionTop]="100" [minY]="70" [baseZIndex]="10000" (onHide)="cancel()">
    <div class="col-md-4 offset-5">
        <p>You want to delete </p>
    </div>
    <div class="col-md-6 offset-5 pb-3">
        <button type="button" (click)="delete()" class="btn btn-primary btn-ok" data-toggle="modal" data-target="#delete" name="delete">OK</button>
        <button type="button" class="btn bg-light" (click)="cancel()">Cancel</button>
    </div>
</p-dialog>


<div class="modal fade" id="delete" style="z-index: 20000;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="msg == 'success'">
                <img src="assets/icon/fail.png" *ngIf="msg == 'isref' || msg == 'fail'">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msg== 'success'">Delete complete</p>
                <p *ngIf="msg == 'isref'">ไม่สามารถดำเนินการได้ เนื่องจากมีรายการอ้างอิงอยู่</p>
                <p *ngIf="msg == 'fail'">ไม่สามารถดำเนินการได้</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button class="btn btn-primary" data-dismiss="modal" mc-web>OK</button>
            </div>
        </div>
    </div>
</div>



<p-dialog [(visible)]="display" *ngIf="boxedit == 1" [responsive]="true" [width]="800" [minWidth]="200" [minY]="0" [positionTop]="50" [baseZIndex]="10000">
    <div class="col-md-4 offset-5">
        <img *ngIf="msg == 'overref'" src="assets/icon/fail.png">
    </div>
    <div class="modal-body text-center">
        <p *ngIf="msgUd == 'false'">ไม่สามารถดำเนินการได้ เนื่องจากมีรายการอ้างอิงอยู่</p>
    </div>
    <div class="col-md-6 offset-5 pb-3">
        <button class=" btn btn-primary" (click)="cancelEdit()">OK</button>
    </div>
</p-dialog>