.head {
    text-align: center
}

th {
    text-align: center;
    color: whitesmoke;
    background-color: #009edf;
}

td {
    text-align: center;
}

.waiting {
    background-color: rgb(231, 227, 227)
}

.unclosing {
    background-color: rgb(243, 28, 28);
}

.unreconcile {
    background-color: rgb(250, 114, 65)
}

.reconcile {
    color: rgb(62, 175, 39)
}

.textblue {
    color: #009edf
}

.textred {
    color: rgb(243, 28, 28)
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
}

.is-center {
    text-align: center;
}

.is-link {
    text-decoration: underline;
    color: rgb(11, 49, 155);
}

.btn {
    padding: 5px;
    margin-bottom: 5px;
}

.is-white {
    color: white !important;
}

.is-money {
    text-align: right;
}

.is-right {
    float: right;
}

.is-text {
    text-align: left;
}

.wht-head {
    background-color: #00c27a !important;
}

.credit-head {
    background-color: rgb(14, 132, 181) !important
}

.cheque-head {
    background-color: #ffa43c !important
}

.col {
    padding-top: 2px;
    padding-bottom: 2px;
}

.not-close {
    background-color: #e91313;
    color: #FFFFFF;
}

.padding-r25 {
    padding-right: 25px;
}

.btn-ok {
    padding-left: 20px;
    padding-right: 20px;
}

.is-sky {
    background: rgb(0, 160, 224) !important;
    /* background: #0E84B5 !important; */
    color: #FFFFFF;
    font-weight: bold;
}

.is-light-sky {
    background: rgb(0, 160, 224) !important;
    /* background: #4d96b6 !important;
    color: #000000;
    font-weight: bold; */
}

.is-orange {
    background: rgb(0, 160, 224) !important;
    /* background: #ffa43c!important;
    font-weight: bold;
    color: #FFFFFF; */
}

.is-light-orange {
    background: rgb(0, 160, 224) !important;
    /* background: #ffc862;
    font-weight: bold;
    color:#000000 ;*/
}

.is-green {
    background: rgb(0, 160, 224) !important;
    /* background: #00c27a!important;
    font-weight: bold;
    color: #FFFFFF; */
}

.is-light-green {
    background: rgb(0, 160, 224) !important;
    /* background: #C4E48C;
    font-weight: bold;
    color:#000000 */
}