.head {
    text-align: center;
}

.dbline2 {
    border-style: hidden hidden solid hidden;
    border-color: #44b4ff;
}

.row {
    margin-bottom: 10px;
}

.is-left {
    text-align: left;
    float: left;
}

.is-right {
    text-align: right;
    float: right;
}

.form-control {
    margin: 0vh 0px;
}

.is-margin-button {
    margin: 1vh 0px;
}

p {
    margin-top: 1rem;
}

.width-div {
    padding: 0px;
}

.msgAlert {
    color: red
}

.important {
    color: red
}

span {
    text-align: center;
}

.is-text {
    margin-top: 1rem
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
}

.is-center {
    text-align: center;
}

.is-padding-table {
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.is-click {
    cursor: pointer;
}

.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.w-40 {
    width: 40px;
    word-break: break-all
}

.w-120 {
    width: 120px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.col {
    padding-top: 2px;
    padding-bottom: 2px;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.is-money {
    text-align: right;
}

.is-text {
    text-align: left;
}

.is-center {
    text-align: center;
}

.is-right-only {
    text-align: right;
}