<div class="Adjust_page">
    <div class="head">
        <h2>{{rawData.adjustMasterType ? 'Update' : ''}} Adjust {{rawData.whtFlag == 'Y' ? 'Withholding Tax' : rawData.paymentTypeCode == 'CSH' ? 'Cash' : rawData.paymentTypeCode == 'CC' ? 'Credit Card' : 'Cheque' }}</h2>
        <p class="dbline2"></p>
    </div>
    <div class="main col-md-10 offset-md-1">

        <div class="row">
            <div class="col col-md-12" *ngIf="!rawData.adjustMasterType">
                <a *ngIf="!rawData.saleSlipDate"> As of : {{ rawData.mainDocDate |  date:'dd/MM/yyyy'}}</a>
                <a *ngIf="rawData.saleSlipDate"> As of : {{ rawData.saleSlipDate}}</a>
                <span class="is-right">
                    Location : {{rawData.locationCode}}
                </span>
                <table class="table table-bordered" style="background-color: #e9ecef;">
                    <tr>
                        <td>
                            <span class="is-left" *ngIf="rawData.whtFlag == 'N'">
                                <select class="form-control" name="dataType" disabled="true" [(ngModel)]="rawData.paymentTypeCode">
                                    <option value="">กรุณาระบุ</option>
                                    <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N'">{{payment.paymentTypeDesc}}</option>
                                </select>
                            </span>
                            <span class="is-left">
                                <select class="form-control" name="company" [(ngModel)]="rawData.company" disabled="true">
                                    <option value="">กรุณาระบุ</option>
                                    <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                <div>Outstanding Diff.</div>
                                <div>{{rawData.ostDiff | number:'.2'}} THB</div>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="rawData.paymentTypeCode == 'CHQ' && rawData.dataType == 'Cheque'">
                        <td>
                            <span class="is-left">
                                Cheque No.
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                {{rawData.chequeNo}}
                            </span>
                        </td>
                    </tr>
                    <!----------- WHT per record ------------>
                    <!-- <tr *ngIf="rawData.taxNo != null && rawData.dataType == 'WHT'">
                        <td>
                            <span class="is-left">
                                Tax ID
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                {{rawData.taxNo}}
                            </span>
                        </td>
                    </tr> 
                    <tr *ngIf="rawData.customerName != null && rawData.dataType == 'WHT'">
                        <td>
                            <span class="is-left">
                                Customer Name
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                {{rawData.customerName}}
                            </span>
                        </td>
                    </tr>-->
                </table>
            </div>
            <div class="col col-md-4" [hidden]="rawData.adjustMasterType">
                <p>Ref Document</p>
            </div>
            <div class="col col-md-5" [hidden]="rawData.adjustMasterType">
                <input type="text" class="form-control" name="search" disabled [(ngModel)]="rawData.adjustNo" [attr.value]="form.adjustDoc">
            </div>
            <div class="col col-md-3" [hidden]="rawData.adjustMasterType">
                <button class="btn btn-primary" (click)="showDialog()">Search</button>
            </div>
            <div class="col col-md-4 is-text">
                <span>Adjust Type </span>
                <span class="important">*</span>
            </div>
            <div class="col col-md-8">
                <select class="form-control" name="description" [(ngModel)]="rawData.adjustMasterId" (ngModelChange)="setCnFlag()" [disabled]="resolve">
                    <option value=undefined >กรุณาระบุ</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'AR' || type.autoFlag == 'Y'" >{{type.adjustType}}</option>
                   <!--  <option *ngFor="let types of type">{{types.adjustType}}</option> -->
                </select>
            </div>
            <div class="col col-md-4 is-text" *ngIf="fixAccountFlag == 'N'">
                <span>Bank Description</span>
                <span class="important">*</span>
            </div>
            <div class="col col-md-8" *ngIf="fixAccountFlag == 'N'">
                <select class="form-control" name="status" [(ngModel)]="bankAccNo" (ngModelChange)="setGlAcc()">
                    <option value=null>กรุณาระบุ</option>
                    <option *ngFor="let bank of bankDes" value={{bank.bankAccountNo}}>{{bank.bankAccountName}}</option>
                </select>
            </div>
            <div class="col col-md-4 is-text">
                <span>Status</span>
                <span class="important">*</span>
            </div>
            <div class="col col-md-8">
                <select class="form-control" name="status" [(ngModel)]="status" disabled>
                    <option *ngFor="let status of adjustStatus" [hidden]="status.adjustStatusCode == '3'" value={{status.adjustStatusCode}}>{{status.adjustStatusDesc}}</option>
                </select>
            </div>
            <div class="col col-4 is-text" *ngIf="rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <span>Bank (EDC)</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" *ngIf="rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <select name="bankEdc" class="form-control" [(ngModel)]="rawData.bankEdc" (ngModelChange)="loadMerchant()">
                    <option value=undefined>กรุณาระบุ</option>
                    <option *ngFor="let bank of bank" value="{{bank.bankName}}">{{bank.bankName}}</option>
                </select>
            </div>
            <div class="col col-4 is-text" *ngIf=" rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <span>Merchant ID</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" *ngIf="(rawData.paymentTypeCode === 'CC') && cnFlag == 'Y'">
                <select name="merchartId" class="form-control" [(ngModel)]="rawData.merchartId" [disabled]="rawData.bankEdc == 'undefined' || rawData.bankEdc == undefined || !rawData.bankEdc">
                    <option value=undefined>กรุณาระบุ</option>
                    <option *ngFor="let merchant of merchant" value="{{merchant.merchantId}}">{{merchant.merchantType}}</option>
                </select>
            </div>
            <div class="col col-4 is-text" *ngIf="rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <span>Sale Slip Date</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" *ngIf="rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <p-calendar name="saleSlipDate" placeholder="dd/mm/yy" dateFormat="dd/mm/yy" [(ngModel)]="rawData.saleSlipDate" [showIcon]="true"></p-calendar>
            </div>
            <div class="col col-4 is-text" *ngIf="rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <span>Last 4 digits</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" *ngIf="rawData.paymentTypeCode === 'CC' && cnFlag == 'Y'">
                <input type="text" pInputText pKeyFilter="int" class="form-control" name="Last" [(ngModel)]="rawData.last4Digi" maxlength="4">
            </div>
            <div class="col col-md-4 is-text">
                <span>Amount</span>
                <span class="important">*</span>
            </div>
            <div class="col col-md-8">
                <input type="text" pInputText pKeyFilter="money" maxlength="14" placeholder="0.00" class="form-control is-right" [disabled]="resolve || (rawData.paymentTypeCode == 'CHQ' && rawData.dataType == 'Cheque') || rawData.adjustNo" name="amount" [(ngModel)]="amount"
                    (keyup)="isOnlyNumber($event, amount)" (blur)="isOnlyNumber($event, amount)">
            </div>
            <div class="col col-md-4 is-text">
                <span>Note</span>
            </div>
            <div class="col col-md-8">
                <input type="text" class="form-control" name="Note" placeholder="-" [(ngModel)]="rawData.note">
            </div>
            <div class="col-md-12 is-right pt-2">
                <button class="btn btn-primary" type="button" *ngIf="!rawData.adjustMasterType && !disableSave" (click)="checkAmtWithFlag('save')" [disabled]="disableSave" data-toggle="modal" data-target="#save" name="Save ">Save</button>
                <button class="btn btn-primary" type="button" *ngIf="!rawData.adjustMasterType && disableSave" [disabled]="disableSave" data-toggle="modal" data-target="#save" name="Save">Save</button>
                <button class="btn btn-primary" type="button" *ngIf="rawData.adjustMasterType && !disableSave" (click)="checkAmtWithFlag('update')" [disabled]="disableSave" data-toggle="modal" data-target="#save" name="Save ">Save</button>
                <button class="btn btn-primary" type="button" *ngIf="rawData.adjustMasterType && disableSave" [disabled]="disableSave" data-toggle="modal" data-target="#save" name="Save ">Save</button>
                <button class="btn bg-light" (click)="success(true)" name="Cancel" [disabled]="disableCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<p-dialog [(visible)]="display" [responsive]="true" [width]="1200" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <p-scrollPanel [style]="{width: '100%', height: '500px'}">
        <div style="padding:1em;line-height:1.5">
            <div class="boxtext">
                <div class="row">
                    <div class="col col-md-2">
                        <p class="is-bold">Company</p>
                    </div>
                    <div class="col col-md-4">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.company">
                    <option value="" selected>All</option>
                    <option *ngFor="let company of company" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                </select>

                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Payment Type</p>
                    </div>
                    <div class="col col-md-4">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType">
                    <option value=null selected>All</option>
                    <option value="CSH">Cash</option>
                    <option value="CHQ">Cheque</option>
                    <option value="CC">Credit Card</option>
                </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-md-2">
                        <p class="is-bold">Location Code</p>
                    </div>
                    <div class="col col-md-4 mb-2" *ngIf="locationList.length > 1">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" name="description">
                            <option value=''>All</option>
                            <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
                        </select>
                    </div>
                    <div class="col col-md-4 mb-2" *ngIf="locationList.length == 1">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" disabled>
                    <option value="{{mockLocationId}}">{{mockLocationId}}</option>
                </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Location name</p>
                    </div>
                    <div class="col col-md-4">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" disabled>
                                <option value=''>All</option>
                    <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.name}}</option>
                    
                </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Adjust Type</p>
                    </div>
                    <div class="col col-md-4">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.adjustType" [hidden]="form.adjSrchReq.doctype =='undefined' || form.adjSrchReq.doctype ==undefined">
                            <option value=undefined >All</option>
                            <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != form.adjSrchReq.doctype">{{type.adjustType}} </option>
                        </select>
                        <select name="type" class="form-control" name="dropdownAll" [(ngModel)]="form.adjSrchReq.adjustType" [hidden]="form.adjSrchReq.doctype == 'AR' || form.adjSrchReq.doctype == 'SH' ||form.adjSrchReq.doctype == 'TR'">
                            <option value=undefined >All</option>
                            <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}">{{type.adjustType}} </option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Status</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.status" disabled>
                            <option value="">All</option>
                            <option *ngFor="let status of adjustStatus" value={{status.adjustStatusCode}} [hidden]="status.adjustStatusCode == '0'" >{{status.adjustStatusDesc}}</option> 
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Cheque No</p>
                    </div>
                    <div class="col col-md-4">
                        <input class="form-control" pInputText pKeyFilter="pint" maxlength="25" [(ngModel)]="form.adjSrchReq.chequeNo" />
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Amount</p>
                    </div>
                    <div class="col col-md-4">
                        <input type="text" maxlength="14" class="form-control is-right" [(ngModel)]="form.adjSrchReq.amount" disabled />
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Adjust No</p>
                    </div>
                    <div class="col col-md-4">
                        <input type="text" pInputText pKeyFilter="pint" maxlength="14" class="form-control is-money" [(ngModel)]="form.adjSrchReq.adjustNo">
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Document Type</p>
                    </div>
                    <div class="col col-md-4">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.doctype">
                                <option value=undefined selected>All</option>
                                <option *ngFor="let  data of  docType" value="{{data.adjustDocType}}">{{data.docTypeDesc}}</option>
                                <!--<option *ngFor="let  data of  docType" value="{{data.adjustDocType}}" [hidden]="data.adjustDocType === 'TR'" >{{data.docTypeDesc}}</option>-->
                            </select>
                    </div>
                    <div class="col col-md-3 offset-9 is-money">
                        <button class="btn btn-primary" (click)="onSearch('1')" name="Search">Search</button>
                        <button class="btn bg-light" (click)="clearData()" name="Clear">Clear</button>
                    </div>
                </div>
            </div>
            <div class="col col-md-12 is-padding-table" *ngIf="active == 'search'">
                <table class="table table-bordered">
                    <tr class="is-header-table">
                        <th class="is-center">Adjust No</th>
                        <th class="is-center">Company</th>
                        <th class="is-center">Adjust Type</th>
                        <th class="is-center">Status</th>
                        <th class="is-center">Payment Type</th>
                        <th class="is-center">Amount</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let data of filterData" class="is-underline is-click" data-dismiss="modal" (click)="add(data)">
                            <td class="is-center w-40">{{data.adjustNo}}</td>
                            <td class="is-center w-80">{{data.company}}</td>
                            <td class="is-text w-120">{{data.adjustType}}</td>
                            <td class="is-center w-80">{{data.status}}</td>
                            <td class="is-center w-80">{{data.paymentType}} </td>
                            <td class="is-right-only w-80">{{data.outstandingAmt | number:'.2'}}</td>
                        </tr>
                    </tbody>
                    <tr *ngIf="loading == true">
                        <td colspan="11" class="is-center">
                            <img src="assets/logo/tran_dtac.gif" alt="">
                        </td>
                    </tr>
                    <tr *ngIf="checkData == 0">
                        <td colspan="11" class="is-center">
                            <p>No Data.</p>
                        </td>
                    </tr>
                </table>
                <div *ngIf="paging != 0">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</p-dialog>


<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="msg !== 'fail' && !errorStatus && msg !== 'overflow'" src="assets/icon/check.png">
                <img *ngIf="msg === 'fail' || errorStatus" src="assets/icon/fail.png">
                <img *ngIf="msg === 'overflow'" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msg !== 'fail' && errorStatus == false && msg !== 'overflow'">บันทึกสำเร็จ</p>
                <p *ngIf="msg === 'fail' && errorStatus == false">กรุณากรอกข้อมูลให้ครบถ้วน หรือ ห้ามกรอก amount มากกว่า 0</p>
                <p *ngIf="msg === 'overflow'">กรอกค่าเกินจำนวน</p>
                <p *ngIf="errorStatus ==  true">ไม่สามารถบันทึกได้</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" *ngIf="(msg === 'fail' && errorStatus == false) || msg === 'overflow' || errorStatus ==  true" data-dismiss="modal">OK</button>
                <button type="button" class=" btn btn-primary" *ngIf="msg !== 'fail' && errorStatus == false && msg !== 'overflow'" (click)=success(true) data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>