<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="text-align:center;">
                <h3>Mockup Location Vs Bank</h3>
            </div>
            <div class="col-8">
                <button type="button" *ngIf="!formActive" class="btn btn-primary" (click)="formBank()">
                    Add / Edit Bank
                </button>
            </div>
            <div class="col-4">
                <div class="row" *ngIf="!formActive">
                    <div class="col-md-4 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" disabled>
                            <option value="" selected>Location Code</option>
                        </select>
                    </div>
                    <div class="col-md-5 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="locationSearch" placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-3 mb-3 mr-1">
                    Location Code
                    <input type="text" class="form-control" placeholder="ex. 12345" [(ngModel)]="locationCode">
                </div>
                <div class="col-md-8 offset-2 mb-3 pmr-1">
                    <p-pickList [source]="locData" [target]="bankData" [responsive]="true" filterBy="bankName" sourceFilterPlaceholder="Search by Bank Name" targetFilterPlaceholder="Search by Bank Name" dragdrop="true">
                        <ng-template let-selectData pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px;float:right;margin:15px 5px 0 0;word-break: break-all;">{{selectData.bankName}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="cancel()">Cancel</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="detail-box" *ngIf="dataActive">
                    <table class="table table-center table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 16.66%;">Default</th>
                                <th scope="col" style="width: 41.67%;">Shortname</th>
                                <th scope="col" style="width: 41.67%;">Desc</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="filterData.length">
                            <tr *ngFor="let data of filterData; let i = index">
                                <td style="width: 16.66%;">
                                    <input type="radio" value="{{data.bankName}}" name="bank" [(ngModel)]="data.radio">
                                </td>
                                <td style="width: 41.67%;word-break: break-all;">
                                    {{data.bankName}}
                                </td>
                                <td style="width: 41.67%;word-break: break-all;">
                                    -
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-1 offset-11 no-padding-width search-right is-float-right">
                            <button type="button" class="btn btn-primary" (click)="save()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>บันทึกสำเร็จ</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>