<div class="Adjust_page">

    <div class="head">
        <h2>Adjust {{data.whtFlag == 'Y' ? 'WHT' : data.paymentTypeCode === 'CSH' ? 'Cash' : data.paymentTypeCode === 'CHQ' ? 'Cheque' : 'Credit Card'}}</h2>
        <p class="dbline2"></p>
    </div>
    <div class="main col-md-8 offset-md-2">

        <div class="row">
            <div class="col col-md-12">
                As of : {{ data.docDate | date:'dd/MM/yyyy' }}
                <table class="table table-bordered" style="background-color: #e9ecef;">
                    <tr>
                        <td>
                            <span class="is-left">
                                {{data.paymentTypeCode === 'CSH' ? 'Cash' : data.paymentTypeCode === 'CHQ' ? 'Cheque' : 'Credit Card'}} {{data.companyCode}}
                            </span>
                        </td>
                        <td>
                            <span class="is-right" [hidden]="data.paymentTypeCode == 'CC'">
                                <span>Outstanding Diff.</span>&nbsp;&nbsp; <span> {{ostDiff | number:'.2'}} THB</span>

                            </span>
                            <span class="is-right" [hidden]="data.paymentTypeCode !== 'CC'">
                                <span>Outstanding Diff.</span>&nbsp;&nbsp; <span> {{ostDiff | number:'.2'}} THB</span>
                            </span>
                        </td>
                    </tr>
                    <tr [hidden]="data.paymentTypeCode !== 'CHQ' || data.whtFlag !== 'N'">
                        <td>
                            <span class="is-left">
                                Cheque No.
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                {{data.chequeNo}}
                            </span>
                        </td>
                    </tr>

                    <tr [hidden]="data.taxId == null">
                        <td>
                            <span class="is-left">
                                Tax ID
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                {{data.taxId}}
                            </span>
                        </td>
                    </tr>

                    <tr [hidden]="data.whtFlag !== 'Y'">
                        <td>
                            <span class="is-left">
                                Customer Name
                            </span>
                        </td>
                        <td>
                            <span class="is-right">
                                {{data.custName}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col col-md-3">
                <span>Ref Document</span>
            </div>
            <div class="col col-md-6">
                <input type="text" class="form-control" name="search" disabled [(ngModel)]="form.adjustNo" [(ngModel)]="data.adjustNo">
            </div>
            <div class="col col-md-3">
                <button class="btn btn-primary is-margin-button" (click)="showDialog()">Search</button>
            </div>
            <div class="col col-md-3 is-text">
                <span>Adjust Type </span> <span class="important">*</span>
            </div>
            <div class="col col-md-9" [hidden]="data.paymentTypeCode == 'CC'">
                <select class="form-control" name="description" placeholder="data.adjustType" [(ngModel)]="data.adjustType" (ngModelChange)="setCnFlag()"> 
                    <option value=undefined selected>กรุณาระบุ</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'SH'&& (url != 'shop' || url != 'Treasury')|| type.adjustCnFlag =='Y' " >{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-md-9" [hidden]="data.paymentTypeCode != 'CC'">
                <select class="form-control" name="description" placeholder="data.adjustType" [(ngModel)]="data.adjustType" (ngModelChange)="setCnFlag()"> 
                    <option value=undefined selected>กรุณาระบุ</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'SH' && (url != 'shop' || url != 'Treasury') " >{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-md-3 is-text">
                <span>Status</span>
                <span class="important">*</span>
            </div>
            <div class="col col-md-9">
                <select class="form-control" name="status" [(ngModel)]="data.status" disabled>
                    <option value="">กรุณาระบุ</option>
                      <!--   <option *ngFor="let status of adjustStatus" value="{{statusDefault}}" [hidden]="status.statusCode != statusDefault">{{status.adjustStatusDesc}}</option>  -->
                    <option *ngFor="let status of adjustStatus" value="{{status.adjustStatusCode}}">{{status.adjustStatusDesc}}</option> 
                </select>
            </div>
            <div class="col col-3 is-text" [hidden]=" data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <span>Bank (EDC)</span><span class="important" [hidden]=" data.paymentTypeCode !== 'CC'">*</span>
            </div>
            <div class="col col-9" [hidden]="data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <select name="bankEdc" class="form-control" [(ngModel)]="data.bankEdc" (ngModelChange)="loadMerchantt()">
                    <option value=undefined >กรุณาระบุ</option>
                    <option *ngFor="let bank of bank" value="{{bank.bankName}}">{{bank.bankName}}</option>
                </select>
            </div>
            <div class="col col-3 is-text" [hidden]=" data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <span>Merchant Type</span><span class="important">*</span>
            </div>
            <div class="col col-9" [hidden]=" data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <select name="merchartId" class="form-control" [(ngModel)]="data.merchartId" [disabled]="data.bankEdc == null">
                    <option value=undefined>กรุณาระบุ</option>
                    <option *ngFor="let merchant of merchant"  value="{{merchant.merchantId}}">{{merchant.merchantType}}</option>
                </select>
            </div>
            <div class="col col-3 is-text" [hidden]=" data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <span>Sale Slip Date</span><span class="important">*</span>
            </div>
            <div class="col col-9" [hidden]="data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <p-calendar name="saleSlipDate" placeholder="dd/mm/yy" dateFormat="dd/mm/yy" [(ngModel)]="data.saleSlipDate" [showIcon]="true"></p-calendar>
            </div>
            <div class="col col-3 is-text" [hidden]="data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <span>Last 4 digits</span><span class="important">*</span>
            </div>
            <div class="col col-9" [hidden]=" data.paymentTypeCode !== 'CC' || cnFlag != 'Y'">
                <input type="text" pInputText pKeyFilter="pint" class="form-control" name="Last" placeholder="-" [(ngModel)]="data.last4Digits" maxlength="4" (keyup)="isOnlyNumber($event, data.last4Digits, '4digit')" (blur)="isOnlyNumber($event, data.last4Digits, '4digit')">
            </div>
            <div class="col col-md-3 is-text">
                <span>Amount</span> <span class="important" [hidden]="data.taxId == null && data.paymentTypeCode !== 'CSH'">*</span>
            </div>
            <div class="col col-md-9">
                <!-- <input currencyMask type="text" maxlength="14" class="form-control" name="amount" [(ngModel)]="amount" min="1" max="{{maxAmount}}" [disabled]="data.paymentTypeCode === 'CHQ' || form.adjustNo != null"> -->
                <input type="text" pInputText pKeyFilter="money" maxlength="14" placeholder="0.00" class="form-control is-right" name="amount" [(ngModel)]="amount" [disabled]="data.paymentTypeCode === 'CHQ' || form.adjustNo != null" (keyup)="isOnlyNumber($event, amount, 'amount')"
                    (blur)="isOnlyNumber($event, amount, 'amount')">
            </div>
            <div class="col col-md-3 is-text">
                <span>Note</span>
            </div>
            <div class="col col-md-9">
                <input type="text" class="form-control" name="Note" placeholder="-" [(ngModel)]="data.note">
            </div>
            <div class="col-md-12 is-right pt-2">
                <button class="btn btn-primary" *ngIf="!submitClick" type="button" (click)="checkAmtWithFlag()" data-toggle="modal" data-target="#save" name="Save">Save</button>
                <button class="btn is-disabled" *ngIf="submitClick" type="button" disabled data-toggle="modal" data-target="#save" name="Save">Save</button>
                <button class="btn bg-light" (click)="onCancel(true)" name="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<p-dialog [(visible)]="display" *ngIf="box == 0" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="70" [baseZIndex]="10000" (onHide)="closing()">
    <div class="boxtext">
        <div class="row">
            <div class="col col-md-2">
                <p class="is-bold">Company</p>
            </div>
            <div class="col col-md-4">
                <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.company">
                    <option value="" selected>All</option>
                    <option *ngFor="let company of company" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                </select>

            </div>
            <div class="col col-md-2">
                <p class="is-bold">Payment Type</p>
            </div>
            <div class="col col-md-4">
                <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType">
                    <option value=null selected>All</option>
                    <option *ngFor="let payment of paymentTypeDropdown" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N'">{{payment.paymentTypeDesc}}</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col col-md-2">
                <p class="is-bold">Location Code</p>
            </div>
            <div class="col col-md-4 mb-2" *ngIf="locationList.length > 1">
                <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" name="description" disabled>
                    <option value=''>All</option>
                    <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
                </select>
            </div>
            <div class="col col-md-4 mb-2" *ngIf="locationList.length == 1">
                <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" disabled>
                    <option value="{{mockLocationId}}">{{mockLocationId}}</option>
                </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Location name</p>
            </div>
            <div class="col col-md-4">
                <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" disabled>
                    <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.name}}</option>
                </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Adjust Type</p>
            </div>
            <div class="col col-md-4" [hidden]="data.paymentTypeCode == 'CC'">
                <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.adjustType">
                    <option value=null selected>All</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}"  [hidden]="type.adjustDocType == 'AR' && (url != 'shop' || url != 'Treasury') || type.adjustCnFlag =='Y'">{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-md-4" [hidden]="data.paymentTypeCode != 'CC'">
                <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.adjustType">
                    <option value=null selected>All</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}"  [hidden]="type.adjustDocType == 'AR' && (url != 'shop' || url != 'Treasury')">{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Status</p>
            </div>
            <div class="col col-md-4 mb-2">
                <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.status" disabled>
                    <option value="">All</option>
                    <option *ngFor="let status of adjustStatus" value={{status.adjustStatusCode}} [hidden]="status.adjustStatusCode == '0'" >{{status.adjustStatusDesc}}</option> 
                </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Amount</p>
            </div>
            <div class="col col-md-4">
                <input type="text" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="form.adjSrchReq.amount" disabled />
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Adjust No</p>
            </div>
            <div class="col col-md-4">
                <input type="text" pInputText pKeyFilter="pint" maxlength="14" class="form-control is-money" [(ngModel)]="form.adjSrchReq.adjustNo">
            </div>

            <div class="col col-md-3 offset-9 is-money">
                <button class="btn btn-primary" (click)="onSearch('1')" name="Search">Search</button>
                <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
            </div>
        </div>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <div style="padding:1em;line-height:1.5">
            <div class="col col-md-12 is-center is-padding-table" *ngIf="active == 'search'">
                <table class="table table-bordered">
                    <tr class="is-header-table">
                        <th class="is-center">Adjust No</th>
                        <th class="is-center">Company</th>
                        <th class="is-center">Adjust Type</th>
                        <th class="is-center">Status</th>
                        <th class="is-center">Payment Type</th>
                        <th class="is-center">Amount</th>
                    </tr>
                    <tbody *ngIf="filterData.length; else noData">
                        <tr *ngFor="let data of filterData" class="is-link is-click" data-dismiss="modal" (click)="add(data)">
                            <td class="is-center w-40">{{data.adjustNo}}</td>
                            <td class="is-center w-80">{{data.company}}</td>
                            <td class="is-text w-120">{{data.adjustType}}</td>
                            <td class="is-center w-80">{{data.status}}</td>
                            <td class="is-center w-80">{{data.paymentType}} </td>
                            <td class="is-money w-80">{{data.outstandingAmt | number:'.2'}}</td>
                        </tr>
                    </tbody>
                    <tr *ngIf="loading == true">
                        <td colspan="11" class="is-center">
                            <img src="assets/logo/tran_dtac.gif" alt="">
                        </td>
                    </tr>
                    <tr *ngIf="checkData == 0">
                        <td colspan="11" class="is-center">
                            <p>No Data.</p>
                        </td>
                    </tr>
                </table>
                <div *ngIf="paging != 0">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
    </p-scrollPanel>

</p-dialog>

<p-dialog [(visible)]="display" *ngIf="box == 1" [responsive]="true" [width]="800" [minWidth]="200" [minY]="70" [positionTop]="100" [baseZIndex]="10000">
    <div class="col-md-4 offset-5">
        <img *ngIf="msg == 'overref'" src="assets/icon/fail.png">
    </div>
    <div class="modal-body text-center">
        <p *ngIf="msg == 'overref'">กรอกค่าเกินจำนวน</p>
    </div>
    <div class="col-md-6 offset-5 pb-3">
        <button class=" btn btn-primary" (click)="reOpen()">OK</button>
    </div>
</p-dialog>


<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="msg == 'success'" src="assets/icon/check.png">
                <img *ngIf="msg == 'fail' || msg == 'overflow' || msg == 'zero'" src="assets/icon/fail.png">
                <img *ngIf="clickLoad" src="assets/logo/tran_dtac.gif">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msg == 'success'">บันทึกสำเร็จ</p>
                <p *ngIf="msg == 'fail'">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="msg == 'overflow'">กรอกค่าเกินจำนวน {{ condition.msg ? condition.msg + ' บาท' : '' }}</p>
                <p *ngIf="msg == 'zero'">กรุณากรอกค่ามากกว่า 0</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg == 'fail' || msg == 'overflow' || msg == 'zero'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                <button *ngIf="msg == 'success'" type="button" (click)="onCancel(true)" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>