<div class="Print">
    <div class="contrainer col-md-4 offset-md-4">
        <div class="head pt-4">
            <h1>Print Pay In Slip</h1>
        </div>
    </div>
    <p class="dbline2"></p>
    <div class="main">
        <div class="contrainer">
            <div class="row pt-4">
                <div Class="Address">
                    <div class="mid col-md-10 offset-md-1 pt-3">
                        <h2>Cash</h2>
                        <div>
                            <p class="last-size">
                                <span *ngIf="lastPrintCash!=0"> Last Print : </span>&nbsp;<span *ngIf="lastPrintCash!=0">{{lastPrintCash | date:'dd/MM/yyyy HH:mm' }} </span>
                            </p>
                        </div>

                        <p>
                            <button class="btn btn-primary btn-size" (click)="onCash()" [disabled]="msgCash == 'fail'" data-toggle="modal" data-target="#print" name="print">Print</button>
                        </p>
                        <div class="row">
                            <div class="col col-1 offset-2">
                                <p class="is-bold">Bank </p>
                            </div>
                            <div class="col col-6 offset-1 pb-5">
                                <select name="bank" class="form-control" [(ngModel)]="form.bank">
                                    <!--  <option value="{{bankMasterIdCSH}}" selected>{{bankDescCSH}}</option> -->
                                    <option *ngFor="let bank of bankCSH"  [hidden]="bank.paymentTypeCode !== 'CSH'" value="{{bank.bankMasterId}}" >{{bank.bankDesc}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-1 offset-2">
                            </div>
                            <div class="col col-6 offset-1 pb-5">
                            </div>
                        </div>
                    </div>
                </div>
                <div Class="Address">
                    <div class="mid col-md-10 pt-3">
                        <h2>Cheque</h2>
                        <p class="last-size">
                            <span *ngIf="lastPrintCheque!=0"> Last Print : </span>&nbsp; <span *ngIf="lastPrintCheque!=0">{{lastPrintCheque | date:'dd/MM/yyyy HH:mm'}}</span>
                        </p>
                        <p>
                            <button class="btn btn-primary btn-size" (click)="onCheque()" data-toggle="modal" data-target="#print" name="print">Print</button>
                        </p>
                        <div class="row">
                            <div class="col col-3 offset-1">
                                <p class="is-bold">Company Code </p>
                            </div>
                            <div class="col col-6 offset-0">
                                <select name="companyCode" class="form-control" [(ngModel)]="form.cheque.companyCode" (ngModelChange)="loadBank()">
                                    <option *ngFor="let data of company" value="{{data.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{data.companyCode}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-1 offset-2">
                                <p class="is-bold">Bank </p>
                            </div>
                            <div class="col col-6 offset-1 pb-5">
                                <select name="type" class="form-control" [(ngModel)]="form.cheque.bank">
                                    <!-- <option value="" selected>กรุณาระบุ</option> -->
                                    <option *ngFor="let bank of bank" [hidden]="bank.paymentTypeCode !== 'CHQ'"  value="{{bank.bankMasterId}}" >{{bank.bankDesc}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="print" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="msg == 'success'" src="assets/icon/check.png">
                <img *ngIf="msg == 'fail'" src="assets/icon/information.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msg == 'success'">Print Success</p>
                <p *ngIf="msg == 'fail'">No Data</p>
                <p *ngIf="msg == 'notsuccess'">Print Not Success</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal" (click)="reload()">OK</button>
            </div>
        </div>
    </div>
</div>