.Address {
    width: 50%;
}

.head {
    text-align: center;
}

.mid {
    text-align: center;
    border: 1px;
    border-style: solid;
}

.button_a {
    background: #009edf;
    color: rgb(245, 245, 245);
    border-style: none;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    width: 80%;
}

.btn-size {
    width: 80%;
    height: 80px;
}

.last-size {
    font-size: 20px
}

.is-bold {
    font-weight: bold;
}