<div class="contrainer">
    <div class="head">
        <h2>Report Reconcile shortage-surplus</h2>
        <p class="dbline2"></p>
    </div>
    <div class="topmain">
        <div class="col-md-12">
            <div class="boxtext">
                <div class="row">
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">GL Date</p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar id='gl-date-start' [(ngModel)]="form.adjSrchReq.dateFrom" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange={{yearRanges}} [showIcon]="true" (ngModelChange)="toTranDate()" placeholder="mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-4" *ngIf="searchTrandoc == '0'">
                        <p-calendar id='gl-date-to' [(ngModel)]="form.adjSrchReq.dateTo" [showIcon]="true" [minDate]="minTranDate" view="month" dateFormat="mm/yy" disabled placeholder="mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-4" *ngIf="searchTrandoc == '1'">
                        <p-calendar id='gl-date-to' [(ngModel)]="form.adjSrchReq.dateTo" [showIcon]="true" [minDate]="minTranDate" view="month" dateFormat="mm/yy" placeholder="mm/yyyy"></p-calendar>
                    </div>
                    <!-- <div class="col col-md-2 offset-1">
                        <p class="is-bold">Channel Type</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.companyCode">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.companyCode">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div> -->
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Location Code</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="location-code-start" class="form-control" (ngModelChange)="locationClear()" [(ngModel)]="form.adjSrchReq.locationCodeStart">
                                <option value=null  selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-3" *ngIf="form.adjSrchReq.locationCodeStart && form.adjSrchReq.locationCodeStart != 'null' ">
                        <select name="location-code-to" class="form-control" [(ngModel)]="form.adjSrchReq.locationCodeTo">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <div class="col col-md-3" *ngIf="!form.adjSrchReq.locationCodeStart || form.adjSrchReq.locationCodeStart == 'null' ">
                        <select name="location-code-to" class="form-control" [(ngModel)]="form.adjSrchReq.locationCodeTo" disabled>
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <!-- <div class="col col-md-2 offset-1">
                        <p class="is-bold">Inverter Name</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.companyCode">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.companyCode">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Reconcile by</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.companyCode">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.companyCode">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" >{{company.companyCode}}</option>
                            </select>
                    </div> -->
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">WHT</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.wht">
                            <option value=null>All</option>
                            <option  value="N" >No</option>
                            <option  value="Y" >Yes</option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Payment Type </p>
                    </div>
                    <div class="col col-md-3">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType">
                                <option value=null selected>All</option>
                                <option value="CSH">Cash</option>
                                <option value="CHQ">Cheque</option>
                                <option value="CC">Credit Card</option>
                                <option value="wht">Withholding Tax</option>
                            </select>
                    </div>
                    <div class="col col-md-11 is-money">
                        <button class="btn btn-primary" (click)="printExcel()" name="Search">Print Excel</button>
                        <button class="btn btn-primary" (click)="print()" name="Search">Print Pdf</button>
                        <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>