<div class="barcode">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5" style="text-align:center;">
                <h3>Barcode Setup</h3>
            </div>
            <div class="col-8" *ngIf="barcodeActive">
                <button type="button" class="btn btn-primary" (click)="formBarcode()">
                    + New Setup
                </button>
            </div>
            <div class="col-4" *ngIf="barcodeActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="bankShortName">bankShortName</option>
                            <option value="companyCode">Company Code</option>
                            <option value="taxId">Tax ID</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search"
                            placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">BankName</label>
                    <select class="custom-select" name="role" [(ngModel)]="formDataBarcode.bankMasterId">
                        <option value=0 selected>Choose Bank</option>
                        <option *ngFor="let data of bank" value="{{data.bankMasterId}}">{{data.bankDesc}}</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Company</label>
                    <select class="custom-select" name="role" [(ngModel)]="formDataBarcode.companyCode">
                        <option value='' selected>Choose Company</option>
                        <option value=DTN>DTN</option>
                        <option value=DTAC>DTAC</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Tax ID</label>
                    <input type="text" name="taxId" pInputText pKeyFilter="money" maxlength="13" [(ngModel)]="formDataBarcode.taxId" class="form-control" placeholder="Tax ID">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Service Code</label>
                    <input type="text" name="serviceCode" [(ngModel)]="formDataBarcode.serviceCode" class="form-control" placeholder="Service Code">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Fix Amount Flag</label>
                    <select class="custom-select" name="fixAmtFlag" [(ngModel)]="formDataBarcode.fixAmtFlag" (ngModelChange)="changeFixAmt(formDataBarcode.fixAmtFlag)">
                        <option value='' selected>Choose flag</option>
                        <option value=Y>Yes</option>
                        <option value=N>No</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Fix Amount</label>
                    <input currencyMask maxlength="14" type="text" name="accCode" [(ngModel)]="formDataBarcode.fixAmt" class="form-control is-money" placeholder="0.00" [disabled]="formDataBarcode.fixAmtFlag == 'N' || formDataBarcode.fixAmtFlag == '' ">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Pad Amount Flag</label>
                    <select class="custom-select" name="role" [(ngModel)]="formDataBarcode.padAmtFlag" [disabled]="formDataBarcode.fixAmtFlag == 'Y' || formDataBarcode.fixAmtFlag == ''">
                        <option value='' selected>Choose flag</option>
                        <option value=Y>Yes</option>
                        <option value=N>No</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Pad length</label>
                    <input type="text" name="glAcc" [(ngModel)]="formDataBarcode.padLenght" class="form-control" placeholder="Max length" [disabled]="formDataBarcode.fixAmtFlag == 'Y' || formDataBarcode.fixAmtFlag == ''">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Pad Value</label>
                    <input type="text" name="glAcc" [(ngModel)]="formDataBarcode.padValue" [attr.maxlength]="formDataBarcode.padLenght" class="form-control" placeholder="value" [disabled]="formDataBarcode.fixAmtFlag == 'Y' || formDataBarcode.fixAmtFlag == ''">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-money">
                    BankName
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formDataBarcode.bankMasterId">
                        <option value=0 selected>Choose Bank</option>
                        <option *ngFor="let data of bank" value="{{data.bankMasterId}}">{{data.bankDesc}}</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Company
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formDataBarcode.companyCode">
                        <option value='' selected>Choose Company</option>
                        <option value=DTN>DTN</option>
                        <option value=DTAC>DTAC</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Tax ID
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="taxId" pInputText pKeyFilter="money" maxlength="13" [(ngModel)]="formDataBarcode.taxId"
                        class="form-control" placeholder="Tax ID">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Service Code
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="serviceCode" [(ngModel)]="formDataBarcode.serviceCode" class="form-control"
                        placeholder="Service Code">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Fix Amount Flag
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="fixAmtFlag" [(ngModel)]="formDataBarcode.fixAmtFlag"
                        (ngModelChange)="changeFixAmt(formDataBarcode.fixAmtFlag)">
                        <option value='' selected>Choose flag</option>
                        <option value=Y>Yes</option>
                        <option value=N>No</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Fix Amount
                </div>
                <div class="col-md-5 mb-3">
                    <input currencyMask maxlength="14" type="text" name="accCode" [(ngModel)]="formDataBarcode.fixAmt"
                        class="form-control is-money" placeholder="0.00" [disabled]="formDataBarcode.fixAmtFlag == 'N' || formDataBarcode.fixAmtFlag == '' ">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Pad Amount Flag
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formDataBarcode.padAmtFlag" [disabled]="formDataBarcode.fixAmtFlag == 'Y' || formDataBarcode.fixAmtFlag == ''">
                        <option value='' selected>Choose flag</option>
                        <option value=Y>Yes</option>
                        <option value=N>No</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Pad length
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glAcc" [(ngModel)]="formDataBarcode.padLenght" class="form-control"
                        placeholder="Max length" [disabled]="formDataBarcode.fixAmtFlag == 'Y' || formDataBarcode.fixAmtFlag == ''">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Pad Value
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glAcc" [(ngModel)]="formDataBarcode.padValue" [attr.maxlength]="formDataBarcode.padLenght"
                        class="form-control" placeholder="value" [disabled]="formDataBarcode.fixAmtFlag == 'Y' || formDataBarcode.fixAmtFlag == ''">
                </div>
                <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="barcodeActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">MappingID</th>
                        <th scope="col">BankMasterId</th>
                        <th scope="col" width="170">Bank Name</th>
                        <th scope="col">Company</th>
                        <th scope="col">Tax ID</th>
                        <th scope="col">Service Code</th>
                        <th scope="col">Fix Amount Flag</th>
                        <th scope="col">Fix Amount</th>
                        <th scope="col">Pad Amount Flag</th>
                        <th scope="col">Pad Value</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbDataBarcode.length">
                    <tr *ngFor="let data of dbDataBarcode ; let i = index">
                        <td>{{data.mappingId}}</td>
                        <td>{{data.bankMasterId}}</td>
                        <td>{{data.bankDesc}}</td>
                        <td>{{data.companyCode}}</td>
                        <td>{{data.taxId}}</td>
                        <td>{{data.serviceCode}}</td>
                        <td>{{data.fixAmtFlag}}</td>
                        <td>{{!data.fixAmt ? '-' : data.fixAmt | number:'.2' }}</td>
                        <td>{{data.padAmtFlag == 'Y' ? 'Yes' : data.padAmountFlag == 'N' ? 'No' : '-' }}</td>
                        <td>{{!data.padValue ? '-' : data.padValue}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editBarcode(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete"  (click)="delete(data.mappingId)" type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!-- <ng-template #filter>
                    <tbody>
                        <tr *ngFor="let data of filterBarcode">
                            <th scope="row">{{data.companyCode}}</th>
                        <td>{{data.shtName}}</td>
                        <td>{{data.bankCode}}</td>
                        <td>{{data.pmntType}}</td>
                        <td>{{data.dpsType}}</td>
                        <td>{{data.accName}}</td>
                        <td>{{data.accCode}}</td>
                        <td>{{data.glAcc}}</td>
                        <td>{{data.glAcc}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="editBarcode(data,1)" type="button">
                                    Edit
                                </button>
                                <button class="btn btn-danger" (click)="deleteBank(data)" type="button">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </ng-template> -->
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="msg == 'success'" src="assets/icon/check.png">
                <img *ngIf="msg =='fail' || msg == 'notInput'" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msg == 'success'">บันทึกสำเร็จ</p>
                <p *ngIf="msg == 'fail'">บันทึกไม่สำเร็จ</p>
                <p *ngIf="msg == 'notInput'">กรุณากรอกให้ครบถ้วน</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg == 'success'" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="formSearch()">OK</button>
                <button *ngIf="msg == 'fail' || msg == 'notInput'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                        (click)="deleteBarcode()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>