<div class="contrainer">
    <div class="head">
        <h2>Outstanding Adjustment Report</h2>
        <p class="dbline2"></p>
    </div>
    <div class="topmain">
        <div class="col-md-12">
            <div class="boxtext">
                <div class="row">

                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">GL Posted Date</p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar [(ngModel)]="form.adjSrchReq.GldateFrom" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>

                    <div class="col col-md-2">
                        <p class="is-bold">Location Code</p>
                    </div>
                    <div class="col col-md-3">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" name="description">
                            <option value=undefined>All</option>
                            <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
                        </select>
                    </div>


                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Report Type</p>
                    </div>
                    <div class="col col-md-3">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.action" name="description">
                          <option value="print-detail-">Detail</option>
                          <option value="print-summary-">Summary</option>
                      </select>
                    </div>

                    <div class="col-1">
                    </div>
                    <div class="col col-md-11 is-money">
                        <button class="btn btn-primary" (click)="printExcel()" name="Search">Print Excel</button>
                        <button class="btn btn-primary" (click)="print()" name="Search">Print Pdf</button>
                        <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>