<div class="bank">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5" style="text-align:center;">
                <h3>Bank Account</h3>
            </div>
            <div class="col-8" *ngIf="bankActive">
                <button type="button" class="btn btn-primary" (click)="formBank()">
                    + New Bank
                </button>
            </div>
            <div class="col-4" *ngIf="bankActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy">
                            <option value=null selected>Find by...</option>
                            <option value="companyCode">company</option>
                            <option value="bankShortName">bank</option>
                            <option value="bankAccountNo">Account No.</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search"
                            placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Bank Account Name</label>
                    <input type="text" name="accName" [(ngModel)]="formDataBank.bankAccountName" class="form-control" placeholder="Auto Fill Bank Account Name" disabled>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Desposit Type<font style="color:red;">*</font></label>
                    <select class="custom-select" name="role" [(ngModel)]="dpsType" (ngModelChange)="autoFillAcc()">
                        <option value='' selected>Choose Desposit Type</option>
                        <option value='C/A'>C/A</option>
                        <option value='S/A'>S/A</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Bank<font style="color:red;">*</font></label>
                    <select class="custom-select" name="role" [(ngModel)]="formDataBank.bankShortName" (ngModelChange)="autoFillAcc()">
                        <option value='' selected>Choose Bank</option>
                        <option value=KBank>KBank</option>
                        <option value=BBL>BBL</option>
                        <option value=SCB>SCB</option>
                        <option value=KTM>KTM</option>
                        <option value=TOA>TOA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Account No<font style="color:red;">*</font></label>
                    <input type="text" name="accCode" [(ngModel)]="formDataBank.bankAccountNo" class="form-control" (ngModelChange)="autoFillAcc()">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Location Name</label>
                    <select class="custom-select" name="role" [(ngModel)]="locationName" (ngModelChange)="autoFillAcc()">
                        <option value='' selected>Choose Location Name</option>
                        <option value='DTAC HALL'>DTAC HALL</option>
                        <option value='FUTURE PARK'>FUTURE PARK</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Company<font style="color:red;">*</font></label>
                    <select class="custom-select" name="role" [(ngModel)]="formDataBank.companyCode">
                        <option value='' selected>Choose Company Code</option>
                        <option value=DTAC>DTAC</option>
                        <option value=DTN>DTN</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Account<font style="color:red;">*</font></label>
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glAccount" class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL RC<font style="color:red;">*</font></label>
                    <input type="text" name="glRc" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glRc" class="form-control" placeholder="1234" maxlength="4">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Product<font style="color:red;">*</font></label>
                    <input type="text" name="glPd" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glProduct" class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Project<font style="color:red;">*</font></label>
                    <input type="text" name="glPj" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glProject" class="form-control" placeholder="123456" maxlength="6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL CS<font style="color:red;">*</font></label>
                    <input type="text" name="glCs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glCs" class="form-control" placeholder="12" maxlength="2">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL FS<font style="color:red;">*</font></label>
                    <input type="text" name="glFs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glFs" class="form-control" placeholder="123" maxlength="3">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL SS<font style="color:red;">*</font></label>
                    <input type="text" name="glSs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glSs" class="form-control" placeholder="123456" maxlength="6">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL RS<font style="color:red;">*</font></label>
                    <input type="text" name="glRs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glRs" class="form-control" placeholder="123456" maxlength="6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-4 is-money">
                    Bank Account Name
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="accName" [(ngModel)]="formDataBank.bankAccountName" class="form-control"
                        placeholder="Auto Fill Bank Account Name" disabled>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Desposit Type<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="dpsType" (ngModelChange)="autoFillAcc()">
                        <option value='' selected>Choose Desposit Type</option>
                        <option value='C/A'>C/A</option>
                        <option value='S/A'>S/A</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Bank<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formDataBank.bankShortName" (ngModelChange)="autoFillAcc()">
                        <option value=null selected>Choose Bank</option>
                        <option value=KBank>KBank</option>
                        <option value=BBL>BBL</option>
                        <option value=SCB>SCB</option>
                        <option value=KTM>KTM</option>
                        <option value=TOA>TOA</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Account No<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="accCode" [(ngModel)]="formDataBank.bankAccountNo" class="form-control"
                        (ngModelChange)="autoFillAcc()">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Location Name
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="locationName" (ngModelChange)="autoFillAcc()">
                        <option value='' selected>Choose Location Name</option>
                        <option value='DTAC HALL'>DTAC HALL</option>
                        <option value='FUTURE PARK'>FUTURE PARK</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Company<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formDataBank.companyCode">
                        <option value='' selected>Choose Company Code</option>
                        <option value=DTAC>DTAC</option>
                        <option value=DTN>DTN</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Account<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glAccount"
                        class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL RC<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glRc" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glRc"
                        class="form-control" placeholder="1234" maxlength="4">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Product<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glPd" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glProduct"
                        class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Project<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glPj" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glProject"
                        class="form-control" placeholder="123456" maxlength="6">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL CS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glCs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glCs"
                        class="form-control" placeholder="12" maxlength="2">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL FS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glFs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glFs"
                        class="form-control" placeholder="123" maxlength="3">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL SS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glSs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glSs"
                        class="form-control" placeholder="123456" maxlength="6">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL RS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glRs" pInputText pKeyFilter="alphanum" [(ngModel)]="formDataBank.glRs"
                        class="form-control" placeholder="123456" maxlength="6">
                </div>
            </div>
            <div class="row">
                <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
                        (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
                        (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="bankActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">Bank Account ID</th>
                        <th scope="col">Company</th>
                        <th scope="col">Bank Short name</th>
                        <!-- <th scope="col">Bank</th> -->
                        <!-- <th scope="col">Payment Type</th> -->
                        <!-- <th scope="col">Deposit Type</th> -->
                        <th scope="col">Bank Account name</th>
                        <th scope="col">Account No.</th>
                        <th scope="col">GL Account</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbDataBank.length">
                    <tr *ngFor="let data of dbDataBank">
                        <td>{{data.bankAccountId}}</td>
                        <td>{{data.companyCode}}</td>
                        <td>{{data.bankShortName}}</td>
                        <!-- <td>{{data.bankCode}}</td> -->
                        <!-- <td>{{data.pmntType}}</td> -->
                        <!-- <td>{{data.dpsType}}</td> -->
                        <td>{{data.bankAccountName}}</td>
                        <td>{{data.bankAccountNo}}</td>
                        <td>
                            {{data.glAccount}} {{data.glRc}} {{data.glProduct}} {{data.glProject}}
                            <br /> {{data.glCs}} {{data.glFs}} {{data.glSs}} {{data.glRs}}
                        </td>
                        <td>
                            <button class="btn btn-warning" (click)="editBank(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete" (click)="delete(data.bankAccountId)" type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="!errorCode" src="assets/icon/check.png">
                <img *ngIf="errorCode" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorCode">บันทึกสำเร็จ</p>
                <p *ngIf="errorCode">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="!errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="success()">OK</button>
                <button *ngIf="errorCode" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>

            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteBank()">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal  delete success -->
<div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>ลบสำเร็จ</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>