<div class="container">
  <div class="head" style=" text-align: center">
    <br>
      <h2>Attach Mapping</h2>
  </div>
</div>
<div class="detail-box" *ngIf="dataActive">
    <table class="table table-center table-responsive-md">
      <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Document Type</th>
        <th scope="col">Display Name</th>
      </tr>
    </thead>
  <tbody *ngIf="dbDataBackup.length">
  <tr *ngFor="let data of dbDataBackup; let i = index">
  <td>{{data.attachMasterIdBackup}}</td>
  <td>{{data.documentTypeBackup}}</td>
  <td><div class="col-md-12 no-padding-width">
    <input class="form-control" type="text" name="inputData" [(ngModel)]= "data.displayNameBackup" (ngModelChange)="changeValue()" >
    </div>
    
  </td>
  </tr>
  </tbody>
  </table>
  <div *ngIf="loading == true" class="is-center">
    <img src="assets/logo/tran_dtac.gif" alt="">
</div>
  <!-- <div class="rows">
      <div class="col-12">
          <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
              (onPageChange)="paginate($event)"></p-paginator>
          <p class="total-records">
              Total records: {{paginator.totalRecords}}
          </p>
      </div>
  </div>-->
  </div>
  
  <div *ngIf="showButton == true" class="col-2 offset-10 is-right">
    <td>
      <button class="btn btn-primary" data-toggle="modal" data-target="#save"  (click)="update()">Save</button>
      <button class="btn bg-light" data-toggle="modal" data-target="#cancel" [hidden]="formUserActive">Cancel</button>
  </td>
  </div>

  <!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="errorCode=='Success'" src="assets/icon/check.png">
                <img *ngIf="errorCode=='Update Fail'" src="assets/icon/fail.png">
                <img *ngIf="errorCode=='Loading'" src="assets/logo/tran_dtac.gif">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="errorCode=='Success'">บันทึกสำเร็จ</p>
                <p *ngIf="errorCode=='Update Fail'">บันทึกไม่สำเร็จ</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="!errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="success()">OK</button>
                <button *ngIf="errorCode" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cancel -->
<div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body text-center">
                <p>ยกเลิกการเปลี่ยนแปลงข้อมูล!!!</p>

            </div>
            <div class="col-md-6 offset-4 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal"(click)="clearForm()">OK</button>
                <button type="button" class=" btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>