.mid {
    text-align: center;
    border: 1px;
    border-style: solid;
}

.td {
    border: 1
}

img {
    width: 50px
}

.bankName {
    background-color: rgb(228, 239, 248)
}

.is-center {
    text-align: center;
    vertical-align: middle;
}

.checkBank {
    width: 20px
}

container {
    padding: 0px
}