<div class="container pt-4">
    <div class="mid">
        <div class="row pt-4">
            <div class="col col-3">
                <img src="assets/icon/dtac.jpg">
            </div>
            <div class="col col-5">
                <p>ใบรับฝากเพื่อนำเงินเข้าบัญชีกระแสรายวัน</p>
            </div>
            <div class="col col-4">
                <p>ส่วนที่1 : สำหรับร้านค้า</p>
            </div>
        </div>
        <div class="row p-3">
            <div class="col col-12 bankName">
                <div class="">
                    <p class="text-left pt-2"> {{data.company}}</p>
                </div>

            </div>
        </div>
        <div class="row pl-4">
            <div class="col col-6">

                <p><img class="checkBank" src="assets/icon/check-slip.png"> {{data.bankNameThai}} <span [hidden]="data.compCode === ''">     COMP.CODE {{data.compCode}}</span></p>
                <p> {{data.acctNo}}</p>
                <p> {{data.barcode}}</p>
            </div>
            <div class="col col-6">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            วันที่นำฝาก
                        </td>
                        <td>
                            {{data.date}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ชื่อสาขาDTAC SHOP
                        </td>
                        <td>
                            <p>
                                {{data.locName}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>รหัสสาขา ตัวเลข 5 หลัก</div>
                            <div>CUSTOMER NO. (REF.1)</div>
                        </td>
                        <td>
                            <p>
                                {{data.locCode}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            REFERENCE NO.2 (REF NO.2)
                        </td>
                        <td>
                            <p>

                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <table class="table table-bordered">

                    <tr>
                        <td class="is-center" rowspan="2">เงินสด</td>
                        <td class="is-center">{{data.moneyText}}</td>
                        <td class="is-center">{{data.amount}}</td>
                    </tr>
                    <tr>
                        <td class="is-center">จำนวนเงินเป็นตัวอักษร</td>
                        <td class="is-center">จำนวนเงินเป็นตัวเลข</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <p>
                    ชื่อผู้นำฝาก.........................................................
                </p>
                <p>
                    เบอร์ติดต่อ.........................................................
                </p>
            </div>
            <div class="col col-6">
                <div class="row">
                    <div class="col col-4">
                        <p> เจ้าหน้าที่ธนาคาร</p>
                    </div>
                    <div class="col col-8">
                        <p>....................................................</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">

                    </div>
                    <div class="col col-8">
                        <p>ผู้รับเงิน</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="mid">
        <div class="row pt-4">
            <div class="col col-3">
                <img src="assets/icon/dtac.jpg">
            </div>
            <div class="col col-5">
                <p>ใบรับฝากเพื่อนำเงินเข้าบัญชีกระแสรายวัน</p>
            </div>
            <div class="col col-4">
                <p>ส่วนที่2 : สำหรับธนาคาร</p>
            </div>
        </div>
        <div class="row p-3">
            <div class="col col-12 bankName">
                <div class="">
                    <p class="text-left"> {{data.company}}</p>
                </div>

            </div>
        </div>
        <div class="row pl-4">
            <div class="col col-6">
                <p><img class="checkBank" src="assets/icon/check-slip.png"> {{data.bankNameThai}} <span [hidden]="data.compCode === ''">     COMP.CODE {{data.compCode}}</span></p>
                <p> {{data.acctNo}}</p>
                <p> {{data.barcode}}</p>
            </div>
            <div class="col col-6">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            วันที่นำฝาก
                        </td>
                        <td>
                            10/08/2018
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ชื่อสาขาDTAC SHOP
                        </td>
                        <td>
                            <p>
                                {{data.locName}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>รหัสสาขา ตัวเลข 5 หลัก</p>
                            <p>CUSTOMER NO. (REF.1)</p>
                        </td>
                        <td>
                            <p>
                                {{data.locCode}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>REFERENCE NO.2 (REF NO.2)</p>
                        </td>
                        <td>
                            <p>

                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <table class="table table-bordered">
                    <tr>
                        <td class="is-center" rowspan="2">เงินสด</td>
                        <td class="is-center">{{data.moneyText}}</td>
                        <td class="is-center">{{data.amount}}</td>
                    </tr>
                    <tr>
                        <td class="is-center">จำนวนเงินเป็นตัวอักษร</td>
                        <td class="is-center">จำนวนเงินเป็นตัวเลข</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <p>
                    ชื่อผู้นำฝาก.........................................................
                </p>
                <p>
                    เบอร์ติดต่อ.........................................................
                </p>
            </div>
            <div class="col col-6">
                <div class="row">
                    <div class="col col-4">
                        <p> เจ้าหน้าที่ธนาคาร</p>
                    </div>
                    <div class="col col-8">
                        <p>....................................................</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">

                    </div>
                    <div class="col col-8">
                        <p>ผู้รับเงิน</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>