.is-white {
    color: #FFFFFF !important;
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 3vh 2vw;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.is-center {
    text-align: center;
}

.is-right {
    text-align: right;
    float: right;
}