<div class="container">
    <div class="head">
        <h2>File Attachment</h2>
    </div>
    <hr class=" featurette-divider border-bottom bg-primary shadow">
    <div class="row boxtext">
        <div class="col col-12" style="padding-left: 0;">
            <div class="col col-4 offset-1">
                <h6>{{titleName}} Date</h6>
            </div>
        </div>
        <div class="col col-4 offset-1">
            <span class="pr-1 is-bold">
                From
            </span>
            <p-calendar [(ngModel)]="formSearch.dateFrom" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true"></p-calendar>
        </div>
        <div class="col col-4 ">
            <span class="pr-1 is-bold">
            To
        </span>
            <p-calendar [(ngModel)]="formSearch.dateTo" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true"></p-calendar>
        </div>
        <div class="col col-2">
            <a class="btn btn-primary is-white" (click)="search('1')">Submit</a>
        </div>
    </div>
    <div class="pt-3">
        <div *ngFor="let data of listDate">
            <div class="p-2 pl-4">
                Sales as of :
                <span class="is-click is-underline" (click)="link(titleName, data.docDate, titleFile)">
                    {{ data.docDate  | date:'dd/MM/yyyy' }}
                </span>
            </div>
        </div>
        <div *ngIf="loading == true">
            <div class="is-center">
                <img src="assets/logo/tran_dtac.gif" alt="">
            </div>
        </div>
        <div *ngIf="checkData == 0">
            <div class="is-center">
                <p>No Data.</p>
            </div>
        </div>

        <!-- <div *ngIf="paging != 0"> -->
        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
        <p class="total-records">
            Total records: {{paginator.totalRecords}}
        </p>
        <!-- </div> -->
    </div>

    <div class="col-md-12  pt-2">
        <button class="btn btn-primary is-white" (click)="back()" name="Back">Back</button>
    </div>
</div>