.head {
    text-align: center;
    padding-top: 15px
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 3vh 2vw;
}

.is-center {
    text-align: center;
    word-wrap: break-word;
}

.is-padding-table {
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.is-bold {
    font-weight: bold;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-white {
    color: #FFFFFF !important;
}

p {
    margin-top: .5rem;
}

.w-20 {
    width: 20px;
}

.w-40 {
    width: 40px;
}

.w-200 {
    width: 200px;
}

.w-80 {
    width: 80px;
}

.w-60 {
    width: 60px;
}

.w-105 {
    width: 105px;
}

.w-55 {
    width: 55px;
}

.padding-fixed {
    margin-top: .5vh;
    margin-bottom: .2vh;
}

.padding-buttom {
    padding-left: 95px;
    padding-right: 0px !important;
}

.is-padding-left {
    padding-left: 1vw;
}