<div class="Adjust_page">
    <div class="contrainer">
        <div class="head">
            <h2>Re-Adjustment</h2>
            <p class="dbline2"></p>
        </div>
        <div class="topmain">
            <div class="col-md-12">
                <div class="boxtext">
                    <div class="row">

                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Sales & Payment date : From</p>
                        </div>
                        <div class="col col-md-3">
                            <p-calendar [(ngModel)]="form.adjSrchReq.mainDocDate" [showIcon]="true" dateFormat="dd/mm/yy" (ngModelChange)="toMainDocDate()" placeholder="dd/mm/yyyy"></p-calendar>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">To</p>
                        </div>
                        <div class="col col-md-3" *ngIf="searchMaindoc == '0'">
                            <p-calendar [(ngModel)]="form.adjSrchReq.mainDocDateTo" [showIcon]="true" [minDate]="minMainDocDate" dateFormat="dd/mm/yy" disabled placeholder="dd/mm/yyyy"></p-calendar>
                        </div>
                        <div class="col col-md-3" *ngIf="searchMaindoc == '1'">
                            <p-calendar [(ngModel)]="form.adjSrchReq.mainDocDateTo" [showIcon]="true" [minDate]="minMainDocDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                        </div>

                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Adjust date : From</p>
                        </div>
                        <div class="col col-md-3">
                            <p-calendar [(ngModel)]="form.adjSrchReq.adjustDate" [showIcon]="true" dateFormat="dd/mm/yy" (ngModelChange)="toDocDate()" placeholder="dd/mm/yyyy"></p-calendar>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">To</p>
                        </div>
                        <div class="col col-md-3" *ngIf="searchAdjustdoc == '0'">
                            <p-calendar [(ngModel)]="form.adjSrchReq.adjustDateTo" [showIcon]="true" [minDate]="mintoDocDate" dateFormat="dd/mm/yy" disabled placeholder="dd/mm/yyyy"></p-calendar>
                        </div>
                        <div class="col col-md-3" *ngIf="searchAdjustdoc == '1'">
                            <p-calendar [(ngModel)]="form.adjSrchReq.adjustDateTo" [showIcon]="true" [minDate]="mintoDocDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                        </div>


                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Company</p>
                        </div>
                        <div class="col col-md-3">
                            <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.company">
                                <option value='' selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                            </select>

                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Payment type</p>
                        </div>
                        <div class="col col-md-3">
                            <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType">
                                <option value='' selected>All</option>
                                <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N'">{{payment.paymentTypeDesc}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Location code</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" name="description">
                                <option value=''>All</option>
                                <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Location name</p>
                        </div>
                        <div class="col col-md-3">
                            <input *ngIf="form.adjSrchReq.locationCode == ''" type="text" class="form-control" name="amount" disabled>
                            <input *ngFor="let locate of locationList" type="text" class="form-control" name="amount" [hidden]="form.adjSrchReq.locationCode != locate.code " value="{{locate.name}}" disabled>
                        </div>
                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Adjust type</p>
                        </div>
                        <div class="col col-md-3">
                            <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.adjustType">
                                <option value=''>All</option>
                                <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType == 'SH' || type.adjustDocType == 'TR' ">{{type.adjustType}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Status</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.status">
                                <option value=''>All</option>
                                <option *ngFor="let status of adjustStatus" value="{{status.adjustStatusCode}}" [hidden]="status.adjustStatusCode == 0 || status.adjustStatusCode == 3">{{status.adjustStatusDesc}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Amount</p>
                        </div>
                        <div class="col col-md-3">
                            <input type="text" pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="form.adjSrchReq.amount" (keyup)="isOnlyNumber($event, form.adjSrchReq.amount, '', 'form')" (blur)="isOnlyNumber($event, form.adjSrchReq.amount, '', 'form')"
                            />
                        </div>

                        <div class="col col-md-2">
                            <p class="is-bold">WHT</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.wht">
                                    <option value=''>All</option>
                                    <option  value="N" >No</option>
                                    <option  value="Y" >Yes</option>
                                </select>
                        </div>
                        <div class="col col-md-11 is-money">
                            <button class="btn btn-primary" (click)="Search('1', 'click')" name="Search">Search</button>
                            <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                        </div>
                    </div>
                </div>

                <div class="col col-md-12 is-padding-table" *ngIf="search">
                    <table class="table table-bordered">
                        <tr class="is-header-table">
                            <th class="is-center w-60">Adjust no</th>
                            <th class="is-center w-80">Adjust date</th>
                            <th class="is-center w-105">Sales & Payment date</th>
                            <th class="is-center w-55">Location code</th>
                            <th class="is-center w-60">Company</th>
                            <th class="is-center w-105">Adjust type</th>
                            <th class="is-center w-80">Payment type</th>
                            <th class="is-center w-40">Status</th>
                            <th class="is-center w-40">WHT</th>
                            <th class="is-center w-40">Amount</th>
                            <th class="is-center w-40">Action</th>
                        </tr>
                        <tr *ngFor="let data of filterData" [hidden]="loading == true">
                            <td class="is-center">{{data.adjustNo}}</td>
                            <td class="is-center">{{data.adjustDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td class="is-center">{{data.mainDocDate | date:'dd/MM/yyyy'}}</td>
                            <td class="is-center">{{data.locationCode}} </td>
                            <td class="is-center">{{data.company}}</td>
                            <td class="">{{data.adjustType}}</td>
                            <td class="is-center">{{data.paymentType}} </td>
                            <td class="is-center ">{{data.status}}</td>
                            <td class="is-center" (click)="view(data)">{{data.whtFlag=='N'?'No':'Yes'}}</td>
                            <td class="is-money ">{{data.amount | number:'.2'}}</td>
                            <td class="is-center ">
                                <button *ngIf="(data.status == 'Pending') && data.postGlDate; else watch" (click)="edit(data)" title="add" width="16">
                                    <img src="assets/icon/edit.png">
                                </button>
                                <ng-template #watch>
                                    <button class="btn btn-info" *ngIf="(data.status == 'Pending' || data.status == 'Resolved') && data.postGlFlag == 'RE' && !data.postGlDate; else add" (click)="view(data)" title="update" width="16">
                                        ดูเหตุผล
                                    </button>
                                    <ng-template #add>
                                        <button *ngIf="(data.status == 'Pending') && data.postGlFlag == 'RE' && data.postGlDate" (click)="edit(data)" title="add" width="16">
                                                <img src="assets/icon/edit.png">
                                            </button>
                                    </ng-template>
                                </ng-template>
                            </td>
                        </tr>
                        <tr *ngIf="loading == true">
                            <td colspan="11" class="is-center">
                                <img src="assets/logo/tran_dtac.gif">
                            </td>
                        </tr>
                        <tr *ngIf="checkData == 0 || filterData.length == 0 && loading == false">
                            <td colspan="11" class="is-center">
                                <p>No Data.</p>
                            </td>
                        </tr>
                    </table>
                    <div *ngIf="paging != 0">
                        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.totalRecords}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog *ngIf="box == 1" [(visible)]="display" [closable]="false" [modal]="false" [responsive]="true" [width]="1200" [minWidth]="200" [positionTop]="50" [minY]="50 " [baseZIndex]="10000 ">
    <div class="row">
        <div class="col-4">
            <h5>
                Main doc date: {{listData.mainDocDate | date:'dd/MM/yyyy' }}<br> Company: {{listData.company}}<br> Location code: {{listData.locationCode}}<br> Payment type: {{listData.paymentType}}
            </h5>
        </div>
        <div class="col-3 offset-5">
            <h5 *ngIf="listData">
                Adjust amount: {{listData.amount | number:'.2'}}
            </h5>
        </div>
    </div>
    <button type="button" class="btn btn-info mb-3" (click)="addList()">+ ปรับปรุง Adjust</button>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <table class="table table-bordered is-center">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        <span style="color: red;">*</span>Adjust type
                    </th>
                    <th>
                        <span style="color: red;">*</span>Bank
                    </th>
                    <th>
                        <span style="color: red;">*</span>Amount
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="data.deleteFlag" *ngFor="let data of adjustAmountList; let i = index">
                    <td style="padding-top: 4vh">
                        <span>
                            {{i+1}}
                        </span>
                    </td>
                    <td>
                        <select name="type" class="form-control" [(ngModel)]="data.adjustType" (ngModelChange)="setBank(i)">
                            <option value=null selected>กรุณาระบุ</option>
                            <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'AR'">{{type.adjustType}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="status" [(ngModel)]="data.adjustBank" [disabled]="data.fixAccountFlag != 'N'">
                            <option value=null>กรุณาระบุ</option>
                            <option *ngFor="let bank of data.bank" value={{bank.bankAccountNo}}>{{bank.bankAccountName}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" pInputText pKeyFilter="money" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="data.adjustAmount" (keyup)="isOnlyNumber($event, data.adjustAmount, i, 'list')" (blur)="isOnlyNumber($event, data.adjustAmount, i, 'list')">
                    </td>
                    <td style="padding-top: 3vh">
                        <button title="Delete" (click)="deleteList(i)">
                            <img src="assets/icon/trash.png">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </p-scrollPanel>
    <!-- <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <div class="row " *ngIf="adjustAmountList.length">
            <div class="col col-1">
                <span class="is-padding-left">
                    No.
                </span>
            </div>
            <div class="col col-4">
                <span style="color: red;">*</span>Adjust type
            </div>
            <div class="col col-4">
                <span style="color: red;">*</span>Bank
            </div>
            <div class="col col-2">
                <span style="color: red;">*</span>Amount
            </div>
        </div>
        <div class="row padding-fixed" *ngFor="let data of adjustAmountList; let i = index">
            <div class="col col-1">
                <span class="is-padding-left">
                    {{i+1}}
                </span>
            </div>
            <div class="col col-4">
                <select name="type" class="form-control" [(ngModel)]="data.adjustType" (ngModelChange)="setBank(i)">
                    <option value=null selected>กรุณาระบุ</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'AR'">{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-4">
                <select class="form-control" name="status" [(ngModel)]="data.adjustBank" [disabled]="data.fixAccountFlag != 'N'">
                    <option value=null>กรุณาระบุ</option>
                    <option *ngFor="let bank of data.bank" value={{bank.bankAccountNo}}>{{bank.bankAccountName}}</option>
                </select>
            </div>
            <div class="col col-2">
                <input type="text" pInputText pKeyFilter="money" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="data.adjustAmount" (keyup)="isOnlyNumber($event, data.adjustAmount, i, 'list')" (blur)="isOnlyNumber($event, data.adjustAmount, i, 'list')">
            </div>
            <div class="col col-1">
                <img class="" data-toggle="modal" name="delete" (click)="deleteList(i)" src="assets/icon/trash.png">
            </div>
        </div>
    </p-scrollPanel> -->
    <div class="col-md-12 pb-3 mt-3 pr-0 is-money">
        <button type="button" [hidden]='!checkSave' class="btn btn-secondary" disabled>Submit</button>
        <button type="button" [hidden]='checkSave' class="btn btn-primary" (click)="submit(listData.amount, 'submit')" data-toggle="modal" data-target="#submitBox">Submit</button>
        <button type="button" class="btn bg-light" (click)="onClose(true)" data-dismiss="modal">Cancel</button>
    </div>
</p-dialog>

<p-dialog *ngIf="box == 2" [(visible)]="display" [closable]="false" [modal]="false" [responsive]="true" [width]="1200" [minWidth]="200" [positionTop]="50" [minY]="50 " [baseZIndex]="10000 ">
    <div class="row">
        <div class="col-4" *ngIf="listData">
            <h5>
                <span>
                    Main doc date: {{listData.mainDocDate | date:'dd/MM/yyyy' }} <br>
                </span>
                <span>
                    Company: {{listData ? listData.companyCode : 'Unknown'}} <br>
                </span>
                <span>
                    Location code: {{listData ? listData.locationCode : 'Unknown'}} <br>
                </span>
                <span>
                    Payment type: {{listData ? listData.paymentTypeCode : 'Unknown'}} <br>
                </span>
            </h5>
        </div>
        <div class="col-3 offset-5">
            <h5 *ngIf="listData">
                <span *ngIf="listData.refAdjustDocId">
                    Refernce document: {{listData.refAdjustDocId}}
                </span>
                <br> Adjust amount: {{listData.amount | number:'.2'}}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-info mb-3" (click)="addList()">+ ปรับปรุง Adjust</button>
            <button type="button" class="btn btn-danger mb-3" (click)="preDelete(listData.refAdjustDocId)">
                <img name="delete" src="assets/icon/trash.png"> ยกเลิกการปรับปรุง adjust ทั้งหมด
            </button>
        </div>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <table class="table table-bordered is-center">
            <thead>
                <tr>
                    <th>
                        Adjust no
                    </th>
                    <th>
                        <span style="color: red;">*</span>Adjust type
                    </th>
                    <th>
                        <span style="color: red;">*</span>Bank
                    </th>
                    <th>
                        <span style="color: red;">*</span>Amount
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="data.deleteFlag" *ngFor="let data of adjustAmountList; let i = index">
                    <td style="padding-top: 4vh">
                        <span *ngIf="data.adjustDocId">
                            {{data.adjustDocId}}
                        </span>
                    </td>
                    <td>
                        <select name="type" class="form-control" [(ngModel)]="data.adjustType" (ngModelChange)="setBank(i)">
                            <option value=null selected>กรุณาระบุ</option>
                            <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'AR'">{{type.adjustType}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="status" [(ngModel)]="data.adjustBank" [disabled]="data.fixAccountFlag != 'N'">
                            <option value=null>กรุณาระบุ</option>
                            <option *ngFor="let bank of data.bank" value={{bank.bankAccountNo}}>{{bank.bankAccountName}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" pInputText pKeyFilter="money" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="data.adjustAmount" (keyup)="isOnlyNumber($event, data.adjustAmount, i, 'list')" (blur)="isOnlyNumber($event, data.adjustAmount, i, 'list')">
                    </td>
                    <td style="padding-top: 3vh">
                        <button title="Delete" (click)="deleteList(i)">
                            <img class="is-click" src="assets/icon/trash.png">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="row " *ngIf="adjustAmountList.length">
            <div class="col col-1">
                <span class="is-padding-left">
                    Adj no
                </span>
            </div>
            <div class="col col-4">
                <span style="color: red;">*</span>Adjust type
            </div>
            <div class="col col-4">
                <span style="color: red;">*</span>Bank
            </div>
            <div class="col col-2">
                <span style="color: red;">*</span>Amount
            </div>
        </div>
        <div class="row padding-fixed" [hidden]="data.deleteFlag" *ngFor="let data of adjustAmountList; let i = index">
            <div class="col col-1">
                <span class="is-padding-left" *ngIf="data.adjustDocId">
                    {{data.adjustDocId}}
                </span>
            </div>
            <div class="col col-4">
                <select name="type" class="form-control" [(ngModel)]="data.adjustType" (ngModelChange)="setBank(i)">
                    <option value=null selected>กรุณาระบุ</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'AR'">{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-4">
                <select class="form-control" name="status" [(ngModel)]="data.adjustBank" [disabled]="data.fixAccountFlag != 'N'">
                    <option value=null>กรุณาระบุ</option>
                    <option *ngFor="let bank of data.bank" value={{bank.bankAccountNo}}>{{bank.bankAccountName}}</option>
                </select>
            </div>
            <div class="col col-2">
                <input type="text" pInputText pKeyFilter="money" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="data.adjustAmount" (keyup)="isOnlyNumber($event, data.adjustAmount, i, 'list')" (blur)="isOnlyNumber($event, data.adjustAmount, i, 'list')">
            </div>
            <div class="col col-1">
                <button>
                    <img class="is-click" data-toggle="modal" name="delete" title="Delete" (click)="deleteList(i)" src="assets/icon/trash.png">
                </button>
            </div>
        </div> -->
    </p-scrollPanel>

    <div class="col-md-12 pb-3 mt-3 pr-0 is-money">
        <button type="button" [hidden]="!checkSave" class="btn btn-secondary" data-toggle="modal" data-target="#submitBox" disabled>Submit</button>
        <button type="button" [hidden]="checkSave" class="btn btn-primary" (click)="submit(listData.amount, 'update')" data-toggle="modal" data-target="#submitBox">Submit</button>
        <button type="button" class="btn bg-light" (click)="onClose(true)" data-dismiss="modal">Cancel</button>
    </div>
</p-dialog>

<p-dialog *ngIf="box == 3 " [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [positionTop]="100" [minY]="70" [baseZIndex]="10000">
    <div class="col-md-4 offset-5 ">
        <p>You want to delete </p>
    </div>
    <div class="col-md-6 offset-5 pb-3 ">
        <button type="button " (click)="delete(deleteRef) " class=" btn btn-info " data-toggle="modal" name="submitBox" data-target="#submitBox">OK</button>
        <button type="button " class=" btn btn-primary" (click)="cancel() ">Cancel</button>
    </div>
</p-dialog>

<div class="modal fade" id="submitBox" style="z-index: 20000;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="!errorStatus">
                <img src="assets/icon/fail.png" *ngIf="errorStatus">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorStatus">Adjustment Complete</p>
                <p *ngIf="errorStatus">{{errorMessage}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button class="btn btn-primary" data-dismiss="modal" (click)="onClose(true)" *ngIf="!errorStatus" mc-web>OK</button>
                <button class="btn btn-primary" data-dismiss="modal" *ngIf="errorStatus" mc-web>OK</button>
            </div>
        </div>
    </div>
</div>