.head {
    text-align: center;
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 3vh 2vw;
}

p {
    text-align: center
}

.calMA {
    padding-top: 0.25rem !important;
}

.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-white {
    color: #FFFFFF !important;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.is-center {
    text-align: center;
}

.p-l-0 {
    padding-left: 0 !important
}

.is-sky {
    background: rgb(0, 160, 224) !important;
    /* background: #0E84B5 !important; */
    color: #FFFFFF;
    font-weight: bold;
}

.is-light-sky {
    background: rgb(0, 160, 224) !important;
    /* background: #4d96b6 !important;
    color: #000000;
    font-weight: bold; */
}

.is-orange {
    background: rgb(0, 160, 224) !important;
    /* background: #ffa43c!important;
    font-weight: bold;
    color: #FFFFFF; */
}

.is-light-orange {
    background: rgb(0, 160, 224) !important;
    /* background: #ffc862;
    font-weight: bold;
    color:#000000 ;*/
}

.is-green {
    background: rgb(0, 160, 224) !important;
    /* background: #00c27a!important;
    font-weight: bold;
    color: #FFFFFF; */
}

.is-light-green {
    background: rgb(0, 160, 224) !important;
    /* background: #C4E48C;
    font-weight: bold;
    color:#000000 */
}

.is-light-green {
    background: #C4E48C;
    font-weight: bold;
    color: #000000;
}