<div class="Closingendday">
    <div class="contrainer pt-4">
        <div class="head">
            <h2>Main Page AR</h2>

        </div>
        <div class="container pt-4">
            <div class="row boxtext">
                <div class="col col-3 offset-4 calMA p-l-0">
                    <span class="pr-1 is-bold">
                      
                    </span>
                    <p-calendar [(ngModel)]="formSearch.dateTo" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange={{yearRanges}} [showIcon]="true"></p-calendar>
                </div>
                <!-- 
                <div class="col col-3 offset-1">
                    <span class="pr-1 is-bold">Status</span>
                    <select class="selectpicker" class="form-control" name="description" [(ngModel)]="formSearch.status">
                        <option value=''>All</option>
                        <option value="C">Complete</option>
                        <option value="I">InComplete</option>
                    </select>
                </div> -->
                <div class="col col-3 p-l-0">
                    <a class="btn btn-primary is-white mb-0" (click)="searchData()">Search</a>
                </div>
            </div>

            <div class="col col-md-12 is-center pt-3" style="padding: 0">
                <table class="table table-bordered " *ngIf="!isLoading; else loading">
                    <tr class="is-header-table">
                        <th class="is-center">Date</th>
                        <th class="is-center is-sky">Cash</th>
                        <th class="is-center is-orange">Cheque</th>
                        <th class="is-center is-sky">Credit Card</th>
                        <th class="is-center is-green">Withholding Tax</th>
                    </tr>
                    <tbody *ngIf="closingList.length; else noData">
                        <tr *ngFor="let list of closingList">
                            <td class="is-text" (click)="onGo(list.docDate)" class="is-click is-underline">
                                {{ list.docDate | date:'dd/MM/yyyy' }}
                            </td>
                            <td *ngFor="let pmntList of list.payments" class="is-text">
                                <img *ngIf="pmntList.outstandingDiffAmt == '0' || pmntList.outstandingDiffAmt == null" src="assets/icon/checked.png">
                                <img *ngIf="pmntList.outstandingDiffAmt != '0' && pmntList.outstandingDiffAmt != null" src="assets/icon/cancel.png">
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noData>
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    No Data.
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
                <ng-template #loading>
                    <table class="table table-bordered">
                        <tr class="is-header-table">
                            <th class="is-center">Date</th>
                            <th class="is-center">Cash</th>
                            <th class="is-center">Cheque</th>
                            <th class="is-center">Credit Card</th>
                            <th class="is-center">Withholding Tax</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    <img src="assets/logo/tran_dtac.gif">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
        </div>
    </div>
</div>