<div class="container">
    <div class="head">
        <h2>File Attachment</h2>
    </div>
    <hr class=" featurette-divider border-bottom bg-primary shadow">
    <div class="row">
        <div class="col col-12" style="padding-left: 0;">
            <div class="col col-4">
                <h6>{{titleFile}} : {{dateFile | date:'dd/MM/yyyy'}}</h6>
            </div>
        </div>
    </div>
    <div class="pt-3">
        <!-- url="#" (onUpload)="onUpload($event)" -->
        <p-fileUpload name="fileUpload[]" multiple="multiple" accept=".pdf"  customUpload="true" (uploadHandler)="onUpload($event)" [(maxFileSize)]="maxsizePdf">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length"> 
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>

    <div class="row">
        <div class="col-12 pt-3">
            <div *ngFor="let data of listPdf" class="pt-3">
                <div class="col col-12">
                    <span class="is-click is-underline" (click)="preview(data)">{{data.filename}}</span> <span class="pl-5"> <img  (click)="delete(data)" src="../../../../../assets/icon/bin.png"></span>
                </div>

            </div>
        </div>
    </div>

    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
    <p class="total-records">
        Total records: {{paginator.totalRecords}}
    </p>

    <div class="col-md-12  pt-2">
        <button class="btn btn-primary is-white" (click)="back()" name="Back">Back</button>
    </div>

</div>



<p-dialog [(visible)]="display" [responsive]="true" [width]="800" [positionTop]="100" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div class="col-md-4 offset-5 pd-l">
        <img src="assets/icon/check.png" *ngIf="msg == 'success' || msgDelete == 'success'">
        <img src="assets/icon/fail.png" *ngIf="msg =='fail' || msgDelete == 'fail'">
    </div>
    <div class="modal-body text-center">
        <p *ngIf="msg == 'success'">Success To Upload</p>
        <p *ngIf="msg == 'fail'">Fail To Upload</p>
        <p *ngIf="msgDelete == 'success'">Success To Delete</p>
        <p *ngIf="msgDelete == 'fail'">Fail To Delete</p>
    </div>
    <div class="col-md-6 offset-5 pd-l pb-3">
        <button class=" btn btn-primary" (click)="reOpen()">OK</button>
    </div>
</p-dialog>