<div class="contrainer ">
    <div class="container">
        <div class="head">
            <h2>Summary Report</h2>
        </div>
        <hr class=" featurette-divider border-bottom bg-primary shadow">
        <div class="row boxtext">
            <div class="col col-12" style="padding-left: 0;">
                <div class="col col-4 offset-1">
                    <h6>Sales & Payment Date</h6>
                </div>
            </div>
            <div class="col col-4 offset-1">
                <span class="pr-1 is-bold">
                  From
              </span>
                <p-calendar [(ngModel)]="formSearch.dateFrom" dateFormat="dd/mm/yy" yearRange={{yearRanges}} [showIcon]="true"></p-calendar>
            </div>
            <div class="col col-4 ">
                <span class="pr-1 is-bold">
                To
            </span>
                <p-calendar [(ngModel)]="formSearch.dateTo" dateFormat="dd/mm/yy" yearRange={{yearRanges}} [showIcon]="true"></p-calendar>
            </div>
            <div class="col col-2">
                <a class="btn btn-primary is-white" (click)="submit('1')">Submit</a>
                <!--  <a class="btn btn-primary is-white" (click)="loadReport('data')">Submit</a> -->
            </div>
        </div>
        <div class="pt-3">

            <div *ngFor="let data of filterData">
                <div class="p-2 pl-4">
                    Report as of :
                    <span class="is-click is-underline" (click)="loadReport(data)">
                        {{ data.docDate | date:'dd/MM/yyyy' }}
                    </span>
                </div>
            </div>
            <div *ngIf="loading == true">
                <div class="is-center">
                    <img src="assets/logo/tran_dtac.gif" alt="">
                </div>
            </div>
            <div *ngIf="checkData == 0">
                <div class="is-center">
                    <p>No Data.</p>
                </div>
            </div>

            <div *ngIf="paging != 0">

                <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                <p class="total-records">
                    Total records: {{paginator.totalRecords}}
                </p>
            </div>
        </div>

    </div>

</div>