<div *ngIf="pageUser == 0">
    <div class="payment">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3" style="text-align:center;">
                    <h3>Location Shop</h3>
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary" (click)="formBank()" [hidden]="formActive">
                        + New Location
                    </button>
                </div>
                <div class="col-4" *ngIf="pageUser == 0 && dataActive">
                    <div class="row">
                        <div class="col-md-3 no-padding-width">
                            <select class="custom-select" [(ngModel)]="findBy" (ngModelChange)="clearSearchValue()">
                                <option value=null selected>Find by...</option>
                                <option value="locationCode">Location Code</option>
                                <option value="locationType">Location Type</option>
                                <!-- <option value=3>Status</option>
                            <option value=4>Role</option>  -->
                            </select>
                        </div>
                        <div class="col-md-6 no-padding-width">
                            <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="findSearch"
                                placeholder="Search...">
                        </div>
                        <div class="col-md-2 no-padding-width search-right">
                            <button type="button" class="btn btn-primary" (click)="formSearch()">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-box" *ngIf="formActive">
                <div class="row">
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Location Code
                    </div>
                    <div class="col-md-5 mb-3">
                        <input type="text" name="LocationCode" [(ngModel)]="formData.locationCode" maxlength="5" class="form-control"
                            placeholder="ex. 10001">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Location Name(EN)
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="LocationNameEN " [(ngModel)]="formData.locationNameEn" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Location Name(TH)
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="LocationNameTH " [(ngModel)]="formData.locationNameTh" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Location Type
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="LocationType " [(ngModel)]="formData.locationType " class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Location Area
                    </div>
                    <div class="col-md-5 mb-3">
                        <input type="text" name="LocationCode" [(ngModel)]="formData.locationArea" class="form-control">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Manager Name(EN)
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ManagerNameEN " [(ngModel)]="formData.managerNameEn" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Manager Name(TH)
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ManagerNameTH " [(ngModel)]="formData.managerNameTh" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Manager Mobile
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ManagerMobile " [(ngModel)]="formData.managerMobileNo" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Manager Email
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ManagerEmail " [(ngModel)]="formData.managerEmail" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Hierachy Mapping
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ManagerNameEN " [(ngModel)]="formData.hierachyMapping" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Cluster Code
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ClusterCode " [(ngModel)]="formData.clusterCode" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Cluster Name
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="ClusterName " [(ngModel)]="formData.clusterName" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Zone Code
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="zoneCode " [(ngModel)]="formData.zoneCode" class="form-control ">
                    </div>
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Zone Name
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <input type="text " name="zoneName " [(ngModel)]="formData.zoneName" class="form-control ">
                    </div>
                  <!--   <div class="col-md-2 offset-2 mt-2 is-money">
                            Location Status
                        </div>
                        <div class="col-md-5 mb-3 ">
                            <select [(ngModel)]="formData.locationStatus" class="form-control">
                                <option value=undefined>กรุณาเลือก</option>
                                <option value="N">N</option>
                                <option value="Y">Y</option>
                            </select>
                        </div> -->
                    <div class="col-md-2 offset-2 mt-2 is-money">
                        Reconciled Flag
                    </div>
                    <div class="col-md-5 mb-3 ">
                        <select [(ngModel)]="formData.reconciledFlag" class="form-control">
                            <option value=undefined>กรุณาเลือก</option>
                            <option value="N">N</option>
                            <option value="Y">Y</option>
                        </select>
                    </div>
                    <div class="col-5 offset-4">
                        <a class="btn bg-light is-float-right " (click)="formSearch() ">Cancel</a>
                        <a *ngIf="edit==1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save"
                            (click)="update() ">Update</a>
                        <a *ngIf="edit !=1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save"
                            (click)="submitData() ">Save</a>
                    </div>
                </div>
            </div>
            <div class="detail-box " *ngIf="dataActive">
                <table class="table table-center table-responsive-md ">
                    <thead>
                        <tr>
                            <!-- <th scope="col ">No</th> -->
                            <th scope="col ">Location Code</th>
                            <th scope="col ">Location Name</th>
                            <th scope="col ">Location Type</th>
                            <th scope="col">User</th>
                            <th scope="col ">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loading; else load">
                        <tr>
                            <td colspan="5">
                                <img src="assets/logo/tran_dtac.gif">
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #load>
                        <tbody *ngIf="dbData.length;">
                            <tr *ngFor="let data of dbData; let i=index ">
                                <!-- <th scope="row ">{{i+1}}</th> -->
                                <td>{{data.locationCode}}</td>
                                <td>{{data.locationNameEn}}</td>
                                <td>{{data.locationType}}</td>
                                <td>
                                    <button class="btn btn-primary " (click)="user(data) " type="button ">
                                        User
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-warning " (click)="editBank(data) " type="button ">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger " data-toggle="modal" data-target="#delete"(click)="delete(data)" type="button ">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!dbData.length;">
                            <tr>
                                <td colspan="5">
                                    <h3 class="is-center">
                                        No Data.
                                    </h3>
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
                <div class="rows">
                    <div class="col-12">
                        <p-paginator [rows]="paginator.location.recordPerPage" [totalRecords]="paginator.location.totalRecords"
                            (onPageChange)="paginate($event, 'location')"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.location.totalRecords}}
                        </p>
                    </div>
                </div>
            </div>
            <p-growl [(value)]="msgs "></p-growl>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="msg=='pass'" class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div *ngIf="msg=='pass'" class="modal-body text-center">
                    <p>บันทึกสำเร็จ</p>
                </div>
                <div *ngIf="msg == 'fail' ||msg =='notInput'" class="col-md-4 offset-5">
                    <img src="assets/icon/fail.png">
                </div>
                <div *ngIf="msg=='fail'" class="modal-body text-center">
                    <p>ไม่สามารถทำรายการได้</p>
                </div>
                <div *ngIf="msg=='notInput'" class="modal-body text-center">
                    <p>กรุณากรอกข้อมูลให้ครบถ้วน</p>
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button *ngIf="msg=='pass'" type="button" class=" btn btn-primary" (click)="formSearch()"
                        data-dismiss="modal">OK</button>
                    <button *ngIf="msg=='fail'||msg == 'notInput'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- manage maping user -->

<div *ngIf="pageUser == 1">
    <div class="payment">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="text-align:center;">
                    <h3>User mapping with location {{formUserData.locationCode}}</h3>
                </div>
                <div *ngIf="!userData.length" class="col-1 is-right pt-3">
                    <button type="button" class="btn btn-primary" (click)="backToLocation()" [hidden]="formUserActive">
                        Back
                    </button>
                </div>
                <div class="col-4 offset-8 is-right">
                    <div class="row">
                        <div class="col-md-3 no-padding-width">
                            <select class="custom-select" [(ngModel)]="findBy">
                                <option value="" selected>Find by...</option>
                                <option value="user_name">Username</option>
                            </select>
                        </div>
                        <div class="col-md-6 no-padding-width">
                            <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="findSearch"
                                placeholder="Search...">
                        </div>
                        <div class="col-md-2 no-padding-width search-right">
                            <button type="button" class="btn btn-primary" (click)="formSearchUser()">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="dataUserActive">
                <div class="row">
                    <div class="col-12 is-right mt-3">
                        <div class="form-check form-check-inline is-click">
                            <input class="form-check-input is-click" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                (click)="filterRadio('all')" [checked]="filterBy == 'all' ? true : null">
                            <label class="form-check-label is-click" for="inlineRadio1">All</label>
                        </div>
                        <div class="form-check form-check-inline is-click">
                            <input class="form-check-input is-click" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                (click)="filterRadio('active')" [checked]="filterBy == 'active' ? true : null">
                            <label class="form-check-label is-click" for="inlineRadio2">Active</label>
                        </div>
                        <div class="form-check form-check-inline is-click">
                            <input class="form-check-input is-click" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                (click)="filterRadio('inactive')" [checked]="filterBy == 'inactive' ? true : null">
                            <label class="form-check-label is-click" for="inlineRadio3">InActive</label>
                        </div>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <table class="table table-center table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col ">No</th>
                                        <th scope="col ">User Name</th>
                                        <!-- <th scope="col ">Location Code</th> -->
                                        <th scope="col ">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="loading; else loadUser">
                                    <tr>
                                        <td colspan="5">
                                            <img src="assets/logo/tran_dtac.gif">
                                        </td>
                                    </tr>
                                </tbody>
                                <ng-template #loadUser>
                                    <tbody *ngIf="userData.length">
                                        <tr *ngFor="let data of userData; let i=index ">
                                            <th scope="row ">{{(currentPaging*10)+(i+1)}}</th>
                                            <td>{{data.userName}}</td>
                                            <!-- <td>{{data.locationCode}}</td> -->
                                            <td>
                                                <input class="position-static" type="checkbox" id="active" [(ngModel)]="data.active">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!userData.length">
                                        <tr>
                                            <td colspan="5">
                                                <h3 class="is-center">
                                                    No Data.
                                                </h3>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="refreshPaging">
                    <p-paginator [rows]="paginator.user.recordPerPage" [totalRecords]="paginator.user.totalRecords"
                        (onPageChange)="paginate($event, 'user')"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.user.totalRecords}}
                    </p>
                </div>
                <div class="rows" *ngIf="userData.length">
                    <div class="col-2 offset-10 is-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#saveuser" (click)="saveUser()">Save</button>
                        <button class="btn bg-light" (click)="backToLocation()" [hidden]="formUserActive">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="saveuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="msguser=='pass'" class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div *ngIf="msguser=='pass'" class="modal-body text-center">
                <p>บันทึกสำเร็จ</p>
            </div>
            <div *ngIf="msguser == 'fail' ||msguser =='notInput'" class="col-md-4 offset-5">
                <img src="assets/icon/fail.png">
            </div>
            <div *ngIf="msguser=='fail'" class="modal-body text-center">
                <p>ไม่สามารถทำรายการได้</p>
            </div>
            <div *ngIf="msguser=='notInput'" class="modal-body text-center">
                <p>กรุณากรอกข้อมูลให้ครบถ้วน</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msguser=='pass'" type="button" class=" btn btn-primary" (click)="formSearch()"
                    data-dismiss="modal">OK</button>
                <button *ngIf="msguser=='fail'||msguser == 'notInput'" type="button" class=" btn btn-primary"
                    data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Modal -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>




<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                        (click)="deleteBank()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>