<div class="user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5" style="text-align:center;">
                <h3>Adjust Type Setup</h3>
            </div>
            <div class="col-8" *ngIf="userActive">
                <button type="button" class="btn btn-primary" (click)="formUser()">
                    + Adjust Type
                </button>
            </div>
            <div class="col-4" *ngIf="userActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="adjustDocType">Document Type</option>
                            <option value="adjustType">Adjust Type</option>
                            <option value="adjustStatusDesc">Status</option>
                            <option value="glAccount">GL account</option>
                            <option value="onetimePostFlag">Post to GL</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search" placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col">
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>Document Type
                            </div>
                            <div class="col-md-5 mb-3">
                                <select class="custom-select" name="docType" [(ngModel)]="formData.adjustDocType">
                                    <option value=null selected>Choose Role</option>
                                    <option value="SH">Shop</option>
                                    <option value="AR">AR</option>
                                </select>
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>Adjust Type
                            </div>
                            <div class="col-md-5 mb-3">
                                <input class="form-control" name="type" [(ngModel)]="formData.adjustType">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>Default Status
                            </div>
                            <div class="col-md-5 mb-3">
                                <select class="custom-select" name="status" [(ngModel)]="formData.adjustStatusCode">
                                    <option value=null selected>Choose Status</option>
                                    <option value='1'>Pending</option>
                                    <option value='2'>Resolved</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>Required Check Amount
                            </div>
                            <div class="col-md-5 mb-3">
                                <select class="custom-select" name="checkAmtFlag" [(ngModel)]="formData.checkAmtFlag" (ngModelChange)="clearAmt()">
                                    <option value=null selected>Choose</option>
                                    <option value='Y'>Yes</option>
                                    <option value='N'>No</option>
                                </select>
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>Check Amount Value
                            </div>
                            <div class="col-md-5 mb-3">
                                <input class="form-control  is-money" type="text" pInputText pKeyFilter="money" maxlength="14" placeholder="0.00" name="checkAmtValue" [(ngModel)]="formData.checkAmtValue" [disabled]="formData.checkAmtFlag=='N'||formData.checkAmtFlag==null || formData.checkAmtFlag=='null'"
                                    (keyup)="isOnlyNumber($event,formData.checkAmtValue, 'amount')" (blur)="isOnlyNumber($event, formData.checkAmtValue, 'amount')">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>Fix Amount Flag
                            </div>
                            <div class="col-md-5 mb-3">
                                <select class="custom-select" name="checkAmtFlag" [(ngModel)]="formData.onetimePostFlag">
                                    <option value=null selected>Choose</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div *ngIf="formData.onetimePostFlag == 'Y'">
                        <div class="row" >
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL Account
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" maxlength="5" [(ngModel)]="formData.glAccount" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL RC
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glRc" pInputText pKeyFilter="alphanum" maxlength="4" [(ngModel)]="formData.glRc" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL Product
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glPd" pInputText pKeyFilter="alphanum" maxlength="5" [(ngModel)]="formData.glProduct" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL Project
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glPj" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glProject" class="form-control" placeholder="12345">
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL CS
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glCs" pInputText pKeyFilter="alphanum" maxlength="2" [(ngModel)]="formData.glCs" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL FS
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glFs" pInputText pKeyFilter="alphanum" maxlength="3" [(ngModel)]="formData.glFs" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL SS
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glSs" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glSs" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-2 offset-2 is-left">
                                <font style="color:red;">*</font>GL RS
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glRs" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glRs" class="form-control" placeholder="12345">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="formData.onetimePostFlag == 'N'"> 
                            <div class="col-md-2 offset-2">
                                <button class="btn btn-primary is-float-right" data-toggle="modal" data-target="#newDetail" (click)="clearFormAdjustDetail()" >New Detail</button>
                            </div>
                            <br>
                            <div class="detail-box">
                                    <div class="col is-money">
                                        <table class="table table-center table-responsive-md">
                                            <thead>
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Adjust Code</th>
                                                    <th scope="col">Company</th>
                                                    <th scope="col">Bank</th>
                                                    <th scope="col">Account</th>
                                                    <th scope="col">GL Account</th>
                                                    <th scope="col" colspan="2">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="!formDataAdjustDetail.length else filter">
                                                <tr *ngFor="let data of adjustDetail; let i = index">
                                                    <th>{{(i+1)+((paginatorAdjustDetail.currentPage-1)*10)}}</th>
                                                    <td>{{data.adjustCode}}</td>
                                                    <td>{{data.companyCode}}</td>
                                                    <td>{{data.bankShortName}}</td>
                                                    <td>{{data.bankAccountNo}}</td>
                                                    <td>{{data.glAccount}}</td>
                                                    <td>
                                                        <button class="btn btn-warning" data-toggle="modal" data-target="#newDetail" (click)="editUserAdjustDetail(data.adjustDetailId)" type="button">
                                                        Edit
                                                        </button>
                                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAdjustSetup" (click)="deleteAdjustSetup(data.adjustDetailId)" type="button">
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div *ngIf="paging != 0">
                                            <p-paginator [rows]="paginatorAdjustDetail.recordPerPage" [totalRecords]="paginatorAdjustDetail.totalRecords" (onPageChange)="paginateAdjudtDetail($event)"></p-paginator>
                                            <p class="total-records">
                                                Total records: {{paginatorAdjustDetail.totalRecords}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-5 offset-4">
                                    <button class="btn bg-light is-float-right" type="submit" (click)="formSearch()">Cancel</button>
                                    <button *ngIf="edit == '1'" class="btn btn-primary is-float-right" type="submit" data-toggle="modal" data-target="#save" (click)="update(formData)">Update</button>
                                    <button *ngIf="edit != '1'" class="btn btn-primary is-float-right" type="submit" data-toggle="modal" data-target="#save" (click)="addType(formData)">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="userActive">
            <div class="row">
                <div class="col">
                    <table class="table table-center table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Adjust Id</th>
                                <th scope="col">Document Type</th>
                                <th scope="col">Adjust Type</th>
                                <th scope="col">Status</th>
                                <th scope="col">GL account</th>
                                <th scope="col">Post to GL</th>
                                <th scope="col" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!filterUser.length else filter">
                            <tr *ngFor="let data of adjustType">
                                <th scope="row">{{data.adjustMasterId}}</th>
                                <td>{{data.adjustDocType == 'SH' ? 'Shop': data.adjustDocType == 'AR' ? 'AR' : '-' }}</td>
                                <td>{{data.adjustType}}</td>
                                <td>{{data.adjustStatusDesc}}</td>
                                <td>{{data.glAccount}}</td>
                                <td>{{data.onetimePostFlag}}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="editUser(data.adjustMasterId)" type="button">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete" (click)="delete(data.adjustMasterId)" type="button">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="paging != 0">
                        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.totalRecords}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div *ngIf="msg=='pass' || msg=='passAdj'" class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
                <p>บันทึกสำเร็จ</p>
            </div>
            <div *ngIf="msg == 'fail' ||msg =='notInput' ||msg =='notInputAdj'" class="col-md-4 offset-5">
                <img src="assets/icon/fail.png">
            </div>
            <div *ngIf="msg=='fail'" class="modal-body text-center">
                <p>ไม่สามารถทำรายการได้</p>
            </div>
            <div *ngIf="msg=='notInput'||msg =='notInputAdj'" class="modal-body text-center">
                <p>กรุณากรอกข้อมูลให้ครบถ้วน</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg=='pass'" type="button" class=" btn btn-primary" (click)="formSearch()" data-dismiss="modal">OK</button>
                <button *ngIf="msg=='passAdj'" type="button" class=" btn btn-primary" (click)="formUser()" data-dismiss="modal">OK</button>
                <button *ngIf="msg=='fail'||msg == 'notInput'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                <button *ngIf="msg == 'notInputAdj'" type="button" class=" btn btn-primary" (click)="displayModel()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>

            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal" (click)="deleteAdjustType()">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal  delete success -->
<div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>ลบสำเร็จ</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal" (click)="closeFormAdjustDetail()">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete Adjust typs setup -->
<div class="modal fade" id="deleteAdjustSetup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>

            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal" (click)="deleteAdjustDetail()">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Adjust Type Setup -->
            <p-dialog [(visible)]="modalAdjustTypeSutup" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                <br>
                    <div class="row" >
                            <div class="col-md-3 offset-1 is-left">
                                <font style="color:red;">*</font>Adjust Code
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" maxlength="10" [(ngModel)]="formDataAdjustDetail.adjustCode" class="form-control" placeholder="12345">
                            </div>
                            <div class="col-md-3 offset-1 is-left">
                                <font style="color:red;">*</font>Company
                            </div>
                            <div class="col-md-5 mb-3">
                                <select name="type" class="form-control" name="company" [(ngModel)]="formDataAdjustDetail.companyCode">
                                    <option value=null selected>Choose Company</option>
                                    <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 offset-1 is-left">
                                <font style="color:red;">*</font>Bank
                            </div>
                            <div class="col-md-5 mb-3">
                                <select name="type" class="form-control" name="bank" [(ngModel)]="formDataAdjustDetail.bankShortName">
                                    <option value=null selected>Choose Bank</option>
                                    <option *ngFor="let bankShortName of bankShortName" value="{{bankShortName.bankShortName}}" >{{bankShortName.bankShortName}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 offset-1 is-left">
                                <font style="color:red;">*</font>Bank Account Type
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" name="bankAccountName" pInputText maxlength="50" [(ngModel)]="formDataAdjustDetail.bankAccountName" class="form-control" placeholder="C/A BBL Siam (123-456-79)">
                            </div>
                        </div>
                        <div class="row" >
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>Account
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="bankAccountNo" pInputText pKeyFilter="num" maxlength="50" [(ngModel)]="formDataAdjustDetail.bankAccountNo" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL Account
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glAccount" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glAccount" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL RC
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glRc" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glRc" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL Product
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glProduct" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glProduct" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL Project
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glProject" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glProject" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL CS
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glCs" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glCs" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL FS
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glFs" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glFs" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL SS
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glSs" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glSs" class="form-control" placeholder="12345">
                                </div>
                                <div class="col-md-3 offset-1 is-left">
                                    <font style="color:red;">*</font>GL RS
                                </div>
                                <div class="col-md-5 mb-3">
                                    <input type="text" name="glRs" pInputText pKeyFilter="num" maxlength="10" [(ngModel)]="formDataAdjustDetail.glRs" class="form-control" placeholder="12345">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 offset-4">
                                        <button class="btn bg-light is-float-right" type="submit" (click)=" closeFormAdjustDetail()">Cancel</button>
                                        <button *ngIf="edit == '1'" class="btn btn-primary is-float-right" type="submit" data-toggle="modal" data-target="#save" (click)="updateAdjustDetail(formDataAdjustDetail)">Update</button>
                                        <button *ngIf="edit != '1'" class="btn btn-primary is-float-right" type="submit" data-toggle="modal" data-target="#save" (click)="addAdjustDetail(formDataAdjustDetail)">Save</button>
                                </div>
                            </div>
                        <br>
                    </p-dialog>
