<div class="contrainer">
    <div class="head">
        <h2>Report Reconcile Sale order by Legacy</h2>
        <p class="dbline2"></p>
    </div>
    <div class="topmain">
        <div class="col-md-12">
            <div class="boxtext">
                <div class="row">

                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Company</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.company">
                                <option value=null selected>All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}">{{company.companyCode}}</option>
                            </select>
                    </div>

                    <div class="col col-md-2">
                        <p class="is-bold">Payment method </p>
                    </div>
                    <div class="col col-md-3">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType">
                                <option value=null selected>All</option>
                                <option value="CSH">Cash</option>
                                <option value="CHQ">Cheque</option>
                                <option value="CC">Credit Card</option>
                                <option value="wht">Withholding Tax</option>
                            </select>
                    </div>

                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Transaction Date</p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar [(ngModel)]="form.adjSrchReq.dateFrom" [showIcon]="true" dateFormat="dd/mm/yy" (ngModelChange)="toTranDate()" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-4" *ngIf="searchTrandoc == '0'">
                        <p-calendar [(ngModel)]="form.adjSrchReq.dateTo" [showIcon]="true" [minDate]="minTranDate" dateFormat="dd/mm/yy" disabled placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-4" *ngIf="searchTrandoc == '1'">
                        <p-calendar [(ngModel)]="form.adjSrchReq.dateTo" [showIcon]="true" [minDate]="minTranDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>


                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">GL Posted Date</p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar [(ngModel)]="form.adjSrchReq.GldateFrom" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>

                    <div class="col col-md-2 ">
                        <p class="is-bold">Location Code</p>
                    </div>
                    <div class="col col-md-3">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" (ngModelChange)="loadLocationType()" name="description">
                                <option value=undefined>All</option>
                                <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
                            </select>
                    </div>

                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Channel Type </p>
                    </div>
                    <div class="col col-md-3">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.locationType">
                                <option value=null selected>All</option>
                                <option *ngFor="let locate of locationType" value="{{locate.locationType}}">{{locate.locationType}}</option>
                            </select>
                    </div>

                    <div class="col-1">
                    </div>
                    <div class="col col-md-11 is-money">
                        <button class="btn btn-primary" (click)="printExcel()" name="Search">Print Excel</button>
                        <button class="btn btn-primary" (click)="print()" name="Search">Print PDF</button>
                        <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>