<div class="form">
    <div class="container pt-2">
        <div class="head is-center">
            <h2>Confirm Sale & Payment</h2>
            <p class="dbline2"></p>
        </div>
        <div class="containertext" *ngIf="loading; else loadSuccess">
            <div class="is-center">
                <img src="assets/logo/tran_dtac.gif" alt="">
            </div>
        </div>
        <ng-template #loadSuccess>
            <div class="containertext" *ngIf="closed == 'closed'; else otherLayout">
                <h3 class="is-center is-bold"> {{messageAlert}} </h3>
            </div>
            <ng-template #otherLayout>
                <div>
                    <h4 class="is-bold" *ngIf="dateVal !== 'No Data.'">
                        Sale & Payment Date as of <span>{{ dateVal }}</span>
                    </h4>
                </div>
                <div *ngIf="docStatus == 'I'">
                    <div class="pt-3">
                        <hr class=" featurette-divider border-bottom bg-primary shadow">
                    </div>
                    <div class="text-right">
                        <p>Last import file date : {{lastSyncDate | date:'dd/MM/yyyy HH:MM:SS' }}</p>
                    </div>
                    <div *ngIf="mergLoad == false" class="is-center padding-top">
                        <button class="btn btn-primary pading-btn" data-toggle="modal" data-target="#mearg"><h3 class="is-bold">ยืนยันสิ้นสุดการขายประจำวัน</h3></button>
                    </div>
                    <div>
                        <br>
                        <h5 *ngIf="mergLoad == false" class='is-bold is-center' style="color: red"> !!กรุณาตรวจสอบรับเงินทุกระบบให้เสร็จสิ้นเรียบร้อย หาก ยืนยันปิดร้าน แล้วรายการที่เกิดหลังจากนี้จะเข้าเป็นรายการยอดขายของวันถัดไป!!</h5>
                    </div>
                    <div *ngIf="mergLoad == true" class="is-center">
                        <img src="assets/logo/tran_dtac.gif" alt="">
                    </div>
                </div>


                <div class="container bg-border" *ngIf="mearg == 'success' || docStatus != 'I'">
                    <div class="ui-tabmenu ui-widget ui-widget-content ui-corner-all">
                        <ul class="ui-tabmenu-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                            <li class="ui-tabmenuitem is-click ui-corner-top is-sky" *ngIf="!this.clickLoad; else tab1Load" (click)="activeForm(1)">
                                <a class="ui-menuitem-link ui-corner-all">
                                    <span class="ui-menuitem-text">Cash & Credit Card
                                        <!-- ({{statusTab1 == 'I' ? 'Incomplete' : statusTab1 == 'D' ? 'Complete' : 'Edit...'}}) -->
                                    </span>
                                </a>
                            </li>
                            <ng-template #tab1Load>
                                <li class="ui-tabmenuitem ui-corner-top is-disabled">
                                    <a class="ui-menuitem-link ui-corner-all">
                                        <span class="ui-menuitem-text">Cash & Credit Card
                                            <!-- ({{statusTab1 == 'I' ? 'Incomplete' : statusTab1 == 'D' ? 'Complete' : 'Edit...'}}) -->
                                        </span>
                                    </a>
                                </li>
                            </ng-template>
                            <li class="ui-tabmenuitem is-click ui-corner-top is-orange" *ngIf="!this.clickLoad; else tab2Load" (click)="activeForm(2)">
                                <a class="ui-menuitem-link ui-corner-all">
                                    <span class="ui-menuitem-text">Cheque
                                        <!-- ({{statusTab2 == 'I' ? 'Incomplete' : statusTab2 == 'D' ? 'Complete' : 'Edit...'}}) -->
                                    </span>
                                </a>
                            </li>
                            <ng-template #tab2Load>
                                <li class="ui-tabmenuitem ui-corner-top is-disabled">
                                    <a class="ui-menuitem-link ui-corner-all">
                                        <span class="ui-menuitem-text">Cheque
                                            <!-- ({{statusTab1 == 'I' ? 'Incomplete' : statusTab1 == 'D' ? 'Complete' : 'Edit...'}}) -->
                                        </span>
                                    </a>
                                </li>
                            </ng-template>
                            <li class="ui-tabmenuitem is-click ui-corner-top is-green" *ngIf="!this.clickLoad; else tab3Load" (click)="activeForm(3)">
                                <a class="ui-menuitem-link ui-corner-all">
                                    <span class="ui-menuitem-text">Withholding Tax
                                        <!-- ({{statusTab3 == 'I' ? 'Incomplete' : statusTab3 == 'D' ? 'Complete' : 'Edit...'}}) -->
                                    </span>
                                </a>
                            </li>
                            <ng-template #tab3Load>
                                <li class="ui-tabmenuitem ui-corner-top is-disabled">
                                    <a class="ui-menuitem-link ui-corner-all">
                                        <span class="ui-menuitem-text">Withholding Tax
                                            <!-- ({{statusTab1 == 'I' ? 'Incomplete' : statusTab1 == 'D' ? 'Complete' : 'Edit...'}}) -->
                                        </span>
                                    </a>
                                </li>
                            </ng-template>
                        </ul>
                    </div>
                    <div [hidden]="!(selectForm === 1)">
                        <table class="table table-bordered" *ngIf="!loadCsh; else loading1">
                            <tr class="is-sky">
                                <th class="is-center">Payment Type</th>
                                <th class="is-center">Amount ( THB )</th>
                            </tr>
                            <tbody *ngIf="objectData.cashcredit.length; else nodata">
                                <tr *ngFor="let data of objectData.cashcredit; let i = index">
                                    <td>
                                        <span *ngIf="data.paymentTypeCode === 'CC'">
                                            Credit Card
                                        </span>
                                        <span *ngIf="data.paymentTypeCode === 'CSH'">
                                            Cash
                                        </span> - {{data.companyCode}}
                                    </td>
                                    <td>
                                        <input type="text" pInputText pKeyFilter="num" maxlength="14" class="form-control is-money" name="cash_dtn" placeholder="0.00" [(ngModel)]="data.shopAmt" (ngModelChange)="editValue('statusTab1');" (keyup)="isOnlyNumber($event, data.shopAmt, i, 'cash')"
                                            (blur)="isOnlyNumber($event, data.shopAmt, i, 'cash')">
                                    </td>
                                </tr>

                                <!-- <tr>
                                    <td>
                                        <span>
                                            Cash - DTN
                                        </span>
                                    </td>
                                    <td>
                                        <input currencyMask class="form-control is-money" name="cash_dtn" placeholder="0.00" *ngIf="objectData.cashCC.dtnCsh" [(ngModel)]="objectData.cashCC.dtnCsh.shopAmt" (ngModelChange)="editValue('statusTab1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            Credit Card - DTN
                                        </span>
                                    </td>
                                    <td>
                                        <input currencyMask class="form-control is-money" name="credit_dtn" placeholder="0.00" *ngIf="objectData.cashCC.dtnCC" [(ngModel)]="objectData.cashCC.dtnCC.shopAmt" (ngModelChange)="editValue('statusTab1')">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            Credit Card - DTAC
                                        </span>
                                    </td>
                                    <td>
                                        <input currencyMask class="form-control is-money" name="crecit_dtac" placeholder="0.00" *ngIf="objectData.cashCC.dtacCC" [(ngModel)]="objectData.cashCC.dtacCC.shopAmt" (ngModelChange)="editValue('statusTab1')">
                                    </td>
                                </tr> -->
                                <tr>
                                    <td colspan="2" *ngIf="statusTab1 != 'E' || clickLoad; else disabled">
                                        <button class="btn btn-secondary btn-top col-md-1 offset-md-11" name="Draft" data-toggle="modal" data-target="#alertBox" disabled>
                                            Save Draft
                                        </button>
                                    </td>
                                    <ng-template #disabled>
                                        <td colspan="2">
                                            <button class="btn btn-info btn-top col-md-1 offset-md-11" name="Draft" (click)="saveDraft('cash')" data-toggle="modal" data-target="#alertBox">
                                                Save Draft
                                            </button>
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                            <ng-template #nodata>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="is-center">
                                            No Data.
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                        <ng-template #loading1>
                            <table class="table table-bordered" *ngIf="selectForm === 1">
                                <tr class="is-sky">
                                    <th class="is-center">Payment Type</th>
                                    <th class="is-center">Amount ( THB )</th>
                                </tr>
                                <tr>
                                    <td colspan="2" class="is-center">
                                        <img src="assets/logo/tran_dtac.gif" alt="">
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                    </div>
                    <div [hidden]="!(selectForm === 2)">
                        <table class="table table-bordered" *ngIf="!loadChq;else loading2">
                            <tr>
                                <td class="is-orange" colspan="6">
                                    <button class="btn btn-info" (click)="addNewList('Cheque')">เพิ่มรายการ</button>
                                    <span class="word-right black">Total Amount : <span >{{this.totalAmount | number:'.2'}}</span> </span>
                                </td>
                            </tr>
                            <tr class="is-light-orange">
                                <th class="is-center">No.</th>
                                <th class="is-center">Company</th>
                                <th class="is-center">Bank Code</th>
                                <th class="is-center">Cheque No.</th>
                                <th class="is-center">Amount ( THB )</th>
                                <th class="is-center" width="60"></th>
                                <!-- Confirm -->
                            </tr>
                            <tbody *ngIf="objectData.cheque.length; else nodata">
                                <tr *ngFor="let data of objectData.cheque; let i = index">
                                    <td>
                                        {{(i+1)+paginator.firstCheque}}
                                    </td>
                                    <td>
                                        <select name="type" class="form-control is-center dropdown-center" [(ngModel)]="data.company" [disabled]="data.checkbox" (ngModelChange)="editValue('statusTab2')">
                                            <option *ngFor="let data of company" [hidden]="data.companyCode === 'PAYSBUY'">{{data.companyCode}}</option>
                                        </select>
                                    </td>
                                    <td class="is-center">
                                        {{data.bankCode}}
                                        <!--  <input type="text" pInputText pKeyFilter="int" maxlength="10" class="form-control" [disabled]="data.checkbox" name="bankCode" [(ngModel)]="data.bankCode" (ngModelChange)="editValue('statusTab2')"> -->
                                        <!-- <span *ngFor="let list of bank" [hidden]="data.bankCode != list.bankCode">{{list.bankCode}}</span> -->
                                    </td>
                                    <td class="is-center">
                                        <input type="text" pInputText pKeyFilter="pint" maxlength="25" class="form-control is-center" [disabled]="data.checkbox" name="cheque" [(ngModel)]="data.chequeNo" (ngModelChange)="editValue('statusTab2')">
                                    </td>
                                    <td>
                                        <input type="text" pInputText pKeyFilter="num" maxlength="14" class="form-control is-money" name="amount" placeholder="0.00" [disabled]="data.checkbox" [(ngModel)]="data.shopAmt" (ngModelChange)="editValue('statusTab2')" (keyup)="isOnlyNumber($event, data.shopAmt, i, 'cheque')"
                                            (blur)="isOnlyNumber($event, data.shopAmt, i, 'cheque')">
                                    </td>
                                    <td class="is-center">
                                        <input type="checkbox" class=" is-center" [(ngModel)]="data.checkbox">
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #nodata>
                                <tr>
                                    <td colspan="6" class="is-center">
                                        No Data.
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                        <ng-template #loading2>
                            <table class="table table-bordered" *ngIf="selectForm === 2">
                                <tr class="is-light-orange">
                                    <th class="is-center">No.</th>
                                    <th class="is-center">Company</th>
                                    <th class="is-center">Bank</th>
                                    <th class="is-center">Cheque No.</th>
                                    <th class="is-center">Amount ( THB )</th>
                                    <th class="is-center" width="60">Confirm</th>
                                </tr>
                                <tr>
                                    <td colspan="6" class="is-center">
                                        <img src="assets/logo/tran_dtac.gif" alt="">
                                    </td>
                                </tr>
                            </table>
                        </ng-template>
                        <p-paginator [hidden]="!objectData.cheque.length || clickChange" [rows]="paginator.cheque.recordPerPage" [totalRecords]="paginator.cheque.totalRecords" (onPageChange)="paginate($event, 'cheque')" #pageChq></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.cheque.totalRecords}}
                        </p>
                        <span *ngIf="statusTab2 != 'E' || clickLoad; else otherButton1">
                            <button class="btn btn-secondary btn-top col-md-1 offset-md-11" data-toggle="modal"
                                data-target="#alertBox" disabled>
                                Save Draft
                            </button>
                        </span>
                        <ng-template #otherButton1>
                            <button class="btn btn-info btn-top col-md-1 offset-md-11" name="Draft" (click)="saveDraft('cheque')" data-toggle="modal" data-target="#alertBox">Save Draft</button>
                        </ng-template>
                    </div>
                    <div [hidden]="!(selectForm === 3)">
                        <table class="table table-bordered" *ngIf="!loadWht; else loading3">
                            <tr class="is-green">
                                <td colspan="12">
                                    <button class="btn btn-info" (click)="addNewList('Withholding Tax')">เพิ่มรายการ</button>
                                    <span class="word-right black">Total Amount : <span >{{this.totalAmount | number:'.2'}}</span></span>
                                </td>
                            </tr>
                            <tr class="is-light-green">
                                <th class="is-center">No.</th>
                                <th class="is-center">Company</th>
                                <th class="is-center" width="180">Tax ID.</th>
                                <th class="is-center">Customer Name</th>
                                <!-- <th class="is-center" width="180">จำนวนรายการ WHT
                                    <p class="margin_0">ต่อ 1 ลูกค้า</p>
                                </th>
                                <th class="is-center" width="120">วัน เดือน หรือ ปี ที่จ่ายภาษี</th> -->
                                <th class="is-center">Payment Type</th>
                                <th class="is-center" width="180">Amount ( THB )</th>
                                <th class="is-center" width="60"></th>
                                <!-- Action -->
                            </tr>
                            <tbody *ngIf="objectData.wht.length; else nodata">
                                <tr *ngFor="let data of objectData.wht; let i = index">
                                    <td class="is-center">{{(i+1)+paginator.firstWht}}</td>
                                    <td class="is-center">{{data.companyCode}}</td>
                                    <td class="is-break">{{data.taxId}}</td>
                                    <td class="is-break">{{data.custName}}</td>
                                    <!--  <td>
                                        <input class="form-control" name="wht" pInputText pKeyFilter="pint" [(ngModel)]="data.whtNo" (ngModelChange)="editValue('statusTab3')" [disabled]="data.checkbox" maxlength="25">
                                    </td>
                                    <td class="is-center">
                                        <p-calendar [(ngModel)]="data.whtDate" (ngModelChange)="editValue('statusTab3')" [disabled]="data.checkbox" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                                    </td> -->
                                    <td>
                                        <span *ngIf="data.paymentTypeCode === 'CC'">
                                            Credit Card
                                        </span>
                                        <span *ngIf="data.paymentTypeCode === 'CSH'">
                                            Cash
                                        </span>
                                        <span *ngIf="data.paymentTypeCode === 'CHQ'">
                                            Cheque
                                        </span>
                                    </td>
                                    <td>
                                        <input type="text" pInputText pKeyFilter="num" maxlength="14" class="form-control is-money" name="amount" placeholder="0.00" maxlength="14" [(ngModel)]="data.shopAmt" (ngModelChange)="editValue('statusTab3')" (keyup)="isOnlyNumber($event, data.shopAmt, i, 'wht')"
                                            (blur)="isOnlyNumber($event, data.shopAmt, i, 'wht')" [disabled]="data.checkbox">
                                    </td>
                                    <td class="is-center">
                                        <input type="checkbox" [(ngModel)]="data.checkbox" [disabled]="(!data.shopAmt)">
                                        <!-- !data.whtDate ||  -->
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #nodata>
                                <tbody>
                                    <tr>
                                        <td colspan="9" class="is-center">
                                            No Data.
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                        <ng-template #loading3>
                            <table class="table table-bordered" *ngIf="selectForm === 3">
                                <tr class="is-light-green">
                                    <th class="is-center">No.</th>
                                    <th class="is-center">Company</th>
                                    <th class="is-center">Tax No.</th>
                                    <th class="is-center">Customer Name</th>
                                    <th class="is-center">จำนวนรายการ WHT
                                        <p class="margin_0">ต่อ 1 ลูกค้า</p>
                                    </th>
                                    <th class="is-center">วัน เดือน หรือ ปี ที่จ่ายภาษี</th>
                                    <th class="is-center">Payment Type</th>
                                    <th class="is-center">Amount ( THB )</th>
                                    <th class="is-center" width="60"></th>
                                    <!-- Confirm -->
                                </tr>
                                <tbody>
                                    <tr>
                                        <td colspan="9" class="is-center">
                                            <img src="assets/logo/tran_dtac.gif" alt="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                        <p-paginator [hidden]="!objectData.wht.length || clickChange" [rows]="paginator.wht.recordPerPage" [totalRecords]="paginator.wht.totalRecords" (onPageChange)="paginate($event, 'wht')" #pageWht></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.wht.totalRecords}}
                        </p>
                        <span *ngIf="statusTab3 != 'E' || clickLoad || clickChange; else otherButton2">
                            <button class="btn btn-secondary btn-top col-md-1 offset-md-11" name="Draft" data-toggle="modal"
                                data-target="#alertBox" disabled>
                                Save Draft
                            </button>
                        </span>
                        <ng-template #otherButton2>
                            <button class="btn btn-info btn-top col-md-1 offset-md-11" name="Draft" (click)="saveDraft('wht')" data-toggle="modal" data-target="#alertBox">
                                Save Draft
                            </button>
                        </ng-template>
                    </div>
                </div>
                <div class="container" *ngIf="mearg == success || docStatus != 'I'">
                    <div class="is-money">
                        <div class="is-money">
                            <span *ngIf="(statusTab1 !== 'D' || statusTab2 !== 'D' || statusTab3 !== 'D') || clickLoad; else otherButton3">
                                <button class="btn btn-secondary" name="Submit" data-toggle="modal" data-target="#alertBox"
                                    [disabled]="true">Submit</button>
                            </span>
                            <ng-template #otherButton3>
                                <button class="btn btn-primary" name="Submit" (click)="submit()" data-toggle="modal">Submit</button>
                            </ng-template>
                            <button class="btn bg-light" routerLink="/" name="Cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
        <!-- modal -->
        <div class="modal fade" id="alertBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="btnState">
            <div class="modal-dialog" role="document">
                <div class="modal-content" *ngIf="!pendingApi; else pending">
                    <div class="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-md-4 offset-5">
                        <img *ngIf="(whtCheck.length || chqCheck.length) else checked" src="assets/icon/fail.png">
                        <ng-template #checked>
                            <img src="assets/icon/check.png" *ngIf="!errorStatus ">
                            <!-- && !failCondition -->
                            <img src="assets/icon/fail.png" *ngIf="errorStatus ">
                            <!-- || failCondition -->
                        </ng-template>
                    </div>
                    <div class="modal-body text-center">
                        <p *ngIf="(btnState === 'Save' && !errorStatus) ">Success to Save</p>
                        <!-- && !failCondition -->
                        <p *ngIf="(btnState === 'Submit' && !errorStatus) ">Success to Submit</p>
                        <!-- && !failCondition -->
                        <p *ngIf="errorStatus ">Fail to save.</p>
                        <p *ngIf="errorStatus ">{{errorText}}</p>
                        <!-- && !failCondition -->
                        <!-- <p *ngIf="failCondition">กรุณากรอกข้อมูลให้ครบถ้วน</p> -->
                        <!-- <p *ngIf="!(statusTab1 === 'S' && statusTab2 === 'S' && statusTab3 === 'S') && (whtCheck.length || chqCheck.length)">Please Confirm checkbox before Save</p> -->
                    </div>
                    <div class="col-md-6 offset-5 pb-3">
                        <button *ngIf="btnState === 'Save'" (click)="changeState()" class=" btn btn-primary" data-dismiss="modal">OK</button>
                        <button *ngIf="btnState === 'Submit'" (click)="SubmitData()" class=" btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
                <ng-template #pending>
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-md-12 text-center mt-4">
                                <img src="assets/logo/tran_dtac.gif" alt="">
                            </div>
                            <div class="col-md-12 text-center mt-5 mb-3">
                                <button class="btn btn-secondary" disabled>OK</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- Confirm Modal -->
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

        <!-- add modal -->
        <p-dialog *ngIf="!errorCheckSwitch" [(visible)]="display" [responsive]="true" [width]="1000" [minWidth]="300" [minY]="70" [baseZIndex]="10000">
            <div class="boxtext" *ngIf="form.active === 'Cheque'">
                <div class="row pb-2">
                    <div class="col col-md-12 pb-3 is-center">
                        <h2>Add Cheque</h2>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Company</p>
                    </div>
                    <div class="col col-md-4">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.cheque.company">
                            <option value="" selected>Please Select.</option>
                            <option *ngFor="let data of company" [hidden]="data.companyCode === 'PAYSBUY'">{{data.companyCode}}</option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Bank Code</p>
                    </div>
                    <div class="col col-md-4">
                        <!--  <input type="text" pInputText pKeyFilter="int" maxlength="10" class="form-control" [(ngModel)]="form.cheque.bankCode" /> -->
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.cheque.bankCode">
                            <option value="" selected>Please Select.</option>
                            <option *ngFor="let data of bank" value={{data.bankCode}}>{{data.bankCode}} - {{data.initialName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Cheque No.</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" pInputText pKeyFilter="pint" maxlength="25" class="form-control" [(ngModel)]="form.cheque.chequeNo" />
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Amount</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" pInputText pKeyFilter="num" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="form.cheque.shopAmt" (keyup)="isOnlyNumber($event, form.cheque.shopAmt, '', 'formChq')" (blur)="isOnlyNumber($event, form.cheque.shopAmt, '', 'formChq')"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 is-money">
                        <span *ngIf="!(form.cheque.shopAmt && form.cheque.chequeNo && form.cheque.bankCode && form.cheque.company);else disabled">
                            <button class="btn btn-secondary" data-toggle="modal" disabled="true">Submit</button>
                        </span>
                        <ng-template #disabled>
                            <span>
                                <button class="btn btn-primary" (click)="submitNewList('Cheque')" data-toggle="modal"
                                    data-target="#submitBox">Submit</button>
                            </span>
                        </ng-template>
                        <button class="btn bg-light" (click)="this.display = false">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="boxtext" *ngIf="form.active === 'Withholding Tax'">
                <div class="row pb-2">
                    <div class="col col-md-12 pb-3 is-center">
                        <h2>Add WHT</h2>
                    </div>
                    <!-- <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>วัน เดือน หรือ ปี ที่จ่ายภาษี</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <p-calendar [(ngModel)]="form.wht.whtDate" [showIcon]="true" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar>
                    </div> -->
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: #ff0000;">*</span>Tax ID.</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" pInputText pKeyFilter="pint" class="form-control" maxlength="13" [(ngModel)]="form.wht.taxId" />
                    </div>
                    <!-- </div>
                <div class="row pb-2"> -->
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Customer Name</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" class="form-control" maxlength="80" [(ngModel)]="form.wht.custName" />
                    </div>
                    <!-- <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>จำนวนรายการ WHT ต่อ 1 ลูกค้า</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" pInputText pKeyFilter="pint" maxlength="25" class="form-control" [(ngModel)]="form.wht.whtNo" />
                    </div> -->
                </div>
                <div class="row pb-2">
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Company</p>
                    </div>
                    <div class="col col-md-4">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.wht.companyCode">
                            <option value="" selected>Please Select.</option>
                            <option *ngFor="let data of company" [hidden]="data.companyCode === 'PAYSBUY'">{{data.companyCode}}</option>
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Payment Type</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.wht.paymentTypeCode">
                            <option value="" selected>Please Select.</option>
                            <option value="CSH">Cash</option>
                            <option value="CHQ">Cheque</option>
                            <option value="CC">Credit Card</option>
                        </select>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>Payment Amount</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" pInputText pKeyFilter="num" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="form.wht.paymentAmt" (keyup)="isOnlyNumber($event, form.wht.paymentAmt, '', 'paymentWht')" (blur)="isOnlyNumber($event, form.wht.paymentAmt, '', 'paymentWht')"
                        />
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold"><span style="color: red;">*</span>WHT Amount</p>
                    </div>
                    <div class="col col-md-4 mb-2">
                        <input type="text" pInputText pKeyFilter="num" maxlength="14" class="form-control is-money" placeholder="0.00" [(ngModel)]="form.wht.shopAmt" (keyup)="isOnlyNumber($event, form.wht.shopAmt, '', 'formWht')" (blur)="isOnlyNumber($event, form.wht.shopAmt, '', 'formWht')"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12 is-money">
                        <span *ngIf="!(form.wht.taxId && form.wht.shopAmt && form.wht.paymentAmt && form.wht.paymentTypeCode && form.wht.companyCode && form.wht.custName );else disabled"><!--- && form.wht.whtNo && form.wht.whtDate ---->
                            <button class="btn btn-secondary" data-toggle="modal" disabled="true">Submit</button>
                        </span>
                        <ng-template #disabled>
                            <span>
                                <button class="btn btn-primary" (click)="submitNewList('Withholding Tax')" data-toggle="modal"
                                    data-target="#submitBox">Submit</button>
                            </span>
                        </ng-template>
                        <button class="btn bg-light" (click)="this.display = false">Cancel</button>
                    </div>
                </div>
            </div>
        </p-dialog>

        <!-- modal add new list -->
        <div class="modal fade" id="submitBox" style="z-index: 20000;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="col-md-4 offset-5">
                        <img src="assets/icon/check.png" *ngIf="!errorStatus && !pendingWHT">
                        <img src="assets/icon/fail.png" *ngIf="errorStatus && !pendingWHT">
                    </div>
                    <div class="modal-body text-center">
                        <p *ngIf="!errorStatus">Success to Add {{this.form.active}}</p>
                        <p *ngIf="errorStatus">Fail to Add {{this.form.active}}</p>
                        <p *ngIf="errorStatus">{{errorText}}</p>
                    </div>
                    <div class="col-md-6 offset-5 pb-3">
                        <button class="btn btn-primary" data-dismiss="modal"  mc-web>OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="mearg" style="z-index: 20000;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center pt-5">
                        <p>ยืนยันปิดการขายประจำวัน</p>
                        <!-- <p class='is-bold is-center' style="color: red"> !!กรุณาตรวจสอบรับเงินทุกระบบให้เสร็จสิ้นเรียบร้อย หาก ยืนยันปิดร้าน แล้วรายการที่เกิดหลังจากนี้จะเข้าเป็นรายการยอดขายของวันถัดไป!!</p> -->
                    </div>
                    <div class="col-md-6 offset-4 padding-button-left pb-3">
                        <button (click)="meargConfirm()" class="btn btn-primary btn-ok" data-dismiss="modal" mc-web> OK </button>
                        <button class="btn bg-light" data-dismiss="modal" mc-web>Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <p-dialog *ngIf="errorCheckSwitch" [(visible)]="display" [responsive]="true" [width]="450" [minWidth]="250" [minY]="30" [baseZIndex]="10000">
            <div class="boxtext">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="assets/icon/check.png" *ngIf="!errorStatus">
                        <img src="assets/icon/fail.png" *ngIf="errorStatus">
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <p *ngIf="!errorStatus">Success to Add {{this.form.active}}</p>
                        <p *ngIf="errorStatus">Fail to Add {{this.form.active}}</p>
                        <p *ngIf="errorStatus">{{errorText}}</p>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" (click)="this.display = false">OK</button>
                    </div>
                </div>
            </div>
        </p-dialog>