.is-money {
    text-align: right;
}

.is-center {
    text-align: center;
}

.ui-widget {
    font-weight: bold;
}

.is-click {
    cursor: pointer;
}

.ui-tabmenu-nav {
    padding: 0;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    margin: 0 0 0 0;
    padding: 0;
}

.is-disabled {
    background: rgb(152, 152, 152) !important;
    color: #FFFFFF;
    font-weight: bold;
    cursor: not-allowed;
}

.is-sky {
    background: rgb(14, 132, 181) !important;
    color: #FFFFFF;
    font-weight: bold;
}

.is-orange {
    background: #ffa43c!important;
    /* background: #ffa800!important; */
    font-weight: bold;
    color: #FFFFFF;
}

.is-light-orange {
    background: #ffc862;
    /* background: #ffc862; */
    font-weight: bold;
}

.is-green {
    background: #00c27a!important;
    font-weight: bold;
    color: #FFFFFF;
}

.is-light-green {
    background: #C4E48C;
    font-weight: bold;
}

.btn {
    padding: 5px;
}

.container h5 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0.5rem;
}

.bg-border {
    border: 1px solid;
    border-color: #9c9c9c;
    border-radius: 10px;
    margin-bottom: 1%;
}

.container {
    padding: 1%;
}

.table {
    margin-bottom: 0;
}

.btn-top {
    margin-top: 1rem;
}

.containertext {
    margin-top: 30vh;
}

.is-break {
    word-break: break-all
}

.dropdown-center {
    text-align-last: center;
}

.padding-top {
    padding-top: 15%;
}

.pading-btn {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.is-bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.padding-button-left {
    padding-left: 18px;
}

.btn-ok {
    padding-left: 20px;
    padding-right: 20px;
}

.word-right {
    float: right;
    padding-top: inherit;
}

.black {
    color: #000000;
}

.margin_0 {
    margin: 0;
}


/*test*/

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}