<div class="container">
    <div class="row justify-content-md-center">
        <div class="container space-padding"></div>
        <div class="col-md-5 col-offset-6 is-center background-login">
            <h1 style="padding: 5%;">เข้าสู่ระบบ</h1>
            <div class="form-group">
                <!-- aria-describedby="emailHelp" -->
                <select class="password form-control" [(ngModel)]="domain">
                        <option value="">Domain Name</option>
                        <option value="tac_bangkok">tac_bangkok</option>
                        <option value="dcenter">dcenter</option>
                </select>
                <input type="text" class="uname form-control" [(ngModel)]="username" (keyup)="onKeyUser($event)" placeholder="ชื่อผู้ใช้">
                <input type="password" class="password form-control" [(ngModel)]="password" (keyup)="onKeyUser($event)" placeholder="รหัสผ่าน">

            </div>
            <div class="form-group">
                <span style="color:red;" *ngIf="alert">* ชื่อผู้ใช้,รหัสผ่านหรือ Domain ผิดพลาด</span>
                <button [disabled]="clickSingin" (click)="submit()" type="submit" class="btn btn-primary btn-lg btn-block" style="color:white">
                    <span>ล็อกอิน</span>
                </button>
            </div>
        </div>
    </div>

    <!-- modal -->
    <p-dialog [(visible)]="display" [modal]="true" [responsive]=" true " [width]="490 " [minWidth]="200 " [positionTop]="30">
        <div class="col-md-4 offset-5">
            <img *ngIf="!logInStatus" src="assets/icon/fail.png">
            <img *ngIf="logInStatus" src="assets/icon/check.png">
        </div>
        <div class="modal-body text-center">
            <p *ngIf="!logInStatus">Login ผิดพลาด</p>
            <p *ngIf="logInStatus">Login เรียบร้อย</p>
            <p *ngIf="logInStatus">คุณกำลังจะใช้งาน Location Code :</p>
            <select *ngIf="logInStatus" class="custom-select" name="role" [(ngModel)]="locationCode">
                <option value='' selected>Choose Location</option>
                <option *ngFor="let data of roleData" value={{data}}>{{data}}</option>
            </select>
        </div>
        <div class="col-md-6 offset-5 ">
            <button *ngIf="!logInStatus" type="button" class="btn btn-primary" (click)="display=false;alert=true">Back</button>
            <button *ngIf="logInStatus" type="button" class="btn btn-primary" (click)="ok()">OK</button>
        </div>
    </p-dialog>