.is-sum-table {
    background-color: #009edf;
    color: white;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-center {
    text-align: center;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    color: royalblue;
    text-decoration: underline;
}

.contrainer-login {
    margin-top: 30vh;
}

.background-login {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.32), 0 6px 20px 0 rgba(66, 66, 66, 0.32);
    text-align: center;
}

.row {
    margin-top: 10vh;
}