<div class="container">
    <div class="col col-md-12 is-center">
        <!--<p-scrollPanel [style]="{width: '100%', height: '550px'}"> -->
        <table class="table table-bordered" *ngIf="filterData.length">
            <tr class="is-header-table">
                <th class="is-center">Ref Document No</th>
                <th class="is-center">Adjust No</th>
                <th class="is-center">Company</th>
                <th class="is-center">Adjust Type</th>
                <th class="is-center">Status</th>
                <th class="is-center">Payment Type</th>
                <th class="is-center">Amount</th>
                <th class="is-center" colspan="2">Action</th>
            </tr>
            <tr *ngFor="let data of filterData" class=" is-click">
                <td class="is-center w-40 is-underline" (click)="view(data)">{{data.refAdjustDocId ? data.refAdjustDocId : ''}}</td>
                <td class="is-center w-40 is-underline" (click)="view(data)">{{data.adjustNo}}</td>
                <td class="is-center w-80 is-underline" (click)="view(data)">{{data.companyCode}}</td>
                <td class="is-text w-200 is-underline" (click)="view(data)">{{data.adjustType}}</td>
                <td class="is-center w-80 is-underline" (click)="view(data)">{{data.status}}</td>
                <td class="is-center w-80 is-underline" (click)="view(data)">{{data.paymentType}} </td>
                <td class="is-money w-80 is-underline" style="width:95px" (click)="view(data)">{{data.amount | number:'.2'}}</td>
                <!--  <td class="w-80 non-underline"> -->
                <td class="w-40 is-center">
                    <button class="is-click pr-1 pl-1" (click)="edit(data)" title="แก้ไข">
                            <img  src="assets/icon//edit.png">
                    </button>
                </td>
                <td class="w-40 is-center">
                    <button class="is-click pl-1 pr-1" data-toggle="modal" name="delete" (click)="addData(data)" title="ลบ">
                            <img  src=" assets/icon//trash.png">
                    </button>
                </td>

                <!--  </td> -->
            </tr>
        </table>
        <h1 class="pt-5" *ngIf="!filterData.length && noData=='0'">
            <img src="assets/logo/tran_dtac.gif">
        </h1>
        <h1 class="pt-3" *ngIf="!filterData.length && noData !='0'">
            ไม่มีข้อมูล
        </h1>
        <!--</p-scrollPanel> -->
        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
        <p class="total-records">
            Total records: {{paginator.totalRecords}}
        </p>
    </div>
</div>



<!-- Modal adjust list-->
<p-dialog *ngIf="box===2" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [positionTop]="50" [minY]="0" [baseZIndex]="10000" (onHide)="cancel()">
    <div style="height: 500px">
        <app-adjust-view [(data)]='listData' (displayClose)=" onClose($event)"></app-adjust-view>
    </div>
</p-dialog>


<!-- Modal adjust list-->
<p-dialog *ngIf="box===0" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [positionTop]="50" [minY]="0" [baseZIndex]="10000">
    <div style="height: 500px">
        <app-adjust [(data)]='listData' (displayClose)="onClose($event)"></app-adjust>
    </div>
</p-dialog>


<!-- Modal adjust update-->
<p-dialog *ngIf="box===3" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [positionTop]="50" [minY]="0" [baseZIndex]="10000" (onHide)="cancel()">
    <app-update-adjust [(data)]="editAdjust" (changeAmount)="changeAmount($event)" (displayClose)="onClose($event)"></app-update-adjust>
</p-dialog>



<!-- Modal -->
<!-- <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <p>You want to delete </p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" (click)="delete()" class=" btn btn-info" data-dismiss="model">OK</button>
                <button type="button" class=" btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> -->

<p-dialog *ngIf="box===4" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [positionTop]="50" [minY]="0" [baseZIndex]="10000">
    <div class="col-md-4 offset-5">
        <p>You want to delete </p>
    </div>
    <div class="col-md-6 offset-5 pb-3">
        <button type="button" (click)="delete()" class=" btn btn-info" data-toggle="modal" name="submitBox" data-target="#submitBox">OK</button>
        <button type="button" class=" btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
</p-dialog>


<div class="modal fade" id="submitBox" style="z-index: 20000;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="!msg">
                <img src="assets/icon/fail.png" *ngIf="msg">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!msg">Delete complete</p>
                <p *ngIf="msg">ไม่สามารถดำเนินการได้ เนื่องจากมีรายการอ้างอิงอยู่</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button class="btn btn-primary" data-dismiss="modal" (click)="display=false;" mc-web>OK</button>
            </div>
        </div>
    </div>
</div>



<p-dialog [(visible)]="display" *ngIf="box == 6" [responsive]="true" [width]="800" [minWidth]="200" [minY]="0" [positionTop]="50" [baseZIndex]="10000">
    <div class="col-md-4 offset-5">
        <img *ngIf="msg == 'overref'" src="assets/icon/fail.png">
    </div>
    <div class="modal-body text-center">
        <p *ngIf="msgUd == 'false'">ไม่สามารถดำเนินการได้ เนื่องจากมีรายการอ้างอิงอยู่</p>
    </div>
    <div class="col-md-6 offset-5 pb-3">
        <button class=" btn btn-primary" (click)="cancel()">OK</button>
    </div>
</p-dialog>