.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-center {
    text-align: center;
}

.is-padding-table {
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.is-bold {
    font-weight: bold;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.w-40 {
    width: 40px;
    word-break: break-all
}

.w-200 {
    width: 200px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.w-100 {
    width: 100px;
    word-break: break-all;
}

.non-underline {
    text-decoration: none !important;
}

.padding-r25 {
    padding-right: 25px;
}

.w-40 {
    width: 40px;
    word-break: break-all
}