<nav>
    <div class="container-fluid">
        <div class="labal">
            <div class="row">
                <div class="col col-3">
                    <a class="navbar-brand" routerLink="index">
                        <img src="assets/logo/dtac-text-logo.png" width="auto" height="40" class="d-inline-block align-top" (click)="activeMenu('')">
                    </a>
                </div>
                <div class="col col-9 label-right" style="position: relative;">
                    <div class="position-right-bottom">
                        <span class="label label-dtac">API</span>
                        <span class="label label-dtac">UI Version {{appVersion}}</span>
                        <span class="label label-dtac">LOCATION :
                            <select  class="label label-dtac" name="role" [(ngModel)]="service.mockLocationId" (ngModelChange)="editSession()">
                              <!-- <option value={{menuService.mockLocationId}} >{{menuService.mockLocationId}}</option> -->
                                <option *ngFor="let data of service.rawMockLocationId[0].locationCodeList" value="{{data.code}}" [hidden]="service.rawMockLocationId[0].locationCodeList == data.code">{{data.code}}</option>
                            </select>
                            <span *ngFor="let data of service.rawMockLocationId[0].locationCodeList" [hidden]="data.code !== service.mockLocationId" >{{data.name}}</span>
                        </span>
                        <span class="label label-dtac">DATE : {{ dateVal | date:'dd/MM/yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="status() == 'D' || status() == 'N'">
                <a class="nav-link" *ngIf="menuDisplay().confirmSale" [ngClass]="{'is-active':active().confirm}" routerLink="confirm-sale-payment/form-sale" (click)="activeMenu('form')">
                    <img src="assets/icon/accepted.png"> Confirm Sale & Payment
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
            </li>
            <li class="nav-item" *ngIf="(status() == 'S' && !closeDate()) && menuDisplay().closingEnd">
                <a class="nav-link" [ngClass]="{'is-active':active().closing}" routerLink="confirm-sale-payment/closing-end-of-day" (click)="activeMenu('closing')">
                    <img src="assets/icon/close.png"> Closing End of Day
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="menuDisplay().searchAdjust" [ngClass]="{'is-active':active().searchAdj}" routerLink="confirm-sale-payment/search-adjust" (click)="activeMenu('searchAdj')">
                    <img src="assets/icon/adjust.png">Search Adjust
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="pay">
                    <img src="assets/icon/pay.png" alt=""> Pay in Slip
                </a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" *ngIf="menuDisplay().payInSlip" [ngClass]="{'is-active':active().payin}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/icon/pay.png"> Pay In Slip
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="menuDisplay().payInPrint" class="dropdown-item" routerLink="/pay-in-slip/print" (click)="activeMenu('payin')">Print</a>
                    <a *ngIf="menuDisplay().payInReprint" class="dropdown-item" routerLink="/pay-in-slip/reprint" (click)="activeMenu('payin')">Reprint</a>
                    <a *ngIf="menuDisplay().payInCancel" class="dropdown-item" routerLink="/pay-in-slip/cancel" (click)="activeMenu('payin')">Cancel</a>
                    <a *ngIf="menuDisplay().payInSearch" class="dropdown-item" routerLink="/pay-in-slip/search" (click)="activeMenu('payin')">Search</a>
                </div>
            </li>
            <li class="nav-item">
                <!--  -->
                <a *ngIf="menuDisplay().attachFile" class="nav-link" [ngClass]="{'is-active':active().attachFile}" routerLink="admin-setup/attach-file" (click)="activeMenu('attach')">
                    Attach File
                </a>
            </li>

            <li class="nav-item">
                <a *ngIf="menuDisplay().searchCN" class="nav-link" [ngClass]="{'is-active':active().searchCdn}" routerLink="credit-note/search" (click)="activeMenu('searchCdn')">
                    Search Adjust Credit Card
                </a>
            </li>
            <li class="nav-item">
                <a *ngIf="menuDisplay().myViewAr" class="nav-link" [ngClass]="{'is-active':active().ar}" routerLink="reconciliation/main-page-ar" (click)="activeMenu('ar')">
                    My View AR
                </a>
            </li>
            <li class="nav-item">
                <a *ngIf="menuDisplay().ArTracking" class="nav-link" [ngClass]="{'is-active':active().ar}" routerLink="reconciliation/main-page-ar" (click)="activeMenu('ar')">
                    ARTracking
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="menuDisplay().searchAdjAR" [ngClass]="{'is-active':active().searchAdjAR}" routerLink="reconciliation/search-adjust-ar" (click)="activeMenu('searchAdjAR')">
                    <img src="assets/icon/adjust.png">Search Adjust For AR
                </a>
            </li>
            <li class="nav-item">
                <a *ngIf="menuDisplay().managePending" class="nav-link" [ngClass]="{'is-active':active().managePending}" routerLink="admin-setup/manage-pending" (click)="activeMenu('manage')">
                    Re-Adjustment
                    </a>
            </li>
            <!-- report -->
            <li class="nav-item dropdown">
                <a *ngIf="menuDisplay().summaryReport || menuDisplay().coverWHT" class="nav-link dropdown-toggle" [ngClass]="{'is-active':active().report}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Report
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="menuDisplay().coverWHT" class="dropdown-item" routerLink="/report/cover-wht" (click)="activeMenu('report')">Cover WHT</a>
                    <a *ngIf="menuDisplay().summaryReport" class="dropdown-item" routerLink="/report/summary-report" (click)="activeMenu('report')">Summary Report</a>
                    <a *ngIf="menuDisplay().ReportReconcileSale" class="dropdown-item" routerLink="/report/Reconcile-Sale-Report" (click)="activeMenu('report')">Reconcile Sale </a>
                    <a *ngIf="menuDisplay().ReportReconcileBank" class="dropdown-item" routerLink="/report/Report-Reconcile-Bank" (click)="activeMenu('report')">Reconcile by Bank</a>
                    <a *ngIf="menuDisplay().ReportOutstanding" class="dropdown-item" routerLink="/report/Outstanding-Report" (click)="activeMenu('report')">Outstanding Report</a>
                    <a *ngIf="menuDisplay().reportArAging" class="dropdown-item" routerLink="/report/ar-aging" (click)="activeMenu('report')">AR Aging</a>
                    <a *ngIf="menuDisplay().reportShortageSurplus" class="dropdown-item" routerLink="/report/Shortage-Surplus" (click)="activeMenu('report')">Shortage Surplus</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a *ngIf="menuDisplay().masterSetup" class="nav-link dropdown-toggle" [ngClass]="{'is-active':active().master}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Master
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="menuDisplay().masterAdjustType" class="dropdown-item" routerLink="/admin-setup/adjust-type" (click)="activeMenu('master')">Adjust Type</a>
                    <a *ngIf="menuDisplay().masterBankAccount" class="dropdown-item" routerLink="/admin-setup/bank" (click)="activeMenu('master')">Bank Account</a>
                    <a *ngIf="menuDisplay().masterBarcode" class="dropdown-item" routerLink="/admin-setup/barcode" (click)="activeMenu('master')">Barcode Setup</a>
                    <a *ngIf="menuDisplay().masterPaymentType" class="dropdown-item" routerLink="/admin-setup/payment-type" (click)="activeMenu('master')">Payment Type</a>
                    <a *ngIf="menuDisplay().masterLocationShop" class="dropdown-item" routerLink="/admin-setup/location-shop" (click)="activeMenu('master')">Location Shop</a>
                    <a *ngIf="menuDisplay().masterMerchant" class="dropdown-item" routerLink="/admin-setup/merchant" (click)="activeMenu('master')">Merchant</a>
                    <a *ngIf="menuDisplay().company" class="dropdown-item" routerLink="/admin-setup/company" (click)="activeMenu('master')">Company</a>
                    <!-- <a class="dropdown-item" routerLink="/admin-setup/loc-vs-bank" (click)="('master')">Location
                        vs Bank</a> -->
                    <a *ngIf="menuDisplay().suspense" class="dropdown-item" routerLink="/admin-setup/suspense" (click)="activeMenu('master')">Suspense</a>
                    <a *ngIf="menuDisplay().payinLocation" class="dropdown-item" routerLink="/admin-setup/payinLocation" (click)="activeMenu('master')">Pay-in mapping location</a>
                    <a *ngIf="menuDisplay().global" class="dropdown-item" routerLink="/admin-setup/global" (click)="activeMenu('master')">Global</a>
                    <a *ngIf="menuDisplay().bankSla" class="dropdown-item" routerLink="/admin-setup/bank-sla" (click)="activeMenu('master')">Bank Sla</a>
                    <a *ngIf="menuDisplay().holiday" class="dropdown-item" routerLink="/admin-setup/holiday" (click)="activeMenu('master')">Holiday</a>
                    <a *ngIf="menuDisplay().user" class="dropdown-item" routerLink="/admin-setup/user" (click)="activeMenu('master')">User</a>
                    <a *ngIf="menuDisplay().role" class="dropdown-item" routerLink="/admin-setup/role" (click)="activeMenu('master')">Role</a>
                    <a *ngIf="menuDisplay().OtherAccount" class="dropdown-item" routerLink="/admin-setup/mapping-Other-Account" (click)="activeMenu('master')">OtherAccount</a>
                    <a *ngIf="menuDisplay().notification" class="dropdown-item" routerLink="/admin-setup/notification" (click)="activeMenu('master')">Notification</a>
                    <a *ngIf="menuDisplay().attachMapping" class="dropdown-item" routerLink="/admin-setup/attach-mapping" (click)="activeMenu('master')">Attach Mapping</a>
                    <a *ngIf="menuDisplay().bankcodeMapping" class="dropdown-item" routerLink="/admin-setup/bankcode-mapping" (click)="activeMenu('master')">Bankcode Mapping</a>
                    <a *ngIf="menuDisplay().bankMaster" class="dropdown-item" routerLink="/admin-setup/bank-master" (click)="activeMenu('master')">Bank Master</a>
                </div>
            </li>

        </ul>
        <!-- hide -->
        <div class="navbar-nav">
            <ul class="my-2 my-lg-0 no-padding">
                <li *ngIf="!rawMockLocationId()" class="nav-item dropdown text-bold" [ngClass]="{'is-active':active().user}" (click)="redirectToLogin()">
                    <a class="nav-link dropdown-toggle profile-dropdown" id="navbarDropdown" role="button">
                        Login
                    </a>
                </li>
                <li *ngIf="rawMockLocationId().length" class="nav-item dropdown text-bold" [ngClass]="{'is-active':active().user}">
                    <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{rawMockLocationId()[0].firstName}}
                    </a>
                    <div class="dropdown-menu login" aria-labelledby="navbarDropdown">
                        <!-- <a *ngIf="menuDisplay().loginUser" class="dropdown-item" routerLink="admin-setup/user" (click)="('user')">User</a>
                        <a *ngIf="menuDisplay().loginRole" class="dropdown-item" routerLink="admin-setup/role" (click)="('user')">Role</a> -->
                        <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>