.label-dtac {
    color: #39a0c9 !important;
}

.label-right {
    text-align: right;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.navbar {
    padding: 0px 16px;
}

.no-padding {
    padding-left: 0px;
    font-weight: 400;
}

.profile-dropdown {
    text-align: center;
    color: #FFFFFF;
}

.dropdown-menu {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    margin: 10px 5px;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover {
    /* border-bottom: 1.5px solid;
    border-color: #3f92fd;
    color: #3f92fd !important; */
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
    background-color: #fed500;
}

.dropdown-item:hover {
    background-color: #fed500;
}

.is-active {
    /* border-bottom: 1.5px solid;
    border-color: #3f92fd;
    color: #3f92fd !important; */
    color: #000000 !important;
    border-radius: 10px;
    background-color: #fed500;
}

li {
    list-style: none;
}

.text-bold {
    font-weight: bold;
}

.position-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.login {
    right: 0;
    left: auto;
    text-align: center;
}

.login:hover {
    color: #FFFFFF !important;
}

.dropdown-menu {
    width: AUTO;
}

@media (max-width: 652px) {
    .dropdown-menu.show {
        text-align: center;
    }
    .labal-right {
        text-align: left;
    }
}