.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.no-padding-width {
    padding-left: 0px;
    padding-right: 0px;
}

.is-text-right {
    text-align: right;
}

.is-float-right {
    float: right;
}

.detail-box {
    margin: 7vh 3vw;
}

.table-center {
    text-align: center;
}

.is-right, .is-money {
    text-align: right;
}

:host ::ng-deep .ui-multiselected-item-token,
        :host ::ng-deep .ui-multiselected-empty-token {
            padding: 2px 4px;
            margin: 0 0.286em 0 0;
            display: inline-block;
            vertical-align:middle;
            height: 1.857em;
        }

        :host ::ng-deep .ui-multiselected-item-token {
            background: #007ad9;
            color: #ffffff;
        }

        :host ::ng-deep .ui-multiselected-empty-token {
            background: #d95f00;
            color: #ffffff;
        }