<div class="col-12" style="text-align:center;">
    <h3>Notification Setup</h3>
</div>


<div *ngIf="page == 'main'">
    <ul class="nav nav-pills nav-fill pt-5" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Outstanding Adjustment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Closing end day</a>
        </li>
    </ul>
    <div class="tab-content pt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="detail-box">
                <table class="table table-center table-responsive-md p-5" style="text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Role</th>
                            <th scope="col ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dbData; let i=index ">
                            <td>{{data.day}}</td>
                            <td>{{data.notiRole}}</td>
                            <td>
                                <button class="btn btn-warning " (click)="editOst(data)" type="button ">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="detail-box ">
                <table class="table table-center table-responsive-md p-5" style="text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dbData; let i=index ">
                            <td>{{data.day}}</td>
                            <td>{{data.notiRole}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="editClosing(data)" type="button ">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div *ngIf="page == 'editOst'">
    <div class="row pt-5">
        <table class="table table-center table-responsive-md p-5 col-8 offset-2" style="text-align:center;">
                <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Role</th>
                    </tr>
            <tr>
                <td>
                    <div style="width: 50%; margin-left: 30%;">
                            <select [(ngModel)]="date" class="form-control">
                                    <option value="">กรุณาเลือก</option>
                                    <option *ngFor="let data of dateOfDay" value={{data}}>{{data}}</option>
                                </select>
                    </div>
                        
                </td>
                <td>
                    <p-multiSelect [options]="cars" [(ngModel)]="selectedCars2" [panelStyle]="{minWidth:'12em'}">
                        <ng-template let-value pTemplate="selectedItems">
                            <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                                <span>{{val}}</span>
                            </div>
                            <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
                        </ng-template>
                        <ng-template let-car pTemplate="item">
                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                        </ng-template>
                    </p-multiSelect>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-2 offset-10 is-right">
    <button class="btn btn-primary" data-toggle="modal" data-target="#saveuser" (click)="saveUser()">Save</button>
    <button class="btn bg-light" (click)="backTomain()" [hidden]="formUserActive">Cancel</button>
</div>


<div *ngIf="page == 'editClosing'">
    <p>editClosing</p>
</div>