<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Company</h3>
            </div>
            <div class="col-8">
                <button type="button" *ngIf="dataActive" class="btn btn-primary" (click)="formBank()">
                    + New Company
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="companyCode">Company Code</option>
                            <option value="companyNameEn">Company Name EN</option>
                            <option value="companyNameTh">Company Name TH</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search"
                            placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Company Code</label>
                    <input type="text" name="LocationCode" [(ngModel)]="formData.companyCode" maxlength="5" class="form-control" placeholder="ex. 10001">
                </div>
                <div class="col-md-3 mb-3 ">
                    <label for="validationCustom01 ">Company Name(EN)</label>
                    <input type="text " name="LocationNameEN " [(ngModel)]="formData.companyNameEn" class="form-control ">
                </div>
                <div class="col-md-3 mb-3 ">
                    <label for="validationCustom01 ">Location Name(TH)</label>
                    <input type="text " name="LocationNameTH " [(ngModel)]="formData.companyNameTh" class="form-control ">
                </div>
                <div class="col-md-2 mb-3 ">
                    <label for="validationCustom01 ">glEntityId</label>
                    <input type="text " name="LocationType " [(ngModel)]="formData.glEntityId " class="form-control ">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="validationCustom01">glSegment01</label>
                    <input type="text" name="LocationCode" [(ngModel)]="formData.glSegment01" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3 ">
                    <label for="validationCustom01 ">legalEntity</label>
                    <input type="text " name="ManagerNameEN " [(ngModel)]="formData.legalEntity" class="form-control ">
                </div>
                <div class="col-md-3 mb-3 ">
                    <label for="validationCustom01 ">Cash Account Mapping</label>
                    <input type="text " name="ManagerNameEN " [(ngModel)]="formData.cashAccountMapping" class="form-control ">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <a class="btn bg-light is-float-right " (click)="formSearch() ">Cancel</a>
                    <a *ngIf="edit==1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save" (click)="update() ">Update</a>
                    <a *ngIf="edit !=1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save" (click)="submitData() ">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 is-right">
                    Company Code
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="LocationCode" [(ngModel)]="formData.companyCode" maxlength="5" class="form-control"
                        placeholder="ex. 10001">
                </div>
                <div class="col-md-2 offset-2 is-right">
                    Company Name(EN)
                </div>
                <div class="col-md-5 mb-3 ">
                    <input type="text " name="LocationNameEN " [(ngModel)]="formData.companyNameEn" class="form-control ">
                </div>
                <div class="col-md-2 offset-2 is-right">
                    Company Name(TH)
                </div>
                <div class="col-md-5 mb-3 ">
                    <input type="text " name="LocationNameTH " [(ngModel)]="formData.companyNameTh" class="form-control ">
                </div>
                <div class="col-md-2 offset-2 is-right">
                    glEntityId
                </div>
                <div class="col-md-5 mb-3 ">
                    <input type="text " name="LocationType " [(ngModel)]="formData.glEntityId " class="form-control ">
                </div>
                <div class="col-md-2 offset-2 is-right">
                    glSegment01
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="LocationCode" [(ngModel)]="formData.glSegment01" class="form-control">
                </div>
                <div class="col-md-2 offset-2 is-right">
                    legalEntity
                </div>
                <div class="col-md-5 mb-3 ">
                    <input type="text " name="ManagerNameEN " [(ngModel)]="formData.legalEntity" class="form-control ">
                </div>
                <div class="col-md-2 offset-2 is-right">
                    Cash Account Mapping
                </div>
                <div class="col-md-5 mb-3 ">
                    <input type="text " name="ManagerNameEN " [(ngModel)]="formData.cashAccountMapping" class="form-control ">
                </div>
            </div>
            <div class="row ">
                <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right " (click)="formSearch() ">Cancel</a>
                    <a *ngIf="edit==1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save"
                        (click)="update() ">Update</a>
                    <a *ngIf="edit !=1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save"
                        (click)="submitData() ">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box " *ngIf="dataActive ">
            <table class="table table-center table-responsive-md ">
                <thead>
                    <tr>
                        <!-- <th scope="col ">No</th> -->
                        <th scope="col ">Company Code</th>
                        <th scope="col ">Company Name EN</th>
                        <th scope="col ">Company Name TH</th>
                        <th scope="col ">Legal Entity</th>
                        <th scope="col ">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length ">
                    <tr *ngFor="let data of dbData; let i=index ">
                        <!-- <th scope="row ">{{i+1}}</th> -->
                        <td>{{data.companyCode}}</td>
                        <td>{{data.companyNameEn}}</td>
                        <td>{{data.companyNameTh}}</td>
                        <td>{{data.legalEntity}}</td>
                        <td>
                            <button class="btn btn-warning " (click)="editBank(data) " type="button ">
                                Edit
                            </button>
                            <button class="btn btn-danger " data-toggle="modal" data-target="#delete"(click)="delete(data.companyCode)" type="button ">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!-- <ng-template #filterData>
              <tbody>
                  <tr *ngFor="let data of filterData ">
                      <th scope="row ">{{data.userName}}</th>
                      <td>{{data.name}}</td>
                      <td>{{data.statusActive === 'A' ? 'Activate':'Deactivate'}}</td>
                      <td>{{data.roleId == 1 ? 'Admin' : data.roleId == 2 ? 'Branded' :data.roleId == 3 ? 'Treasury' : 'AR'}}</td>
                      <td>{{data.effcDate | date}}</td>
                      <td>{{data.expDate | date}}</td>
                      <td>
                          <button class="btn btn-warning " (click)="editBank(data,1) " type="button ">
                              Edit
                          </button>
                          <button class="btn btn-danger " (click)="deleteBank(data) " type="button ">
                              Delete
                          </button>
                      </td>
                  </tr>
              </tbody>
          </ng-template> -->
            </table>
            <div *ngIf="paging != 0">
                <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                <p class="total-records">
                    Total records: {{paginator.totalRecords}}
                </p>
            </div>
        </div>
        <p-growl [(value)]="msgs "></p-growl>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img *ngIf="!errorCode" src="assets/icon/check.png">
                    <img *ngIf="errorCode" src="assets/icon/fail.png">
                </div>
                <div class="modal-body text-center">
                    <p *ngIf="!errorCode">บันทึกสำเร็จ</p>
                    <p *ngIf="errorCode">{{errorDesc}}</p>
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button *ngIf="!errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="success()">OK</button>
                    <button *ngIf="errorCode" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>



<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteBank() ">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>