<div class="col-12 mt-5" style="text-align:center;">
  <h3>Bank Code Mapping</h3>
</div>

<div class="detail-box" *ngIf="dataActive">
  <table class="table table-center table-responsive-md">
      <thead>
          <tr>
              <th scope="col">No.</th>
              <th scope="col">Real Value</th>
              <th scope="col" width="300">Right Value</th>
          </tr>
      </thead>
      <tbody *ngIf="dbData.length">
          <tr *ngFor="let data of dbData; let i = index">
              <td>{{data.mappingId}}</td>
              <td>{{data.legacyValue}}</td>
              <td>
                <div class="col-md-12 no-padding-width" >
                <!--<input type="text" placeholder="{{data.botValue}}">-->
                <input class="form-control" type="text" name="inputData" [(ngModel)]= "data.botValue" (ngModelChange)="changeValue()" >
                </div>
              </td>
            </tr>
          </tbody>
  </table>
  <div *ngIf="loading == true" class="is-center">
        <img src="assets/logo/tran_dtac.gif" alt="">
    </div>
  <div class="rows">
    <div class="col-12">
        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
            (onPageChange)="paginate($event)"></p-paginator>
        <p class="total-records">
            Total records: {{paginator.totalRecords}}
        </p>
    </div>
</div>
  <div *ngIf="showButton == true" class="col-2 offset-10 is-right">
    <button class="btn btn-primary" data-toggle="modal" name="Save" data-target="#save"(click)="update()">Save</button>
    <button class="btn bg-light" data-toggle="modal" name="Cancel" data-target="#cancel" [hidden]="formUserActive">Cancel</button>
</div>

<!-- Modal Save -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                </div>
    
                <div class="col-md-6 offset-5">
                    <img *ngIf="msg == 'loading'" src="assets/logo/tran_dtac.gif">
                    <img *ngIf="msg == 'success'" src="assets/icon/check.png">
                    <img *ngIf="msg == 'fail'" src="assets/icon/fail.png">
                </div>
                <div class="modal-body text-center">
                    <p *ngIf="msg == 'success'"> บันทึกสำเร็จ</p>
                    <p *ngIf="msg == 'fail'"> บันทึกไม่สำเร็จ</p>
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button *ngIf="msg == 'fail'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                    <button *ngIf="msg == 'success'" type="button" class=" btn btn-primary" data-dismiss="modal" >OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cancel -->
<div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                </div>
                <div class="modal-body text-center">
                    <p> ยกเลิกการเปลี่ยนแปลงข้อมูล</p>
    
                </div>
                <div class="col-md-6 offset-4 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal"(click)="clearForm()">OK</button>
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


