<div class="viewAdjust_page">
    <div class="contrainer">
        <div class="head">
            <h2>Create Adjust</h2>
            <p class="dbline2"></p>
        </div>
        <div class="main col-md-10 offset-md-1">
            <div class="contrainer">
                <div class="row">
                    <div class="col col-md-12">
                        Sale & Payment Date: {{ dateVal | date:'dd/MM/yyyy'}}
                        <table class="table table-bordered" style="background-color: #e9ecef;">
                            <tr>
                                <td>
                                    <span class="is-left">
                                      Location Code
                                  </span>
                                </td>
                                <td>
                                    <span class="is-right">
                                      {{data.locationCode}}
                                  </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="is-left">
                                    Location Name
                                </span>
                                </td>
                                <td>
                                    <span class="is-right">
                                   {{data.locationName}}
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="is-left">
                                  {{data.paymentType}}-{{data.company}}
                              </span>
                                </td>
                                <td>
                                    <span class="is-right">
                                  {{data.amount}} THB
                              </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col col-md-4">
                        <p>Ref Adjust No</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="adjustNo" disabled [(ngModel)]="data.adjustNo">
                    </div>

                    <div class="col col-md-4">
                        <p>Adjust type</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="adjustType" disabled [(ngModel)]="data.adjustType">
                    </div>
                    <div class="col col-md-4">
                        <p>Status</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="status" disabled [(ngModel)]="data.status">
                    </div>
                    <div class="col col-md-4">
                        <p>Bank EDC</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="bankEdc" disabled [(ngModel)]="data.bankEdc">
                    </div>
                    <div class="col col-md-4">
                        <p>Merchant ID</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="merchartId" disabled [(ngModel)]="data.merchartId">
                    </div>
                    <div class="col col-md-4 ">
                        <p>Amount</p>
                    </div>
                    <div class="col col-md-8 ">
                        <input type="text " class="form-control" placeholder="" name="amount" disabled [(ngModel)]="data.amount">
                    </div>
                    <div class="col col-md-4 ">
                        <p>Ref Bank Doc</p>
                    </div>
                    <div class="col col-md-8 ">
                        <input type="text" class="form-control " name="Note" [(ngModel)]="bankRef" *ngIf="!data.bankDoc">
                        <input type="text" class="form-control " name="Note" [value]="data.bankDoc" *ngIf="data.bankDoc" disabled>
                    </div>
                    <div class="col-md-12 is-right ">
                        <button class="btn btn-primary" name="Save" data-toggle="modal" data-target="#save">Save</button>
                        <button class="btn btn-secondary " (click)="onCancel(true)" name="Cancel ">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>

            <div class="col-md-6 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">

                Submitted Successfully!!
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" (click)="onSave()" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>