<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Pay-in mapping location</h3>
            </div>
            <div class="col-8">
            <button type="button" *ngIf="dataActive" class="btn btn-primary" (click)="formBank()">
                + location payin
            </button>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                    <option value=null selected>Find by...</option>
                    <option value="locationCode">Location Code</option>
                    <option value="paymentTypeCode">Payment Type Code</option>
                    <option value="payinLine1">Bank Master ID</option>
                    <option value="defaultBank">Default Bank</option>
                </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search" placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                    Search
                </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Location Code</label>
                    <select class="form-control" name="description" placeholder="formData.locationCode" [(ngModel)]="formData.locationCode"> 
                      <option value=undefined selected>กรุณาระบุ</option>
                      <option *ngFor="let type of location" value="{{type.locationCode}}">{{type.locationNameEn}}</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3 ">
                    <label for="validationCustom01 ">Payment Type Code</label>
                    <select class="form-control" name="description" placeholder="formData.paymentTypeCode" [(ngModel)]="formData.paymentTypeCode" (ngModelChange)="setCnFlag()"> 
                      <option value=undefined selected>กรุณาระบุ</option>
                      <option value="CSH">Cash</option>
                      <option value="CHQ">Cheque</option>
                      <option value="CC">Credit Card</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3 ">
                    <label for="validationCustom01 ">Bank Master ID</label>
                    <select class="form-control" name="description" placeholder="formData.bankMasterId" [(ngModel)]="formData.bankMasterId" (ngModelChange)="setCnFlag()"> 
                      <option value=undefined selected>กรุณาระบุ</option>
                      <option *ngFor="let type of bank" value="{{type.bankMasterId}}">{{type.payinLine1}}</option>
                    </select>
                </div>
                <div class="col-md-2 mb-3 ">
                    <label for="validationCustom01 ">Default Bank</label>
                    <select class="form-control" name="description" placeholder="formData.locationCode" [(ngModel)]="formData.defaultBank" (ngModelChange)="setCnFlag()"> 
                      <option value=undefined selected>กรุณาระบุ</option>
                      <option value="Y">Yes</option>
                      <option value="N">No</option>
                  </select>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <a class="btn bg-light is-float-right " (click)="formSearch() ">Cancel</a>
                    <a *ngIf="edit==1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save" (click)="update() ">Update</a>
                    <a *ngIf="edit !=1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save" (click)="submitData() ">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Location Code
                </div>
                <div class="col-md-5 mb-3">
                    <select class="form-control" name="description" placeholder="formData.locationCode" [(ngModel)]="formData.locationCode"> 
                        <option value=undefined selected>กรุณาระบุ</option>
                        <option *ngFor="let type of location" value="{{type.locationCode}}">{{type.locationNameEn}}</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Payment Type Code
                </div>
                <div class="col-md-5 mb-3 ">
                    <select class="form-control" name="description" placeholder="formData.paymentTypeCode" [(ngModel)]="formData.paymentTypeCode" (ngModelChange)="setCnFlag()"> 
                        <option value=undefined selected>กรุณาระบุ</option>
                        <option value="CSH">Cash</option>
                        <option value="CHQ">Cheque</option>
                        <option value="CC">Credit Card</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Bank Master ID
                </div>
                <div class="col-md-5 mb-3 ">
                    <select class="form-control" name="description" placeholder="formData.bankMasterId" [(ngModel)]="formData.bankMasterId" (ngModelChange)="setCnFlag()"> 
                        <option value=null selected>กรุณาระบุ</option>
                        <option *ngFor="let type of bank" value="{{type.bankMasterId}}">{{type.payinLine1}}</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Default Bank
                </div>
                <div class="col-md-5 mb-3 ">
                    <select class="form-control" name="description" placeholder="formData.locationCode" [(ngModel)]="formData.defaultBank" (ngModelChange)="setCnFlag()"> 
                        <option value=undefined selected>กรุณาระบุ</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right " (click)="formSearch() ">Cancel</a>
                    <a *ngIf="edit==1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save" (click)="update() ">Update</a>
                    <a *ngIf="edit !=1 " class="btn btn-primary is-float-right " data-toggle="modal" data-target="#save" (click)="submitData() ">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box " *ngIf="dataActive ">
            <table class="table table-center table-responsive-md ">
                <thead>
                    <tr>
                        <!-- <th scope="col ">No</th> -->
                        <th scope="col ">Location Code</th>
                        <th scope="col ">Payment Type Code</th>
                        <th scope="col ">Bank Master ID</th>
                        <th scope="col ">Default Bank</th>
                        <th scope="col ">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length ">
                    <tr *ngFor="let data of dbData; let i=index ">
                        <!-- <th scope="row ">{{i+1}}</th> -->
                        <td>{{data.locationCode}}</td>
                        <td>{{data.paymentTypeCode}}</td>
                        <td>{{data.payinLine1}}</td>
                        <td>{{data.defaultBank}}</td>
                        <td>
                            <button class="btn btn-warning " (click)="editBank(data) " type="button ">
                        Edit
                    </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete"(click)="delete(data.locationCode)" type="button">
                        Delete
                    </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="paging != 0">
                <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                <p class="total-records">
                    Total records: {{paginator.totalRecords}}
                </p>
            </div>
        </div>
        <p-growl [(value)]="msgs "></p-growl>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img *ngIf="!errorCode" src="assets/icon/check.png">
                    <img *ngIf="errorCode" src="assets/icon/fail.png">
                </div>
                <div class="modal-body text-center">
                    <p *ngIf="!errorCode">บันทึกสำเร็จ</p>
                    <p *ngIf="errorCode">{{errorDesc}}</p>
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button *ngIf="!errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="success()">OK</button>
                    <button *ngIf="errorCode" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Modal delete-->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteBank()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>