<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Bank Sla</h3>
            </div>
            <div class="col-8" *ngIf="dataActive">
                <button type="button" class="btn btn-primary" (click)="formBank()">
                    + New Bank Sla
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="slaPaymentType">Payment Type</option>
                            <option value="slaType">Sla Type</option>
                            <option value="slaDate">Sla Date</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search" placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Payment Type<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select [(ngModel)]="formData.slaPaymentType" class="form-control">
                        <option value="">กรุณาเลือก</option>
                        <option value="CSH">Cash</option>
                        <option value="CHQ">Cheque</option>
                        <option value="CC">Credit Card</option>
                        <option value="WHT">Withholding Tax</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Sla Type<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select [(ngModel)]="formData.slaType" class="form-control">
                        <option value="">กรุณาเลือก</option>
                        <option value="IN">IN</option>
                        <option value="GL">GL</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Sla Date
                </div>
                <div class="col-md-5 mb-3">
                    <select [(ngModel)]="formData.slaDate" class="form-control">
                        <option value="">กรุณาเลือก</option>
                        <option *ngFor="let data of dateOfDay" value={{data}}>{{data}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="dataActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <!-- <th scope="col">No</th> -->
                        <th scope="col">Sla Id</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Sla Type</th>
                        <th scope="col">Sla Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length">
                    <tr *ngFor="let data of dbData; let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{data.slaId}}</td>
                        <td>{{data.slaPaymentType}}</td>
                        <td>{{data.slaType}}</td>
                        <td>{{data.slaDate}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editBank(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete"(click)="delete(data.slaId)"  type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="!errorDesc">
                <img src="assets/icon/fail.png" *ngIf="errorDesc">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorDesc">บันทึกสำเร็จ</p>
                <p *ngIf="errorDesc">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteBank()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>