<div>
    <input placeholder='Enter Fisrt Name' [(ngModel)]='fname' (input)='onChangedName()' 
        type='text' class='form-control' />
    <input placeholder='Enter Last Name' [(ngModel)]='lname' (input)='onChangedName()' 
        type='text' class='form-control' />    
</div>
<div>
    <app-child-example [(data)]='parentData' (validateFullName)='onValidateFullName($event)'></app-child-example>
</div>
<h1>Result: {{fullName}}</h1>