<div class="contrainer ">
    <div class="container">
        <div class="head">
            <h2>Reconcile By Bank Report</h2>
        </div>
        <hr class=" featurette-divider border-bottom bg-primary shadow">
        <div class="row boxtext">
            <div class="col col-md-2 offset-1">
                <p class="is-bold">Date From</p>
            </div>
            <div class="col col-md-3">
                <p-calendar [(ngModel)]="form.search.dateFrom" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Date To</p>
            </div>
            <div class="col col-md-4">
                <p-calendar [(ngModel)]="form.search.dateTo" [showIcon]="true" [minDate]="minMainDocDate" dateFormat="dd/mm/yy" disabled placeholder="dd/mm/yyyy"></p-calendar>
            </div>
            <div class="col col-md-2 offset-1">
                <p class="is-bold">Company</p>
            </div>
            <div class="col col-md-3">
                <select name="type" class="form-control" name="description" [(ngModel)]="form.search.companyCode">
                  <option value=null selected>All</option>
                  <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
              </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Payment Type</p>
            </div>
            <div class="col col-md-3">
                <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.search.paymentTypeCode">
                  <option value=null selected>All</option>
                  <option value="CSH">Cash</option>
                  <option value="CHQ">Cheque</option>
                  <option value="CC">Credit Card</option>
              </select>
            </div>
            <div class="col col-2">
                <a class="btn btn-primary is-white" (click)="submit()">Submit</a>
            </div>
        </div>
    </div>

</div>