<div class="Cancel">
    <div class="contrainer">
        <div class="head">
            <h2>Cancel Pay In Slip</h2>
            <p class="dbline2"></p>
        </div>
        <!-- <div class="main col-md-6 offset-md-3">
            <button class="btn btn-primary" routerLink="main"> < Back</button>
        </div> -->
        <div class="main col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="is-center">Print Date</th>
                    <th class="is-center">Transaction Date</th>
                    <th class="is-center">Company</th>
                    <th class="is-center">Bank</th>
                    <th class="is-center">Payment Type</th>
                    <th class="is-center">Amount</th>
                    <th class="is-center">Action</th>
                </tr>
                <tr *ngFor="let data of filterData">
                    <td class="is-center w-120">{{data.payinDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td class="is-center w-120">{{data.tranDate | date:'dd/MM/yyyy'}}</td>
                    <td class="is-center w-40">{{data.company}}</td>
                    <td class="is-center w-200">{{data.edcBank}}</td>
                    <td class="is-center w-40">{{data.paymentType}}</td>
                    <td class="is-money w-80">{{data.amount | number:'.2'}}</td>
                    <td class="is-center w-80"><button class="btn btn-primary" name="Cancel" data-toggle="modal" data-target="#CancelDetail" (click)="onOk(data)">Cancel</button></td>
                </tr>
                <tr *ngIf="loading == true">
                    <td colspan="11" class="is-center">
                        <img src="assets/logo/tran_dtac.gif" alt="">
                    </td>
                </tr>
                <tr *ngIf="checkData == 0">
                    <td colspan="11" class="is-center">
                        <p>No Data.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.totalRecords}}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="CancelDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>ระบุเหตุผล</p>
                <textarea type="text" class="reason col-md-12 little-padding" cols="100" rows="2" maxlength="200" name="cancelReason" [(ngModel)]="form.cancleReason"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="confirm()" data-dismiss="modal" data-toggle="modal" data-target="#confirm">Confirm</button>
                <button type="button" class="btn bg-light" (click)="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="msg == 'success'" src="assets/icon/check.png">
                <img *ngIf="msg == 'fail'" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">

                <p *ngIf="msg == 'success'">ยกเลิกสำเร็จ</p>
                <p *ngIf="msg == 'fail'">ยกเลิกไม่สำเร็จ</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg == 'success'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                <button *ngIf="msg == 'fail'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>