.head {
    text-align: center;
}

th {
    color: rgb(245, 245, 245);
    background-color: #009edf;
}

.sumTotal {
    color: rgb(245, 245, 245);
    background-color: #009edf;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-center {
    text-align: center;
}

.little-padding {
    padding: 1vh;
}

.w-40 {
    width: 40px;
    word-break: break-all
}

.w-120 {
    width: 120px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.w-200 {
    width: 200px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.w-20 {
    width: 20px;
    word-break: break-all
}