<div class="Adjust_page">

    <div class="head">
        <h2>Update Adjust {{data.paymentType}}</h2>
        <p class="dbline2"></p>
    </div>
    <div class="main col-md-10 offset-md-1">

        <div class="row">
            <!-- <div class="col col-md-4">
                <p>Ref Document</p>
            </div>
            <div class="col col-md-5">
                <input type="text" class="form-control" name="search" disabled [(ngModel)]="newData.refBankDoc">
            </div>
            <div class="col col-md-3">
                <button class="btn btn-primary is-margin-button" (click)="showDialog()">Search</button>
            </div> -->
            <div class="col col-md-4 is-text">
                <span>Adjust Type </span> <span class="important">*</span>
            </div>
            <div class="col col-md-8">
                <select class="form-control" name="adjustType" [(ngModel)]="newData.adjustMasterId" [disabled]="data.refAdjustDocId || data.statusCode == 2" (ngModelChange)="setCnFlag()">
                    <option value="" selected>กรุณาเลือกประเภทเหตุผล</option>
                    <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'SH' && (url != 'shop' || url != 'Treasury')" >{{type.adjustType}}</option>
                </select>
            </div>
            <div class="col col-md-4 is-text">
                <span>Status</span>
                <span class="important">*</span>
            </div>
            <div class="col col-md-8">
                <select class="form-control" name="status" [(ngModel)]="newData.statusCode" disabled [disabled]="data.paymentType == 'CC' && data.taxId == '' || data.statusCode == '2'">
                     <!-- <option value="{{newwData.statusCode}}"  selection>{{newData.status}}</option>  -->
                    <option *ngFor="let status of adjustStatus" [hidden]="newData.statusCode == status.adjustStatusCode || status.adjustStatusCode == '0'" value="{{status.adjustStatusCode}}">{{status.adjustStatusDesc}}</option>
                </select>
            </div>
            <div class="col col-4 is-text" [hidden]=" data.paymentType !== 'Credit Card' || cnFlag != 'Y'">
                <span>Bank (EDC)</span><span class="important" [hidden]=" data.paymentType !== 'Credit Card'">*</span>
            </div>
            <div class="col col-8" [hidden]=" data.paymentType !== 'Credit Card' || cnFlag != 'Y'">
                <select name="bankEdc" class="form-control" [(ngModel)]="newData.edcBank" [disabled]="data.refAdjustDocId || data.statusCode == 2" (ngModelChange)="loadMerchant()">
                    <option value=null>กรุณาระบุ</option>
                    <option *ngFor=" let bank of bank" [hidden]="newData.edcBank == bank.bankName" value="{{bank.bankName}}">{{bank.bankName}}</option>
                </select>
            </div>
            <div class="col col-4 is-text" [hidden]=" data.paymentType !=='Credit Card' || cnFlag != 'Y'">
                <span>Merchant Type</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" [hidden]=" data.paymentType !='Credit Card' || cnFlag != 'Y'">
                <select name="merchartId" class="form-control" [(ngModel)]="newData.merchantId" [disabled]="data.refAdjustDocId || data.statusCode == 2">
                <option value=null>กรุณาระบุ</option> 
                    <option *ngFor="let merchant of merchantId" [hidden]="merchantIdFirst == merchant.merchantId" value="{{merchant.merchantId}}">{{merchant.merchantType}}</option>
                </select>
            </div>
            <div class="col col-4 is-text" [hidden]=" data.paymentType !=='Credit Card' || cnFlag != 'Y'">
                <span>Sale Slip Date</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" [hidden]=" data.paymentType !=='Credit Card' || cnFlag != 'Y'">
                <p-calendar name="effect" [(ngModel)]="newData.saleSlipDate" placeholder="dd/mm/yyyy" [disabled]="data.refAdjustDocId || data.statusCode == 2" dateFormat="dd/mm/yy" inputStyleClass="" [showIcon]="true"></p-calendar>
            </div>
            <div class="col col-4 is-text" [hidden]=" data.paymentType !=='Credit Card' || cnFlag != 'Y'">
                <span>Last 4 digits</span>
                <span class="important">*</span>
            </div>
            <div class="col col-8" [hidden]=" data.paymentType !=='Credit Card' || cnFlag != 'Y'">
                <input type="text" pInputText pKeyFilter="pint" class="form-control" name="Last" [disabled]="data.refAdjustDocId || data.statusCode == 2" [(ngModel)]="newData.last4Digits" maxlength="4" 
                (keyup)="isOnlyNumber($event, newData.last4Digits, 'tranDate')" (blur)="isOnlyNumber($event, newData.last4Digits, 'tranDate')">
            </div>

            <div class="col col-md-4 is-text">
                <span>Amount</span> <span class="important" [hidden]="data.paymentType !=='Cash'">*</span>
            </div>
            <div class="col col-md-8">
                <input type="text" pInputText pKeyFilter="money" maxlength="14" placeholder="0.00" class="form-control is-right" name="amount" [disabled]="data.refAdjustDocId || data.paymentTypeCode == 'CHQ' || data.statusCode == 2" [(ngModel)]="amount" [disabled]=" data.paymentType =='Cheque'"
                    (keyup)="isOnlyNumber($event, amount, 'amount')" (blur)="isOnlyNumber($event, amount, 'amount')">
            </div>
            <div class="col col-md-4 is-text">
                <span>Note</span>
            </div>
            <div class="col col-md-8">
                <input type="text" class="form-control" name="Note" placeholder="-" [disabled]="data.refAdjustDocId || data.statusCode == 2" [(ngModel)]="newData.adjustNote">
            </div>
            <div class="col-md-12 is-right pt-2">
                <button class="btn btn-primary" *ngIf="!clickLoad && data.statusCode != 2" type="button" (click)="checkAmtWithFlag()" data-toggle="modal" data-target="#save" name="Save">Save</button>
                <button class="btn is-disabled" *ngIf="clickLoad || data.statusCode == 2" type="button" disabled data-toggle="modal" data-target="#save" name="Save">Save</button>
                <button class="btn bg-light" (click)="onCancel(true)" name="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<p-dialog [(visible)]="display" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div class="boxtext">
        <div class="row">
            <div class="col col-md-2">
                <p class="is-bold">Company</p>
            </div>
            <div class="col col-md-4">
                <select name="type" class="form-control" name="description" [(ngModel)]="form.company">
                        <option value='' selected>All</option>
                        <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                </select>

            </div>
            <div class="col col-md-2">
                <p class="is-bold">Payment Type</p>
            </div>
            <div class="col col-md-4">
                <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.paymentTypeCode">
                    <option value="" selected>All</option>
                    <option value="CSH">Cash</option>
                    <option value="CHQ">Cheque</option>
                    <option value="CC">CreditCard</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col col-md-2">
                <p class="is-bold">Location Code</p>
            </div>
            <div class="col col-md-4 mb-2">
                <select class="selectpicker" class="form-control" [(ngModel)]="form.locationCode" name="description">
                    <option value="">All</option>
                    <option *ngFor="let locate of this.locationList" [attr.value]="locate.code">{{locate.code}}</option>
                </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Location name</p>
            </div>
            <div class="col col-md-4">
                <select class="selectpicker" class="form-control" [(ngModel)]="form.locationCode" name="locationName" disabled>
                            <option value="">All</option>
                            <option *ngFor="let locate of this.locationList" [attr.value]="locate.code" >{{locate.name}}</option>
                        </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Adjust Type</p>
            </div>
            <div class="col col-md-4">
                <select name="type" class="form-control" name="description" [(ngModel)]="form.adjustType">
                            <option value="" selected>All</option>
                            <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType=='AR' && (url !='shop' || url !='Treasury' )">{{type.adjustType}}</option>
                </select>

            </div>
            <div class="col col-md-2">
                <p class="is-bold">Status</p>
            </div>
            <div class="col col-md-4 mb-2">
                <select class="selectpicker" class="form-control" name="statusDropdown" [(ngModel)]="form.status">
                            <option value=''>All</option>
                            <option *ngFor="let status of adjustStatus" value="{{status.adjustStatusCode}}" [hidden]="status.adjustStatusCode==0">{{status.adjustStatusDesc}}</option>
                        </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Amount</p>
            </div>
            <div class="col col-md-4">
                <input currencyMask maxlength="14" class="form-control is-money" placeholder="0.00" min="0" [(ngModel)]="form.amount" maxlength="14" />
            </div>
            <div class="col col-md-12 is-money">
                <button class="btn btn-primary" (click)="onSearch( '1', 'paging')" name="Search">Search</button>
                <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
            </div>
        </div>
    </div>

    <div class="col col-md-12 is-center is-padding-table">
        <table class="table table-bordered" *ngIf="filterData.length">
            <tr class="is-header-table">
                <th class="is-center">Adjust No</th>
                <th class="is-center">Company</th>
                <th class="is-center">Adjust Type</th>
                <th class="is-center">Status</th>
                <th class="is-center">Payment Type</th>
                <th class="is-center">Amount</th>
            </tr>
            <tr *ngFor="let data of filterData" class="is-underline is-click" data-dismiss="modal" (click)="add(data)">
                <td class="is-text">{{data.adjustNo}}</td>
                <td class="is-center">{{data.company}}</td>
                <td class="is-center">{{data.adjustType}}</td>
                <td class="is-text">{{data.status}}</td>
                <td class="is-text">{{data.paymentType}} </td>
                <td class="is-money">{{data.amount | number:'.2'}}</td>
            </tr>
        </table>
        <div *ngIf="checkData !=0 && filterData.length">
            <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
            <p class="total-records">
                Total records: {{paginator.totalRecords}}
            </p>
        </div>
    </div>

</p-dialog>


<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="msg=='success'" src="assets/icon/check.png">
                <img *ngIf="msg == 'fail' || msg == 'overflow'" src="assets/icon/fail.png">
                <img *ngIf="clickLoad" src="assets/logo/tran_dtac.gif">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msg=='success'">บันทึกสำเร็จ</p>
                <p *ngIf="msg=='fail'">กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <p *ngIf="msg == 'overflow'">กรอกค่าเกินจำนวน</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg=='fail' || msg == 'overflow'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                <button *ngIf="msg=='success'" type="button" (click)="onCancel(true)" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>