<!--The content below is only a placeholder and can be replaced.-->
<div class="full-class">
    <app-menubar></app-menubar>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
</div>