.full-class, .ui-widget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.ui-widget-header {
    background: none !important;
    border: none !important;
}

.ui-inputtext {
    text-align: center !important;
}

.bg-light {
    border-color: #000000;
}

.bg-custom {
    background-color: #009edf;
}

.h1-header {
    color: #0091d2;
    font-size: 27px;
}

.total-records {
    font-size: 12px;
    text-align: center;
}

input::placeholder {
    color: #00000060 !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0s 0s ease; 
    opacity: 0;
}