<div class="user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>User</h3>
            </div>
            <div class="col-8">
                <button type="button" *ngIf="userActive" class="btn btn-primary" (click)="formUser()">
                    + NewUser
                </button>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="findBy">
                            <option value=null>Find by...</option>
                            <option value="user_name">Username</option>
                            <option value="first_name">First Name</option>
                            <option value="last_name">Last Name</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Search...">
                        <!-- (keyup.enter)="formSearch()"  -->
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Username</label>
                    <input type="text" name="username" [(ngModel)]="formDataUser.userName" class="form-control {{alert.username}}" [disabled]="edit == 1" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">First Name</label>
                    <input type="text" name="name" [(ngModel)]="formDataUser.firstName" class="form-control {{alert.firstName}}" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Last Name</label>
                    <input type="text" [(ngModel)]="formDataUser.lastName" class="form-control {{alert.lastName}}" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Request No</label>
                    <input type="text" [(ngModel)]="formDataUser.requestNo" class="form-control {{alert.requestNo}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom03">Effective Date</label><br/>
                    <p-calendar name="effect" [(ngModel)]="formDataUser.effectiveDate" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom03">Expired Date</label><br/>
                    <p-calendar name="expired" [(ngModel)]="formDataUser.expiredDate" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="row">
                <div class="col-12 is-right">
                    <button class="btn bg-light is-float-right" type="submit" (click)="formSearch()">Cancel</button>
                    <button *ngIf="edit == 1" class="btn btn-primary is-float-right" type="submit" data-toggle="modal" data-target="#save" (click)="update()">Save</button>
                    <button *ngIf="edit != 1" class="btn btn-primary is-float-right" type="submit" data-toggle="modal" data-target="#save" (click)="addUser()">Save</button>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Username
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="username" [(ngModel)]="formDataUser.userName" class="form-control {{alert.username}}"
                        [disabled]="edit == 1" required>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    First Name
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="name" [(ngModel)]="formDataUser.firstName" class="form-control {{alert.firstName}}"
                        required>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Last Name
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" [(ngModel)]="formDataUser.lastName" class="form-control {{alert.lastName}}"
                        required>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Request No
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" [(ngModel)]="formDataUser.requestNo" class="form-control {{alert.requestNo}}"
                        required>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Effective Date
                </div>
                <div class="col-md-5 mb-3">
                    <p-calendar name="effect" [(ngModel)]="formDataUser.effectiveDate" placeholder="dd/mm/yyyy"
                        dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Expired Date
                </div>
                <div class="col-md-5 mb-3">
                    <p-calendar name="expired" [(ngModel)]="formDataUser.expiredDate" placeholder="dd/mm/yyyy"
                        dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-5 offset-4">
                    <button class="btn bg-light is-float-right" type="submit" (click)="formSearch()">Cancel</button>
                    <button *ngIf="edit == 1" class="btn btn-primary is-float-right" type="submit" data-toggle="modal"
                        data-target="#save" (click)="update()">Save</button>
                    <button *ngIf="edit != 1" class="btn btn-primary is-float-right" type="submit" data-toggle="modal"
                        data-target="#save" (click)="addUser()">Save</button>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="userActive">
            <div class="row">
                <div class="col">
                    <table class="table table-center table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Effective Date</th>
                                <th scope="col">Expired Date</th>
                                <th scope="col">Last Login Date</th>
                                <th scope="col">Request No</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!filterUser.length else filter">
                            <tr *ngFor="let data of dbDataUser">
                                <th scope="row">{{data.userName ? data.userName : '-'}}</th>
                                <td>{{data.firstName ? data.firstName : '-'}}</td>
                                <td>{{data.lastName ? data.lastName : '-'}}</td>
                                <td>{{data.effectiveDate ? (data.effectiveDate | date) : '-'}}</td>
                                <td>{{data.expiredDate ? (data.expiredDate | date) : '-'}}</td>
                                <td>{{data.lastLogin ? (data.lastLogin | date) : '-'}}</td>
                                <td>{{data.requestNo ? data.requestNo : '-'}}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="editUser(data,1)" type="button">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete" (click)="setDeleteUser(data.userName,1)"
                                        type="button">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #filter>
                            <tbody>
                                <tr *ngFor="let data of filterUser">
                                    <th scope="row">{{data.userName}}</th>
                                    <td>{{data.name}}</td>
                                    <td>{{data.statusActive === 'A' ? 'Activate':'Deactivate'}}</td>
                                    <td>{{data.roleId == 1 ? 'Admin' : data.roleId == 2 ? 'Branded' :data.roleId == 3 ?
                                        'Treasury' : 'AR'}}</td>
                                    <td>{{data.effcDate | date}}</td>
                                    <td>{{data.expDate | date}}</td>
                                    <td>
                                        <button class="btn btn-warning" (click)="editUser(data,1)" type="button">
                                            Edit
                                        </button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#delete"
                                            (click)="setDeleteUser(data,1)" type="button">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
            </div>
            <div class="rows" *ngIf="showPaging">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="!errorDesc" src="assets/icon/check.png">
                <img *ngIf="errorDesc" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorDesc">บันทึกสำเร็จ</p>
                <p *ngIf="errorDesc">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="alertDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>ลบสำเร็จ</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal deleteAlert-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>
            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#alertDelete" data-dismiss="modal" (click)="deleteUser()">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>