.no-padding-width {
    padding-left: 0px;
    padding-right: 0px;
}
.is-text-right, .is-right {
    text-align: right;
}
.is-float-right {
    float: right;
}
.detail-box {
    margin: 10vh 3vw;
}
.table-center {
    text-align: center;
}

@media (max-width: 767px) {
    .search-right {
        text-align: right;
    }
    .detail-box {
        margin: 2vh 3vw;
    }
}

.bg-light {
    margin-left: 10px;
}