<div class="container">
    <div class="pt-2">
        <h1>File attachment</h1>
    </div>
    <hr class=" featurette-divider border-bottom bg-primary shadow">

    <div class="is-click is-underline">
        <div>
            <p *ngFor="let list of listDoc" class="pt-3" (click)="link(list.doctype)">{{list.displayName}}</p>
        </div>


        <!-- <p class="pt-3" (click)="link('Sales Slip')">Sales Slip</p>
        <p class="pt-3" (click)="link('EDC Settlement')">EDC Settlement Slip</p>
        <p class="pt-3" (click)="link('Pay in Slip - Cash')">Deposited Pay in Slip – Cash</p>
        <p class="pt-3" (click)="link('Pay in Slip - Cheque')">Deposited Pay in Slip – Cheque</p>
        <p class="pt-3" (click)="link('WHT Form')">WHT Form</p> -->
    </div>
</div>