<div class="container pt-5">
    <h1>
        Role {{roleName}}
    </h1>

    <div class="row ">
        <div class="col-12 col-md-3">
            <hr class=" featurette-divider border-bottom bg-warning shadow">
            <h4 class="text-center">Role</h4>
            <hr class=" featurette-divider border-bottom bg-warning shadow">
            <p-menu [model]="items" (click)="showDialog()"></p-menu>
            <div class="col-12 is-center">
                <button class="btn btn-primary" type="button " name="Add " (click)="showAdd()">Add Role</button>
                <button class="btn btn-danger" (click)="showDelete()" name="delete">Delete Role</button>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <hr class=" featurette-divider border-bottom bg-warning shadow">
            <h4 class="text-center">Action</h4>
            <hr class=" featurette-divider border-bottom bg-warning shadow">
            <!-- TreeView -->
            <p-pickList [source]="sourceData" [target]="targetData" [responsive]="true" 
                        sourceHeader="inActive" targetHeader="Active"
                        dragdrop="true" dragdropScope="selectData.perm"
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
                        [disabled]="loading || (!sourceData.length && !targetData.length)"
                        filterBy="name" sourceFilterPlaceholder="Search by Permission Name"
                        targetFilterPlaceholder="Search by Permission Name"
                        (onMoveToSource)="checkMove()" (onMoveToTarget)="checkMove()">
                                   
                <ng-template let-selectData pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div class="content-target">
                            {{selectData.name}}
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-11 is-money">
            <button *ngIf="!checked" class="btn btn-secondary" type="button " name="Disable Save" [disabled]="!trackMove">Save</button>
            <button *ngIf="checked" class="btn btn-primary" type="button " data-toggle="modal" data-target="#save" (click)=save() name="Save" [disabled]="!trackMove">Save</button>
            <!-- <button class="btn bg-light" (click)="cancel()" name="Cancel ">Cancel</button> -->
        </div>
    </div>
    <p-dialog *ngIf="box == 3" header="Alert!!" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
        <span>Do you want to save before swap?</span>
        <p-footer>
            <button class="btn btn-primary" type="button " (click)="display=false ; save(1)" data-toggle="modal" data-target="#save" name="Save ">Save</button>
            <button class="btn bg-light" name="cancel ">Cancel</button>
        </p-footer>
    </p-dialog>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" style="z-index: 20000;" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="!errorCode" src="assets/icon/check.png">
                <img *ngIf="errorCode" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorCode">บันทึกสำเร็จ</p>
                <p *ngIf="errorCode">บันทึกไม่สำเร็จ</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Model Add & Delete role -->
<p-dialog *ngIf="box == 1 || box == 2" [(visible)]="display" [responsive]="true" [width]="500" [minWidth]="200" [minY]="70" [baseZIndex]="10000" [closable]="false">
    <div *ngIf="box == 1" class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="validationCustom01">Role Name</label>
                <input type="text" name="Role Name" [(ngModel)]="rawData.roleName" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 is-money">
                <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="add()">Save</a>
                <a class="btn bg-light is-float-right" (click)="close()">Cancel</a>
            </div>
        </div>
    </div>
    <div *ngIf="box == 2" class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Role Name</label>
                <select class="custom-select" [(ngModel)]="rawData.roleId">
                    <option value=0 selected>Choose Role Name</option>
                    <option *ngFor="let data of roleData" value={{data.roleId}} selected>{{data.roleName}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 is-money">
                <a class="btn btn-primary is-float-right white" data-toggle="modal" data-target="#delete" (click)="display = false;">Delete</a>
                <a class="btn bg-light is-float-right" (click)="close()">Cancel</a>
            </div>
        </div>
    </div>
</p-dialog>

<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="display = true;">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>
            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal" (click)="delete()">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal" (click)="display = true;">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete Alert-->
<div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>ลบสำเร็จ</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>