th {
    text-align: center;
    color: whitesmoke;
    background-color: #009edf;
}

.wht-th {
    text-align: center;
    color: whitesmoke;
    background-color: #00c27a;
}

.wht {
    padding: 10px 10px 0px 10xp;
}

.bold {
    font-weight: bold;
}

td {
    text-align: center;
}

.head {
    text-align: center;
}

.is-sum-table {
    background-color: #009edf;
    color: white;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-center {
    text-align: center;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    color: royalblue;
    text-decoration: underline;
}

.btn {
    margin: 5px;
}

p {
    margin-bottom: 0;
    margin-left: 1 rem;
}

.current-role-box {
    border: 1px solid green;
    border-radius: 10px;
    padding: 1rem 0rem 1rem 2rem;
    word-break: break-all;
}

.old-role-box {
    border: 1px solid red;
    border-radius: 10px;
    padding: 1rem 0rem 1rem 2rem;
}

.white {
    color: #ffffff !important;
}

.content-target {
    font-size:14px;
    float:left;
    margin:15px 5px 0 0;
    word-break: break-all;
}