.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-center {
    text-align: center;
}

.is-padding-table {
    padding-top: 25px;
    padding-left: 0vw;
    padding-right: 0vw;
}

.is-bold {
    font-weight: bold;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.showSearch {
    text-decoration: underline;
    cursor: pointer;
}

.wordbreak {
    word-break: break-all;
}

.w-40 {
    padding-bottom: 0px;
    width: 40px;
    word-break: break-word;
}

.w-200 {
    padding-bottom: 0px;
    width: 200px;
    word-break: break-word
}

.w-80 {
    padding-bottom: 0px;
    width: 80px;
    word-break: break-word;
}

.w-120 {
    padding-bottom: 0px;
    width: 120px;
    word-break: break-word;
}

.is-center {
    text-align: center;
}