<div class="AR_SHOP">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <p>
                    Location Code: {{data.locationCode}}<br/> Shop Adjustment<br/> {{ data.whtFlag == 'Y'? 'Withholding Tax' : data.paymentType == 'CSH' ? 'Cash' : data.paymentType == 'CHQ' ? 'Cheque' : data.paymentType == 'CC' ? 'Credit Card': ''}}

                </p>
            </div>
            <div class="offset-5">
                <p class="showSearch" (click)="searchAdjust()">Search Criteria</p>
            </div>
        </div>
        <div class="boxtext" *ngIf="showSearch">
            <div class="row">
                <div class="col col-md-2 pb-2">
                    <p class="is-bold">Company</p>
                </div>
                <div class="col col-md-4">
                    <select name="type" class="form-control" name="company" [(ngModel)]="form.adjSrchReq.company">
                        <option value="" selected>All</option>
                        <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                    </select>
                </div>
                <div class="col col-md-2">
                    <p class="is-bold">Payment Type</p>
                </div>
                <div class="col col-md-4">
                    <select class="selectpicker" class="form-control" name="paymentType" [(ngModel)]="data.paymentType" [disabled]="url === 'Treasury' || data.whtFlag != 'Y'">
                        <option value=null selected>All</option>
                        <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N'">{{payment.paymentTypeDesc}}</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col col-md-2">
                    <p class="is-bold">Adjust Type</p>
                </div>
                <div class="col col-md-4">
                    <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.adjustType">
                        <option value='' >กรุณาระบุ</option>
                        <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != 'SH'" >{{type.adjustType}}</option>
                    </select>

                </div>
                <div class="col col-md-2">
                    <p class="is-bold">Status</p>
                </div>
                <div class="col col-md-4 mb-2">
                    <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.status">
                        <option value=''>All</option>
                        <option *ngFor="let status of adjustStatus" value={{status.adjustStatusCode}} [hidden]="status.adjustStatusCode == 3">{{status.adjustStatusDesc}}</option>
                    </select>
                </div>
                <div class="col col-md-2">
                    <p class="is-bold"> Adjustment amount </p>
                </div>
                <div class="col col-md-4">
                    <input type="text" pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="form.adjSrchReq.amount" (keyup)="isOnlyNumber($event, form.adjSrchReq.amount)" (blur)="isOnlyNumber($event, form.adjSrchReq.amount)"
                    />
                </div>

                <div class="col col-md-2">
                    <p class="is-bold">Outstanding Adjustment Amount</p>
                </div>
                <div class="col col-md-4">
                    <input type="text" pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="form.adjSrchReq.Ostamount" (keyup)="isOnlyNumberOst($event, form.adjSrchReq.Ostamount)" (blur)="isOnlyNumber($event, form.adjSrchReq.Ostamount)"
                    />
                </div>
                <div class="col col-md-6" [hidden]="url === 'shop'">
                </div>
                <div class="col col-md-12 is-money">
                    <button class="btn btn-primary" (click)="onSearch('1')" name="Search">Search</button>
                    <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                </div>
            </div>
        </div>

        <div class="col col-md-12 is-center is-padding-table">
            <table class="table table-bordered">
                <tr class="is-header-table ">
                    <th class="is-center w-80">Adjust No</th>
                    <th class="is-center w-80">Company</th>
                    <!-- <th class="is-center">Location code</th> -->
                    <th class="is-center w-200">Adjust Type</th>
                    <th class="is-center w-80">Status</th>
                    <th class="is-center w-80">Payment Type</th>
                    <th class="is-center w-120"> Adjustment Amount </th>
                    <th class="is-center w-120">Outstanding Adjustment Amount</th>
                </tr>
                <!--   <tr *ngFor="let data of filterPagination" class="is-underline is-click" (click)="view(data)"> -->
                <tbody *ngIf="filterData.length; else noData">
                    <tr *ngFor="let data of filterData" class="is-underline is-click" (click)="view(data)">
                        <td class="is-center w-40">{{data.adjustNo}}</td>
                        <td class="is-center w-40">{{data.company}}</td>
                        <!-- <td class="is-text w-40">{{data.locationCode}} </td> -->
                        <td class="is-text w-200">{{data.adjustType}}</td>
                        <td class="is-center w-40">{{data.status}}</td>
                        <td class="is-center w-40">{{data.paymentType}} </td>
                        <td class="is-money w-40">{{data.amount | number : '.2'}}</td>
                        <td class="is-money w-40">{{data.Ostamount | number : '.2'}}</td>
                    </tr>
                </tbody>
                <ng-template #noData>
                    <tr>
                        <td colspan="7" class="is-center">
                            <p>No Data.</p>
                        </td>
                    </tr>
                </ng-template>
                <tr>
                    <td colspan="7">
                        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.totalRecords}}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<p-dialog [(visible)]="display" [responsive]=" true " [positionTop]="100" [width]="900 " [minWidth]="200 " [minY]="70 " [baseZIndex]="10000 ">
    <div style="height: 500px">
        <app-adjust-view [(data)]='listData' (displayClose)="onClose($event)"></app-adjust-view>
    </div>
</p-dialog>