<div class="bank">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 mt-5" style="text-align:center;">
              <h3>Bank Master</h3>
          </div>
          <div class="col-8">
              <button type="button" class="btn btn-primary" (click)="displayAddBankModal()">+ New Bank</button>
          </div>
    </div>
    <div class="detail-box" *ngIf="bankActive">
        <table class="table table-center table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Company</th>
                    <th scope="col">Bank Code</th>
                    <th scope="col">Bank</th>
                    <th scope="col">Bank Description</th>
                    <th scope="col">Account No.</th>
                    <th scope="col">Payment Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="dbDataBank.length">
                <tr *ngFor="let data of dbDataBank">
                    <td>{{data.bankMasterId}}</td>
                    <td>{{data.companyCode}}</td>
                    <td>{{data.bankCode}}</td>
                    <td>{{data.bankShortName}}</td>
                    <td>{{data.bankDesc}}</td>
                    <td>{{data.bankAccountNo}}</td>
                    <td>{{data.paymentTypeCode}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="editBank(data)" type="button">
                            Edit
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#delete" (click)="delete(data.bankMasterId)" type="button">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="rows">
            <div class="col-12">
                <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                    (onPageChange)="paginate($event)"></p-paginator>
                <p class="total-records">
                    Total records: {{paginator.totalRecords}}
                </p>
            </div>
        </div>
    </div>
    <p-growl [(value)]="msgs"></p-growl>
</div>
</div>

<!--Add new bank form Start Here-->
        <p-dialog [(visible)]="displayAddbank" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="70" [baseZIndex]="10000">     
<div class="row">
        <div class="col-12 mt-3" style="text-align:center;" *ngIf="addStatus" >
                <h3>Add New Bank</h3>
            </div>
            <div class="col-12 mt-3" style="text-align:center;" *ngIf="updateStatus" >
                <h3>Update Bank</h3>
            </div>
      <div class="col-md-2 offset-2 mt-2 is-left">
          Company<font style="color:red;">*</font>
      </div>
      <div class="col-md-5 mb-3">
        <select name="type" class="form-control" name="company" [(ngModel)]="formDataBank.companyCode">
            <option value='' selected>Choose Company</option>
            <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
        </select>
      </div>
      <div class="col-md-2 offset-2 mt-2 is-left">
          Bank Code<font style="color:red;">*</font>
      </div>
      <div class="col-md-5 mb-3">
          <input type="text" name="bankCode" pInputText pKeyFilter="num" maxlength="3" [(ngModel)]="formDataBank.bankCode" class="form-control">
      </div>

      <div class="col-md-2 offset-2 mt-2 is-left">
        Bank<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
            <select name="type" class="form-control" name="bank" [(ngModel)]="formDataBank.bankShortName">
                    <option value='' selected>Choose Bank</option>
                    <option *ngFor="let bankShortName of bankShortName" value="{{bankShortName.bankShortName}}">{{bankShortName.bankShortName}}</option>
            </select>
    </div>
    <div class="col-md-2 offset-2 mt-2 is-left">
        Bank Description<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="bankDesc" maxlength="100" [(ngModel)]="formDataBank.bankDesc" class="form-control">
    </div>
    <div class="col-md-2 offset-2 mt-2 is-left">
        Account No<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="bankAccountNo" pInputText pKeyFilter="num" maxlength="15" [(ngModel)]="formDataBank.bankAccountNo" class="form-control">
    </div>
    <div class="col-md-2 offset-2 mt-2 is-left">
        Service Code<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="compCode" maxlength="50" [(ngModel)]="formDataBank.compServiceCode" class="form-control">
    </div>
      <div class="col-md-2 offset-2 mt-2 is-left">
          Payment Type<font style="color:red;">*</font>
      </div>
      <div class="col-md-5 mb-3">
        <select name="type" class="form-control" name="payment" [(ngModel)]="formDataBank.paymentTypeCode">
            <option value='' selected>Choose Payment Type</option>
            <option *ngFor="let paymentType of paymentType" value="{{paymentType.paymentTypeCode}}">{{paymentType.paymentTypeDesc}}</option>
        </select>
      </div>
      <div class="col-md-2 offset-2 mt-2 is-left">
        Deposit Type<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <select class="custom-select" name="deposit" [(ngModel)]="formDataBank.depositType">
            <option value='' selected>Choose Desposit Type</option>
            <option value='DEPO'>Deposit</option>
            <option value='GF'>Guard Force</option>
        </select>
    </div>
      <div class="col-md-2 offset-2 mt-2 is-left">
        PayinLine1<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="PayinLine1" maxlength="100" [(ngModel)]="formDataBank.payinLine1" class="form-control">
    </div>
    <div class="col-md-2 offset-2 mt-2 is-left">
        PayinLine2<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="PayinLine2" maxlength="100" [(ngModel)]="formDataBank.payinLine2" class="form-control">
    </div>
    <div class="col-md-2 offset-2 mt-2 is-left">
        PayinLine3<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="PayinLine3" maxlength="100" [(ngModel)]="formDataBank.payinLine3" class="form-control">
    </div>
    <div class="col-md-2 offset-2 mt-2 is-left">
        Bank Branch<font style="color:red;">*</font>
    </div>
    <div class="col-md-5 mb-3">
        <input type="text" name="branch" maxlength="50" [(ngModel)]="formDataBank.bankBranch" class="form-control">
    </div>
    <div class="col-md-2 offset-2"></div>
    <div class="col-md-5 mb-3"></div>
  <div class="row">
    <div>
        <a class="btn bg-light is-float-right" (click)="cancel()">Cancel</a>
        <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
            (click)="updateBankMaster(formDataBank)">Save</a>
        <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
            (click)="addBankMaster(formDataBank)">Save</a>
    </div>
    <div class="col-12"><br></div>
</div>
</div>
 </p-dialog>
<!--Add new bank form End Here-->



<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="col-md-4 offset-5">
              <img *ngIf="!errorCode" src="assets/icon/check.png">
              <img *ngIf="errorCode" src="assets/icon/fail.png">
          </div>
          <div class="modal-body text-center">
              <p *ngIf="!errorCode">บันทึกสำเร็จ</p>
              <p *ngIf="errorCode">{{errorDesc}}</p>
          </div>
          <div class="col-md-6 offset-5 pb-3">
              <button *ngIf="!errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="success()">OK</button>
              <button *ngIf="errorCode" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
          </div>
      </div>
  </div>
</div>



<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="modal-body text-center">
              <h4>Confirm Delete?</h4>

          </div>
          <div class="col-md-5 offset-4 pl-4 pb-3">
              <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                  (click)="deleteBank()">Yes </button>
              <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
          </div>
      </div>
  </div>
</div>




<!-- Modal  delete success -->
<div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

          <div class="col-md-4 offset-5">
              <img src="assets/icon/check.png">
          </div>
          <div class="modal-body text-center">
              <p>ลบสำเร็จ</p>

          </div>
          <div class="col-md-6 offset-5 pb-3">
              <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
          </div>
      </div>
  </div>
</div>