.Address {
    width: 50%;
}

.head {
    text-align: center;
}

.mid {
    text-align: center;
    border: 1px;
    border-style: solid;
}

.little-padding {
    padding: 1vh;
}

.button_a {
    background: #009edf;
    color: rgb(245, 245, 245);
    border-style: none;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    width: 50%;
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 3vh 2vw;
}

.is-bold {
    font-weight: bold;
}

.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-center {
    text-align: center;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

p {
    margin-top: .5rem;
}

.w-40 {
    width: 40px;
    word-break: break-all
}

.w-120 {
    width: 180px;
    word-break: break-all
}

.w-250 {
    width: 250px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.w-20 {
    width: 20px;
    word-break: break-all
}