<div class="Adjust_page">
    <div class="contrainer">
        <div class="head">
            <h2>Reprint Pay In Slip</h2>
            <p class="dbline2"></p>
        </div>
        <div class="topmain">
            <div class="col-md-12">
                <div class="boxtext">
                    <div class="row">
                        <div class="col col-md-2 offset-md-1">
                            <p class="is-bold">Print Date</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <p-calendar [(ngModel)]="form.printDate" [showIcon]="true" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Ref.2</p>
                        </div>
                        <div class="col col-md-4">
                            <input type="text" pInputText pKeyFilter="pint" maxlength="8" placeholder="DDMMYYYY" class="form-control" [(ngModel)]="form.tranDate" (keyup)="isOnlyNumber($event, form.tranDate, 'tranDate')" (blur)="isOnlyNumber($event, form.tranDate, 'tranDate')">
                            <!-- <p-calendar [(ngModel)]="form.tranDate" [showIcon]="true" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar> -->
                        </div>
                        <div class="col col-md-2 offset-md-1">
                            <p class="is-bold">Payment Type</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <select name="PaymentType" class="form-control" [(ngModel)]="form.paymentType" (ngModelChange)="loadBank()">
                                            <option value="">All</option>
                                            <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N' || payment.paymentMethod == 'CREDIT'">{{payment.paymentTypeDesc}}</option>
                                        </select>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Bank</p>
                        </div>
                        <div class="col col-md-4">
                            <select class="form-control" name="bank" [(ngModel)]="form.bank">
                                            <option value="" selected>All</option>
                                            <option *ngFor="let bank of bank" value="{{bank.bankMasterId}}" >{{bank.bankDesc}}</option>
                                        </select>
                        </div>
                        <div class="col col-md-2 offset-md-1">
                            <p class="is-bold">Company</p>
                        </div>
                        <div class="col col-md-3">
                            <select class="form-control" name="Company" [(ngModel)]="form.company" (ngModelChange)="loadBank()">
                                            <option value="">All</option>
                                            <option *ngFor="let company of company" value={{company.companyCode}} [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                                         </select>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Amount</p>
                        </div>
                        <div class="col col-md-4">
                            <input pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" type="text" class="form-control is-money" [(ngModel)]="form.amount" (keyup)="isOnlyNumber($event, form.amount, 'amount')" (blur)="isOnlyNumber($event, form.amount, 'amount')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12 is-money pb-1">
                            <button class="btn btn-primary" (click)="Search('1', 'click')" name="Search" [disabled]="!form.printDate && !form.tranDate">Search</button>
                            <button class="btn bg-light" (click)="clear()">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0 pt-4" style="padding: 0" *ngIf="search">
                    <table class="table table-bordered">
                        <tr class="is-header-table">
                            <th class="is-center">Print Date</th>
                            <th class="is-center">Transaction Date</th>
                            <th class="is-center">Company</th>
                            <th class="is-center">Bank</th>
                            <th class="is-center">Payment Type</th>
                            <th class="is-center">Amount</th>
                            <th class="is-center">Action</th>
                        </tr>
                        <tr *ngFor="let data of filterData">
                            <td class="is-center w-120">{{data.payinDate | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td class="is-center w-40">{{data.tranDate | date:'dd/MM/yyyy'}}</td>
                            <td class="is-center w-40">{{data.company}}</td>
                            <td class="is-center w-250">{{data.edcBank}}</td>
                            <td class="is-center w-40">{{data.paymentType}}</td>
                            <td class="is-money w-80">{{data.amount | number:'.2'}}</td>
                            <td class="is-center w-40">
                                <button class="btn btn-primary" (click)="reprint(data)">Reprint</button>
                            </td>
                        </tr>
                        <tr *ngIf="loading == true">
                            <td colspan="11" class="is-center">
                                <img src="assets/logo/tran_dtac.gif" alt="">
                            </td>
                        </tr>
                        <tr *ngIf="checkData == 0">
                            <td colspan="11" class="is-center">
                                <p>No Data.</p>
                            </td>
                        </tr>
                    </table>
                    <div *ngIf="filterData.length">
                        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.totalRecords}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <p-dialog *ngIf="box == 1" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
        <div class="modal-body">
            <p>ระบุเหตุผล</p>
            <textarea type="text" class="reason col-md-12 little-padding" name="rePrintReason" col="100" rows="2" maxlength="200" [(ngModel)]="form.rePrintReason"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
            <button type="button" class="btn bg-light" (click)="cancel()">Cancel</button>
        </div>
    </p-dialog>

    <p-dialog *ngIf="box == 2" [(visible)]="display" [responsive]="true" [width]="800" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
        <div class="col-md-4 offset-5">
            <img src="assets/icon/check.png" *ngIf="msg == 'success'">
            <img src="assets/icon/fail.png" *ngIf="msg =='fail'">
        </div>
        <div class="modal-body text-center">
            <p *ngIf="msg =='success'">Success to Reprint</p>
            <p *ngIf="msg == 'fail'">Fail to Reprint</p>
        </div>
        <div class="col-md-6 offset-5 pb-3">
            <button class=" btn btn-primary" (click)="reOpen()">OK</button>
        </div>
    </p-dialog>