<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted">
            DTAC Copyright © 2018.
            <span class="text-muted right">Version 0.001</span>
        </p>
    </div>
</footer>