<div class="viewAdjust_page">
    <div class="contrainer">
        <div *ngFor="let view of view" [hidden]="loading == true || msg == 'fail'">
            <div class="head">

                <h2><span>Adjust </span><span *ngIf="data.whtFlag == 'Y'">WHT-</span>{{view.paymentType}}</h2>
                <p class="dbline2" (click)="onCancel(true)"></p>
            </div>
            <div class="main col-md-12">
                <div class="row">
                     <div class="col col-md-4">
                        <p>Adjustment Date</p>
                    </div>
                    <div class="col col-md-8" *ngIf="url == 'Treasury'">
                        <input type="text" class="form-control" placeholder="" name="mainDocDate" disabled value=" {{ view.adjustDate | date:'dd/MM/yyyy'}}">
                    </div>
                    <div class="col col-md-8" *ngIf="url == 'shop'">
                        <input type="text" class="form-control" placeholder="" name="mainDocDate" disabled value=" {{ view.adjustDate | date:'dd/MM/yyyy'}}">
                    </div>
                    <div class="col col-md-4">
                        <p>Sales & Payment Date</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="mainDocDate" disabled value="{{ view.mainDocDate | date:'dd/MM/yyyy' }}">
                    </div>
                    <div class="col col-md-4">
                        <p>Adjust No</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="adjustDocId" disabled [(ngModel)]="view.adjustDocId">
                    </div>
                    <div class="col col-md-4">
                        <p>Company</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="company" disabled [(ngModel)]="view.companyCode">
                    </div>
                    <div class="col col-md-4">
                        <p>Location</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="location" disabled [(ngModel)]="view.locationCode">
                    </div>
                    <div class="col col-md-4">
                        <p>Payment Type</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="adjustType" disabled [(ngModel)]="view.paymentType">
                    </div>
                    <div class="col col-md-4">
                        <p>Withholding Tax</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="whtFlag" disabled [(ngModel)]="view.whtFlag">
                    </div>
                    <div class="col col-md-4"  *ngIf="url == 'shop' && view.paymentTypeCode == 'CHQ'">
                        <p>Cheque No</p>
                    </div>
                    <div class="col col-md-8"  *ngIf="url == 'shop' && view.paymentTypeCode == 'CHQ'">
                        <input type="text" class="form-control" placeholder="" name="chequeNo" disabled [(ngModel)]="view.chequeNo">
                    </div>
                    <div class="col col-md-4">
                        <p>Adjust Ref Document</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" name="00001" disabled [(ngModel)]="view.refAdjustDocId">
                    </div>
                    <div class="col col-md-4">
                        <p>Adjust Type </p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" *ngFor="let type of adjustType" name="bankEdc" [hidden]="type.adjustMasterId != view.adjustMasterId" disabled [(ngModel)]="type.adjustType">
                    </div>
                    <div class="col col-md-4">
                        <p>Status </p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="" *ngFor="let status of adjustStatus" name="merchartId" [hidden]="status.adjustStatusCode != view.adjustStatus" disabled [(ngModel)]="status.adjustStatusDesc">
                    </div>


                    <div class="col col-md-4" *ngIf="url == 'shop' && view.paymentTypeCode == 'CC'">
                        <p>Bank EDC</p>
                    </div>
                    <div class="col col-md-8" *ngIf="url == 'shop' && view.paymentTypeCode == 'CC'">
                        <input type="text" class="form-control" placeholder="-" name="bankEdc" disabled [(ngModel)]="view.edcBank">
                    </div>
                    <div class="col col-md-4" *ngIf="url == 'shop' && view.paymentTypeCode == 'CC'">
                        <p>Merchant Type</p>
                    </div>
                    <div class="col col-md-8" *ngIf="url == 'shop' && view.paymentTypeCode == 'CC'">
                        <input type="text" class="form-control" placeholder="-" name="merchantType" disabled [(ngModel)]="merchantType">
                    </div>


                    <div class="col col-4 is-text" [hidden]="url == 'shop'">
                        <p>Bank EDC</p>
                    </div>
                    <div class="col col-8" [hidden]="url == 'shop'">
                        <select name="bankEdc" class="form-control" [(ngModel)]="data.bankEdc" [disabled]="view.adjustStatus == 2" (ngModelChange)="loadMerchantCn()">
                            <option value=undefined >กรุณาระบุ</option>
                            <option *ngFor="let bank of bankCn" value="{{bank.bankName}}">{{bank.bankName}}</option>
                        </select>
                    </div>
                    <div class="col col-4 is-text" [hidden]="url == 'shop'">
                        <p>Merchant Type</p>
                    </div>
                    <div class="col col-8" [hidden]="url == 'shop'">
                        <select name="merchartId" class="form-control" [(ngModel)]="data.merchartId" [disabled]="data.bankEdc == null || view.adjustStatus == 2">
                            <option value=undefined>กรุณาระบุ</option>
                            <option *ngFor="let merchant of merchantCn"  value="{{merchant.merchantId}}">{{merchant.merchantType}}</option>
                        </select>
                    </div>

                    <div class="col col-md-4" *ngIf="view.paymentTypeCode == 'CC'">
                        <p>Sale Slip Date</p>
                    </div>
                    <div class="col col-md-8" *ngIf="view.paymentTypeCode == 'CC'">
                        <input type="text" class="form-control" name="saleSlipDate" placeholder="-" disabled [(ngModel)]="view.saleSlipDate">
                    </div>
                    <div class="col col-md-4" *ngIf="view.paymentTypeCode == 'CC'">
                        <p>Last 4 digits</p>
                    </div>
                    <div class="col col-md-8" *ngIf="view.paymentTypeCode == 'CC'">
                        <input pInputText pKeyFilter="int" class="form-control" name="last" placeholder="-" disabled [(ngModel)]="view.last4Digits">
                    </div>
                    <div class="col col-md-4">
                        <p>Amount</p>
                    </div>
                    <div class="col col-md-8">
                        <input currencyMask maxlength="14" type="text" class="form-control" placeholder="" name="amount" disabled [(ngModel)]="view.adjustAmt">
                    </div>
                    <div class="col col-md-4">
                        <p>Note</p>
                    </div>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" placeholder="-" name="Note" disabled [(ngModel)]="view.adjustNote">
                    </div>
                    <div class="col col-md-4" [hidden]="url === 'shop'">
                        <p><span>Ref Bank Doc</span> <span class="important">*</span></p>
                    </div>
                    <div class="col col-md-8" [hidden]="url === 'shop'">
                        <input type="text" class="form-control" name="Note" [(ngModel)]="bankRef" *ngIf="view.adjustStatus != 2">
                        <input type="text" class="form-control" name="Note" [value]="view.refBankDoc" *ngIf="view.adjustStatus == 2" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 is-right">
                        <button class="btn btn-primary" name="Save" data-toggle="modal" (click)="onSave(view)" data-target="#save" [hidden]="url === 'shop' || view.adjustStatus == 2">Save</button>
                        <button class="btn bg-light" (click)="onCancel(true)" name="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4 offset-5">
                <div *ngIf="loading == true">
                    <img src="assets/logo/tran_dtac.gif" alt="">
                </div>
                <div *ngIf="msg == 'fail'">
                    <p>No Data</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>

            <div class="col-md-6 offset-5">
                <img *ngIf="msgSave == 'success'" src="assets/icon/check.png">
                <img *ngIf="msgSave == 'fail'" src="assets/icon/fail.png">
                <img *ngIf="msg == 'overflow'" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="msgSave == 'success'"> Submitted Successfully!!</p>
                <p *ngIf="msgSave == 'fail'"> Submitted Not Successfully!!</p>
                <p *ngIf="msg == 'overflow'">กรุณากรอกข้อมูลให้ครบถ้วน</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg == 'fail'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                <button *ngIf="msg == 'success'" type="button" (click)="onCancel(true)" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>