.head {
    text-align: center;
}

.dbline2 {
    border-style: hidden hidden solid hidden;
    border-color: #44b4ff;
}

.row {
    margin-bottom: 10px;
}

.is-left {
    text-align: left;
    float: left;
}

.is-right {
    text-align: right;
    float: right;
}

.form-control {
    margin: 1vh 0px;
}

.is-margin-button {
    margin: 1vh 0px;
}

p {
    margin-top: 1rem;
}

.important {
    color: red
}

.viewAdjust_page {
    padding: 20px;
}