<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Payment Type</h3>
            </div>
            <div class="col-8" *ngIf="dataActive">
                <button type="button" class="btn btn-primary" (click)="formBank()">
                    + New Payment Type
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="paymentTypeCode">Payment Type Code</option>
                            <option value="paymentTypeDesc">Payment Type Description</option>
                            <option value="paymentTypeStatus">Payment Status</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search"
                            placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Payment Type Code<font style="color:red;">*</font></label>
                    <input type="text" name="paymentTypeCode" [(ngModel)]="formData.paymentTypeCode" class="form-control" placeholder="Payment Type Code">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Payment Type Desc<font style="color:red;">*</font></label>
                    <input type="text" name="paymentTypeDesc" [(ngModel)]="formData.paymentTypeDesc" class="form-control" placeholder="Payment Type Desc">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Payment Method<font style="color:red;">*</font></label>
                    <input type="text" name="accountName" [(ngModel)]="formData.paymentMethod" class="form-control" placeholder="Payment Method">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Payment Type Status</label>
                    <select class="form-control" [(ngModel)]="formData.paymentTypeStatus">
                        <option value=undefined>กรุณาเลือก</option>
                        <option value="S">S</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">GL Account<font style="color:red;">*</font></label>
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glAccount" class="form-control" placeholder="37 Character" maxlength="37">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Payment Type Code<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="paymentTypeCode" [(ngModel)]="formData.paymentTypeCode" class="form-control"
                        placeholder="Payment Type Code">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Payment Type Desc<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="paymentTypeDesc" [(ngModel)]="formData.paymentTypeDesc" class="form-control"
                        placeholder="Payment Type Desc">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Payment Method<font style="color:red;">*</font>
                </div>
                <div class="col-md-5">
                    <input type="text" name="accountName" [(ngModel)]="formData.paymentMethod" class="form-control"
                        placeholder="Payment Method">
                </div>
                <div class="col-md-2 offset-2 mt-4 is-money">
                    Payment Type Status<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3 pt-3">
                    <select class="form-control" [(ngModel)]="formData.paymentTypeStatus">
                        <option value=undefined>กรุณาเลือก</option>
                        <option value="S">S</option>
                        <option value="N">N</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Account<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glAccount"
                        class="form-control" placeholder="37 Character" maxlength="37">
                </div>
                <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
                        (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
                        (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="dataActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Payment Type Code</th>
                        <th scope="col">Payment Type Description</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">GL Account</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length">
                    <tr *ngFor="let data of dbData; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.paymentTypeCode}}</td>
                        <td>{{data.paymentTypeDesc}}</td>
                        <td>{{data.paymentMethod}}</td>
                        <td>{{data.paymentTypeStatus}}</td>
                        <td>
                            {{data.glAccount}}
                            <!-- {{data.glRc}} {{data.glProduct}} {{data.glProject}}
                            <br/> {{data.glCs}} {{data.glFs}} {{data.glSs}} {{data.glRs}} -->
                        </td>
                        <td>
                            <button class="btn btn-warning" (click)="editBank(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete"  (click)="delete(data.paymentTypeCode)" type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="!errorDesc">
                <img src="assets/icon/fail.png" *ngIf="errorDesc">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorDesc">บันทึกสำเร็จ</p>
                <p *ngIf="errorDesc">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteBank()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>