<div class="Closingendday">
    <div class="container pt-2">
        <div class="head">
            <h2>Closing End of Day</h2>
            <p class="dbline2"></p>
        </div>
        <div class="containertext" *ngIf="loading; else loadSuccess">
            <div class="is-center">
                <img src="assets/logo/tran_dtac.gif" alt="">
            </div>
        </div>
        <ng-template #loadSuccess>
            <div class="containertext" *ngIf="closed == 'closed'; else otherLayout">
                <h3 class="is-center is-bold"> ได้ทำการ Closing End of Day
                    <!-- ของวันที่ <span>{{ dateVal | date:'dd/MM/yyyy' }}</span> -->
                    เรียบร้อยแล้ว</h3>
                <div class="col-md-12 is-center">
                    <button class="btn is-center bg-light col-md-1" routerLink="/" name="Cancel">back</button>
                </div>
            </div>
            <ng-template #otherLayout>
                <div class="main col-md-12">
                    <h5>
                        <strong>
                            Sale & Payment Date as of : {{ closingData.docDate | date:'dd/MM/yyyy' }}
                        </strong>
                    </h5>
                    <table class="table table-bordered">
                        <tr>
                            <th class="is-center">Company</th>
                            <th class="is-center">Payment Type</th>
                            <th class="is-center">Amount ( THB )</th>
                            <th class="is-center">Diff.</th>
                            <th class="is-center">Outstanding Diff.</th>
                            <th class="is-center">Action</th>
                        </tr>
                        <tbody *ngIf="DTNData && DTACData; else loading">
                            <tr *ngFor="let data of DTNData; let i = index">
                                <td class="bold is-text" *ngIf="i===0" [attr.rowspan]="DTNData.length">DTN</td>
                                <td class="is-text is-click is-underline" (click)="showLegacy(data,'N', 'DTN')">
                                    <span *ngIf="data.paymentTypeCode === 'CSH'">
                                        Cash
                                    </span>
                                    <span *ngIf="data.paymentTypeCode === 'CHQ'">
                                        Cheque
                                    </span>
                                    <span *ngIf="data.paymentTypeCode === 'CC'">
                                        Credit Card
                                    </span>
                                </td>
                                <td class="is-money">{{data.shopAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.diffAmt > 0) ? 'blue' : (data.diffAmt < 0) ? 'red' : ''}">{{data.diffAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.outstandingDiffAmt > 0) ? 'blue' : (data.outstandingDiffAmt < 0) ? 'red' : ''}">{{data.outstandingDiffAmt | number:'.2'}}</td>
                                <td class="is-center">
                                    <button class="btn btn-primary" *ngIf="data.paymentTypeCode == 'CHQ'" [disabled]="data.checkDiffAmt == 0 || !data.checkDiffAmt" (click)="adjust(data,'N')">ระบุเหตุผล</button>
                                    <button class="btn btn-primary" *ngIf="data.paymentTypeCode != 'CHQ'" [disabled]="!data.outstandingDiffAmt" (click)="adjust(data,'N')">ระบุเหตุผล</button>
                                    <button class="btn btn-info" (click)="adjustList(data)">ดูเหตุผล</button>
                                    <!-- [disabled]="data.diffAmt === 0" -->
                                </td>
                            </tr>
                            <tr *ngFor="let data of DTACData; let i = index">
                                <td class="bold is-text" *ngIf="i===0" [attr.rowspan]="DTACData.length">DTAC</td>
                                <td class="is-text is-click is-underline" (click)="showLegacy(data,'N', 'DTAC')">
                                    <span *ngIf="data.paymentTypeCode === 'CSH'">
                                        Cash
                                    </span>
                                    <span *ngIf="data.paymentTypeCode === 'CHQ'">
                                        Cheque
                                    </span>
                                    <span *ngIf="data.paymentTypeCode === 'CC'">
                                        Credit Card
                                    </span>
                                </td>
                                <td class="is-money">{{data.shopAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.diffAmt > 0) ? 'blue' : (data.diffAmt < 0) ? 'red' : ''}">{{data.diffAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.outstandingDiffAmt > 0) ? 'blue' : (data.outstandingDiffAmt < 0) ? 'red' : ''}">{{data.outstandingDiffAmt | number:'.2'}}</td>
                                <td class="is-center">
                                    <button class="btn btn-primary" *ngIf="data.paymentTypeCode == 'CHQ'" [disabled]="data.checkDiffAmt == 0 || !data.checkDiffAmt" (click)="adjust(data,'N')">ระบุเหตุผล</button>
                                    <button class="btn btn-primary" *ngIf="data.paymentTypeCode != 'CHQ'" [disabled]="!data.outstandingDiffAmt" (click)="adjust(data,'N')">ระบุเหตุผล</button>
                                    <button class="btn btn-info" (click)="adjustList(data)">ดูเหตุผล</button>
                                    <!-- [disabled]="data.diffAmt === 0" -->
                                </td>
                            </tr>
                            <!-- <tr *ngFor="let data of PAYSData; let i = index" [hidden]="loading == true">
                                <td class="bold is-text" *ngIf="i===0">PAYSBUY</td>
                                <td class="is-text is-click is-underline" (click)="showLegacy(data,'N')">
                                    <span *ngIf="data.paymentTypeCode === 'CSH'">
                                        Cash
                                    </span>
                                </td>
                                <td class="is-money">{{data.shopAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.diffAmt > 0) ? 'blue' : (data.diffAmt < 0) ? 'red' : ''}">{{data.diffAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.outstandingDiffAmt > 0) ? 'blue' : (data.outstandingDiffAmt < 0) ? 'red' : ''}">{{data.outstandingDiffAmt | number:'.2'}}</td>
                                <td class="is-center">
                                    <button class="btn btn-primary" [disabled]="data.outstandingDiffAmt === 0" (click)="adjust(data,'N')">ระบุเหตุผล</button>
                                    <button class="btn btn-info" [disabled]="data.diffAmt === 0" (click)="adjustList(data)">ดูเหตุผล</button>
                                </td>
                            </tr> -->
                            <tr *ngIf="loading == true">
                                <td colspan="6">
                                    <img src="assets/logo/tran_dtac.gif" alt="">
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <h5 class="wht">Withholding Tax</h5>
                    <table class="table table-bordered">
                        <tr>
                            <th class="wht-th is-center">Company</th>
                            <th class="wht-th is-center">Payment Type</th>
                            <th class="wht-th is-center">Amount ( THB )</th>
                            <th class="wht-th is-center">Diff.</th>
                            <th class="wht-th is-center">Outstanding Diff.</th>
                            <th class="wht-th is-center">Action</th>
                        </tr>
                        <tbody *ngIf="DTNWhtData && DTACWhtData; else loading">
                            <tr *ngFor="let data of DTNWhtData; let i = index">
                                <td class="bold is-text" *ngIf="i === 0" [attr.rowspan]="DTNWhtData.length">DTN</td>
                                <td class="is-text is-click is-underline" (click)="showLegacy(data,'W', 'DTN')">
                                    <span *ngIf="data.paymentTypeCode == 'CSH'">
                                        Cash
                                    </span>
                                    <span *ngIf="data.paymentTypeCode == 'CHQ'">
                                        Cheque
                                    </span>
                                    <span *ngIf="data.paymentTypeCode == 'CC'">
                                        Credit Card
                                    </span>
                                </td>
                                <td class="is-money">{{data.shopAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.diffAmt > 0) ? 'blue' : (data.diffAmt < 0) ? 'red' : ''}">{{data.diffAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.outstandingDiffAmt > 0) ? 'blue' : (data.outstandingDiffAmt < 0) ? 'red' : ''}">{{data.outstandingDiffAmt | number:'.2'}}</td>
                                <td class="is-center">
                                    <button class="btn btn-primary" [disabled]="data.checkDiffAmt == 0 && data.checkDiffAmt == 0" (click)="adjust(data, 'W', 'DTAC')">ระบุเหตุผล</button>
                                    <button class="btn btn-info" (click)="adjustList(data)">ดูเหตุผล</button>
                                    <!-- [disabled]="data.diffAmt === 0" -->
                                </td>
                            </tr>
                            <tr *ngFor="let data of DTACWhtData; let i = index" [hidden]="loading == true">
                                <td class="bold is-text" *ngIf="i === 0" [attr.rowspan]="DTACWhtData.length">DTAC</td>
                                <td class="is-text is-click is-underline" (click)="showLegacy(data,'W')">
                                    <span *ngIf="data.paymentTypeCode == 'CSH'">
                                        Cash
                                    </span>
                                    <span *ngIf="data.paymentTypeCode == 'CHQ'">
                                        Cheque
                                    </span>
                                    <span *ngIf="data.paymentTypeCode == 'CC'">
                                        Credit Card
                                    </span>
                                </td>
                                <td class="is-money">{{data.shopAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.diffAmt > 0) ? 'blue' : (data.diffAmt < 0) ? 'red' : ''}">{{data.diffAmt | number:'.2'}}</td>
                                <td class="is-money" [ngStyle]="{'color': (data.outstandingDiffAmt > 0) ? 'blue' : (data.outstandingDiffAmt < 0) ? 'red' : ''}">{{data.outstandingDiffAmt | number:'.2'}}</td>
                                <td class="is-center">
                                    <button class="btn btn-primary" [disabled]="data.checkDiffAmt == 0 && data.checkDiffAmt == 0" (click)="adjust(data, 'W')">ระบุเหตุผล</button>
                                    <button class="btn btn-info" (click)="adjustList(data)">ดูเหตุผล</button>
                                    <!-- [disabled]="data.diffAmt === 0" -->
                                </td>
                            </tr>
                            <tr *ngIf="loading == true">
                                <td colspan="6">
                                    <img src="assets/logo/tran_dtac.gif" alt="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 is-money">
                        <span *ngIf="(allOstDiff || closingData.eodDate) || loading; else otherButton">
                            <button class="btn btn-secondary" name="ClosingEndDay" data-toggle="modal" [disabled]="true">Closing End Day</button>
                        </span>
                        <ng-template #otherButton>
                            <button class="btn btn-primary" name="ClosingEndDay" data-toggle="modal" (click)="submitClosing()">Closing End Day</button>
                        </ng-template>
                        <button class="btn bg-light" name="Cancel" routerLink="/">Cancel</button>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
</div>

<!-- Modal Closing End of Day btn-->
<p-dialog *ngIf="box == 99" [modal]="true" [(visible)]="display" [responsive]="true" [width]="500" [minWidth]="200" [minY]="0" [positionTop]="50" [baseZIndex]="10000" (onHide)="closing()">
    <div class="rows">
        <div class="col-md-12 text-center">
            <img src="assets/icon/check.png" *ngIf="!errorCode">
            <img src="assets/icon/fail.png" *ngIf="errorCode">
        </div>
        <div class="modal-body text-center">
            <p *ngIf="!errorCode">ทำการ Closing End Day เรียบร้อย</p>
            <p *ngIf="errorCode">ไม่สามารถ Closing ได้</p>
        </div>
        <div class="col-md-12 text-center pb-3">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
        </div>
    </div>
</p-dialog>

<!-- Confirm Modal -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<!-- Modal Legacy-->
<p-dialog *ngIf="box == 2" [(visible)]="display" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="0" [baseZIndex]="10000">
    <h2 class="is-center">
        {{dataModal.companyCode}} - {{dataModal.paymentTypeCode == 'CC' ? 'Credit Card' : dataModal.paymentTypeCode == 'CHQ' ? 'Cheque' : dataModal.paymentTypeCode == 'CSH' ? 'Cash' : dataModal.paymentTypeCode}}
    </h2>
    <table *ngIf="dataModal" class="table table-bordered">

        <tr>
            <th class="is-center" [ngClass]="{'wht-th': dataModal.whtFlag == 'W'}" colspan="2">Legacy System</th>
        </tr>
        <tr>
            <th class="is-center" [ngClass]="{'wht-th': dataModal.whtFlag == 'W'}">Name</th>
            <th class="is-center" [ngClass]="{'wht-th': dataModal.whtFlag == 'W'}">Amount ( THB )</th>
        </tr>
        <tr>
            <td class="is-text">CBS</td>
            <td class="is-money">
                <span *ngIf="dataModal.cbs">
                    {{dataModal.cbs | number:'.2'}}
                </span>
                <span *ngIf="!dataModal.cbs">
                    -
                </span>
            </td>
        </tr>
        <tr>
            <td class="is-text">POS</td>
            <td class="is-money">
                <span *ngIf="dataModal.pos">
                    {{dataModal.pos | number:'.2'}}
                </span>
                <span *ngIf="!dataModal.pos">
                    -
                </span>
            </td>
        </tr>
        <tr>
            <td class="is-text">Discovery</td>
            <td class="is-money">
                <span *ngIf="dataModal.discovery">
                    {{dataModal.discovery | number:'.2'}}
                </span>
                <span *ngIf="!dataModal.discovery">
                    -
                </span>
            </td>
        </tr>
        <tr>
            <td class="is-text">Kiosk</td>
            <td class="is-money">
                <span *ngIf="dataModal.kiosk">
                    {{dataModal.kiosk | number:'.2'}}
                </span>
                <span *ngIf="!dataModal.kiosk">
                    -
                </span>
            </td>
        </tr>

    </table>

    <table *ngIf="listDataModal.length > 0" class="table table-bordered">
        <tr>
            <th class="is-center" colspan="5">LegacySystem</th>
        </tr>
        <tr>
            <th class="is-center">Company</th>
            <th class="is-center" *ngIf="modalType === 'N'">Bank</th>
            <th class="is-center" *ngIf="modalType === 'N'">ChequeNo</th>
            <th class="is-center" *ngIf="modalType === 'W'">TaxID</th>
            <th class="is-center" *ngIf="modalType === 'W'">CustomerName</th>
            <th class="is-center" *ngIf="modalType === 'W'">PaymentType</th>
            <th class="is-center">Amount</th>
        </tr>
        <tr *ngFor="let data of listDataModal;">
            <td class="is-text">{{data.companyCode}}</td>
            <td class="is-text" *ngIf="modalType === 'N'">
                <span *ngIf="data.bank">
                    {{data.bank}}
                </span>
                <span *ngIf="!data.bank">
                    -
                </span>
            </td>
            <td class="is-text" *ngIf="modalType === 'N'">
                <span *ngIf="data.chequeNo">
                    {{data.chequeNo}}
                </span>
                <span *ngIf="!data.chequeNo">
                    -
                </span>
            </td>
            <td class="is-text" *ngIf="modalType === 'W'">{{data.taxId}}</td>
            <td class="is-text" *ngIf="modalType === 'W'">{{data.custName}}</td>
            <td class="is-text" *ngIf="modalType === 'W'">{{data.paymentTypeCode}}</td>
            <td class="is-money">{{data.shopAmt | number:'.2'}}</td>
        </tr>

    </table>
    <h3 class="is-center" *ngIf="listDataModal.length && !dataModal">ไม่มีข้อมูลใน Legacy</h3>
</p-dialog>

<!-- Modal adjust detail-->
<p-dialog *ngIf="box == 1" [(visible)]="display" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="0" [positionTop]="50" [baseZIndex]="10000" (onHide)="closing()">
    <div style="height: 500px">
        <app-adjust [(data)]="datashop" (disClose)="onClose($event)" (decreaseAmount)="decrease($event)"></app-adjust>
    </div>
</p-dialog>

<!-- Modal adjust-->
<p-dialog *ngIf="box == 3" [(visible)]="displaylist" [responsive]="true" [width]="1000" [minWidth]="200" [positionTop]="50" [minY]="0" [baseZIndex]="10000">
    <div style="height: 500px">
        <h2 *ngIf="adjDataModal.length">Cheque Detail</h2>
        <table class="table table-bordered">
            <tr>
                <th class="is-center">Company</th>
                <th class="is-center">Bank</th>
                <th class="is-center">ChequeNo</th>
                <th class="is-center">Diff</th>
            </tr>
            <tr *ngFor="let data of adjDataModal;" [hidden]="data.outstandingDiffAmt == 0" (click)="detailList(data)">
                <td class="is-text is-underline is-click">{{data.companyCode}}</td>
                <td class="is-text is-underline is-click">{{data.bankCode}}</td>
                <td class="is-text is-underline is-click">{{data.chequeNo}}</td>
                <td class="is-money is-underline is-click">{{data.outstandingDiffAmt | number:'.2'}}</td>
            </tr>
        </table>
    </div>
</p-dialog>

<!-- Modal adjust list-->
<p-dialog *ngIf="box == 5" [(visible)]="display" [responsive]="true" [width]="1050" [positionTop]="50" [minWidth]="200" [minY]="0" [baseZIndex]="10000" (onHide)="closing()">
    <app-adjust-list [(dataList)]="dataList" (increaseAmount)="increase($event)" (updateAmount)="updateAmount($event)"></app-adjust-list>
</p-dialog>

<!-- Modal adjust WHT-->
<p-dialog *ngIf="box == 4" [(visible)]="display" [responsive]="true" [width]="1000" [minWidth]="200" [positionTop]="50" [minY]="0" [baseZIndex]="10000">
    <div style="height: 500px">
        <h2 *ngIf="adjDataModalObj.length">WithholdingTax Detail</h2>
        <table class="table table-bordered">
            <tr>
                <th class="is-center">Company</th>
                <th class="is-center">Tax ID</th>
                <th class="is-center">Customer Name</th>
                <th class="is-center">Payment Type</th>
                <th class="is-center">Diff.</th>
            </tr>
            <tbody *ngFor="let data of adjDataModalObj;">
                <tr *ngIf="data.outstandingDiffAmt != 0" (click)="detailList(data)">
                    <td class="is-text is-underline is-click">{{data.companyCode}}</td>
                    <td class="is-text is-underline is-click">{{data.taxId}}</td>
                    <td class="is-text is-underline is-click">{{data.custName}}</td>
                    <td class="is-text is-underline is-click">{{data.paymentTypeCode === 'CSH' ? 'Cash' : data.paymentTypeCode === 'CHQ' ? 'Cheque' : 'Credit Card'}}</td>
                    <td class="is-text is-underline is-click">{{data.outstandingDiffAmt | number:'.2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</p-dialog>