th {
    text-align: center;
    color: whitesmoke;
    background-color: #009edf;
}

.wht-th {
    text-align: center;
    color: whitesmoke;
    background-color: #00c27a !important;
}

.wht {
    padding: 10px 10px 0px 10xp;
}

.bold {
    font-weight: bold;
}

td {
    text-align: center;
}

.head {
    text-align: center;
}

.is-sum-table {
    background-color: #009edf;
    color: white;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-center {
    text-align: center;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    color: royalblue;
    text-decoration: underline;
}

.containertext {
    margin-top: 30vh;
}