/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import './app/app.component.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
.ui-menu {
    text-align: center;
    width: 100%;
    padding: .25em;
}

.ui-tree {
    border: none;
    width: 100%;
}