<div class="Adjust_page">
    <div class="contrainer">
        <div class="head">
            <h2>Search Pay In Slip</h2>
            <p class="dbline2"></p>
        </div>
        <div class="topmain">
            <div class="col-md-12">
                <div class="boxtext">
                    <div class="row">
                        <div class="col col-md-2 offset-md-1">
                            <p class="is-bold">Print Date</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <p-calendar [(ngModel)]="form.printDate" [showIcon]="true" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Ref No.2</p>
                        </div>
                        <div class="col col-md-3">
                            <input type="text" pInputText pKeyFilter="pint" maxlength="8" placeholder="DDMMYYYY" class="form-control" [(ngModel)]="form.tranDate" (keyup)="isOnlyNumber($event, form.tranDate, 'tranDate')" (blur)="isOnlyNumber($event, form.tranDate, 'tranDate')">
                            <!-- <p-calendar [(ngModel)]="form.tranDate" [showIcon]="true" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar> -->
                        </div>
                        <div class="col col-md-2 offset-1">
                            <p class="is-bold">Payment Type</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <select name="paymentType" class="form-control" [(ngModel)]="form.paymentTypeDesc" (ngModelChange)="loadBank()">
                                <option value="" selected>All</option>
                                <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N' || payment.paymentMethod == 'CREDIT'">{{payment.paymentTypeDesc}}</option>
                            
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <p class=" is-bold">Bank</p>
                        </div>
                        <div class="col col-md-3">
                            <select class="form-control" name="bank" [(ngModel)]="form.bank">
                                <option value="" selected>All</option>
                                <option *ngFor="let bank of bank" value="{{bank.bankMasterId}}" >{{bank.bankDesc}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2 offset-md-1">
                            <p class="is-bold">Company</p>
                        </div>
                        <div class="col col-md-3">
                            <select class="form-control" name="company" [(ngModel)]="form.company" (ngModelChange)="loadBank()">
                                <option value="">All</option>
                                <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode==='PAYSBUY'">{{company.companyCode}}</option>
                                <!-- <option value="" selected>All</option>
                                <option value="DTAC">DTAC</option>
                                <option value="DTN">DTN</option> -->
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <p class="is-bold">Status</p>
                        </div>
                        <div class="col col-md-3 mb-2">
                            <select class="form-control" name="status" [(ngModel)]="form.status">
                                <option value="" selected>All</option>
                                <option value="P">Printed</option>
                                <option value="R">RePrinted</option>
                                <option value="C">Cancelled</option>
                            </select>
                        </div>
                        <div class="col col-md-2 offset-md-1">
                            <p class="is-bold">Amount</p>
                        </div>
                        <div class="col col-md-3 mb-4">
                            <input type="text" pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="form.amount" (keyup)="isOnlyNumber($event, form.amount, 'amount')" (blur)="isOnlyNumber($event, form.amount, 'amount')">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col col-md-11 is-money">
                            <button class="btn btn-primary" (click)="onSearch( '1', 'click')" name="Search" [disabled]="!form.printDate && !form.tranDate">Search</button>
                            <button class="btn bg-light" (click)="onClear()" name="Clear">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0 pt-4" *ngIf="search">
                    <table class="table table-bordered">
                        <tr class=" is-header-table">
                            <th class="is-center">Print Date</th>
                            <th class="is-center">Transaction Date</th>
                            <th class="is-center">Company</th>
                            <th class="is-center">Bank</th>
                            <th class="is-center">Payment Type</th>
                            <th class="is-center">Amount</th>
                            <th class="is-center">User</th>
                            <th class="is-center">Status</th>
                        </tr>
                        <tr *ngFor="let data of filterData">
                            <td class="is-center w-120">{{data.payinDate | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td class="is-center w-40">{{data.tranDate | date:'dd/MM/yyyy'}}</td>
                            <td class="is-center w-40">{{data.company}}</td>
                            <td class="is-center w-200">{{data.edcBank}}</td>
                            <td class="is-center w-40">{{data.paymentType}}</td>
                            <td class="is-money w-80">{{data.amount | number:'.2'}}</td>
                            <td class="is-center w-80">{{data.updatedBy}}</td>
                            <td class="is-center w-120" pInputText pTooltip="{{data.reasonDesc}}" tooltipPosition="top" *ngIf="data.reprintFlag=='N'">{{data.status}}</td>
                            <td class="is-center w-120" pInputText pTooltip="{{data.reasonDesc}}" tooltipPosition="top" *ngIf="data.reprintFlag=='Y'">{{data.status}}, Reprinted</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="11" class="is-center">
                                <img src="assets/logo/tran_dtac.gif" alt="">
                            </td>
                        </tr>
                        <tr *ngIf="checkData=='0' && !loading">
                            <td colspan="11" class="is-center">
                                <p>No Data.</p>
                            </td>
                        </tr>
                    </table>
                    <div *ngIf="checkData !=0">
                        <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                        <p class="total-records">
                            Total records: {{paginator.totalRecords}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>