.head {
    text-align: center;
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 3vh 2vw;
}

.is-bold {
    font-weight: bold;
}

.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-center {
    text-align: center;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

p {
    margin-top: .5rem;
}

.w-40 {
    width: 40px;
    word-break: break-all
}

.w-120 {
    width: 120px;
    word-break: break-all
}

.w-200 {
    width: 200px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.w-20 {
    width: 20px;
    word-break: break-all
}

.is-right {
    text-align: right
}