<div class="Sale_Data">
    Sale-payment Work!
    <!-- <div class="contrainer">
        <h2>Sale & Payment Data</h2>
        <p class="dbline2"></p>
        <div class="col-md-6 offset-md-3">
            <p>
                As of : 01/08/2018
            </p>
            <table class="payment_data">
                <tr>
                    <th>Payment Type</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Cash - DTN</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'CashDtn')" class="form-control is-right" [disabled]="disableBox" name="cash_dtn" placeholder="0.00"
                            [(ngModel)]="dtn.cash">
                    </td>
                </tr>
                <tr>
                    <td>Cheque - DTAC</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'ChequeDtac')" class="form-control is-right" [disabled]="disableBox"
                            name="cheq_dtac" placeholder="0.00" [(ngModel)]="dtac.cheque">
                    </td>
                </tr>
                <tr>
                    <td>Cheque - DTN</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'ChequeDtn')" class="form-control is-right" [disabled]="disableBox"
                            name="cheq_dtn" placeholder="0.00" [(ngModel)]="dtn.cheque">
                    </td>
                </tr>
                <tr>
                    <td>CreditCard - DTAC</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'CreditDtac')" class="form-control is-right" [disabled]="disableBox"
                            name="cc_dtac" placeholder="0.00" [(ngModel)]="dtac.credit">
                    </td>
                </tr>
                <tr>
                    <td>CreditCard - DTN</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'CreditDtn')" class="form-control is-right" [disabled]="disableBox"
                            name="cc_dtn" placeholder="0.00" [(ngModel)]="dtn.credit">
                    </td>
                </tr>
            </table>

            <p style="color: black;">Waitholding Tex</p>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Cash</th>
                    <th>Cheque</th>
                    <th>CreditCard</th>
                </tr>
                <tr>
                    <td>DTAC</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'woCashDtac')" class="form-control is-right" [disabled]="disableBox"
                            name="cash_dtac " placeholder="0.00" [(ngModel)]="dtac.woCash">
                    </td>
                    <td>
                        <input (keyup)="FloatInput($event, 'woCheqDtac')" class="form-control is-right" [disabled]="disableBox"
                            name="cheq_dtac " placeholder="0.00" [(ngModel)]="dtac.woCheque">
                    </td>
                    <td>
                        <input (keyup)="FloatInput($event, 'woCreditDtac')" class="form-control is-right" [disabled]="disableBox"
                            name="credit_dtac " placeholder="0.00" [(ngModel)]="dtac.woCredit">
                    </td>
                </tr>
                <tr>
                    <td>DTN</td>
                    <td>
                        <input (keyup)="FloatInput($event, 'woCashDtn')" class="form-control is-right" [disabled]="disableBox"
                            name="cash_dtn " placeholder="0.00" [(ngModel)]="dtn.woCash">
                    </td>
                    <td>
                        <input (keyup)="FloatInput($event, 'woCheqDtn')" class="form-control is-right" [disabled]="disableBox"
                            name="cheq_dtn " placeholder="0.00" [(ngModel)]="dtn.woCheque">
                    </td>
                    <td>
                        <input (keyup)="FloatInput($event, 'woCreditDtn')" class="form-control is-right" [disabled]="disableBox"
                            name="credit_dtn " placeholder="0.00" [(ngModel)]="dtn.woCredit">
                    </td>
                </tr>
            </table>
            <div class="col offset-md-9">
                <div>
                    <button class="btn btn-primary" (click)="onSubmit()" name="Submit ">Submit</button>
                    <button class="btn btn-primary" (click)="onCancel()" name="Cancel ">Cancel</button>
                </div>
            </div>
        </div>
    </div> -->
</div>