.terminal_no p {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.payment_data {
    width: 100%;
}

table {
    margin-bottom: 10px;
}

th {
    text-align: center;
    color: whitesmoke;
    background-color: #009edf;
    padding: 1%;
    padding-right: 1vw;
}

td input {
    text-align: right !important;
    width: 100%;
    text-align: center;
}

td {
    padding: 1%;
}

.contrainer h2 {
    color: #000000;
    text-align: center;
}

.toright {
    text-align: right;
}

.button_a {
    background: #009edf;
    color: rgb(245, 245, 245);
    border-style: none;
    border-radius: 10px;
    margin: 5px;
}

.button_a :hover {
    background: #003c53;
    color: rgb(245, 245, 245);
    border-style: none;
    border-radius: 10px;
    margin: 5px;
}
.is-right {
    text-align: right;
}