<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Holiday Setup</h3>
            </div>
            <div class="col-8" *ngIf="dataActive">
                <button type="button" class="btn btn-primary" (click)="formBank()">
                    + New Holiday
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="holidayDate">Holiday Date</option>
                            <option value="actionFlag">Status</option>
                            <option value="holidayDesc">Holiday Desc</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search" placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Holiday Date<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <p>
                        <p-calendar [(ngModel)]="formData.holidayDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar>
                    </p>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Holiday Desc<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationCustom01"></label>
                    <input type="text" name="holidayDesc" [(ngModel)]="formData.holidayDesc" class="form-control" placeholder="holidayDesc">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Remark
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="remark" [(ngModel)]="formData.remark" class="form-control" placeholder="Remark">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Active Flag<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationCustom01"></label>
                    <select [(ngModel)]="formData.status" class="form-control">
                        <option value=undefined selected>กรุณาระบุ</option>
                        <option value="N">InActive</option>
                        <option value="Y">Active</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Holiday Date<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <p-calendar [(ngModel)]="formData.holidayDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Holiday Desc<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="holidayDesc" [(ngModel)]="formData.holidayDesc" class="form-control" placeholder="Holiday description">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Remark
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="remark" [(ngModel)]="formData.remark" class="form-control" placeholder="Remark">
                </div>
                <div class="col-md-2 offset-2 mt-4 is-right">
                    Active Flag<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select [(ngModel)]="formData.activeFlag" class="form-control">
                        <option value=undefined selected>กรุณาระบุ</option>
                        <option value="N">InActive</option>
                        <option value="Y">Active</option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <!-- <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a> -->
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="dataActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <!-- <th scope="col">No</th> -->
                        <th scope="col">Holiday Date</th>
                        <th scope="col">Holiday Desc</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length">
                    <tr *ngFor="let data of dbData; let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{data.holidayDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{data.holidayDesc}}</td>
                        <td>{{data.remark}}</td>
                        <td>{{data.activeFlag}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editBank(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete" (click)="setDeleteBank(data.holidayDate)" type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="!errorDesc">
                <img src="assets/icon/fail.png" *ngIf="errorDesc">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorDesc">บันทึกสำเร็จ</p>
                <p *ngIf="errorDesc">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="alertDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>ลบสำเร็จ</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal deleteAlert-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>
            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#alertDelete" data-dismiss="modal" (click)="deleteBank()">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>