<div class="contrainer">
    <div class="head">
        <h2>Search Adjust For AR</h2>
        <p class="dbline2"></p>
    </div>
    <div class="topmain">
        <div class="col-md-12">
            <div class="boxtext">
                <div class="row">
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Document Type</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.doctype" (ngModelChange)="searchStatusSwap()" >
                              <!-- <option value=undefined selected>All</option> -->
                              <option *ngFor="let  data of  docType" value="{{data.adjustDocType}}">{{data.docTypeDesc}}</option>
                              <!--<option *ngFor="let  data of  docType" value="{{data.adjustDocType}}" [hidden]="data.adjustDocType === 'TR'" >{{data.docTypeDesc}}</option>-->
                          </select>
                    </div>
                    <div class="col col-md-2 offset-1">
                    </div>
                    <div class="col col-md-3">
                    </div>
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Sales & Payment Date : From</p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar [(ngModel)]="form.adjSrchReq.mainDocDate" [showIcon]="true" dateFormat="dd/mm/yy" (ngModelChange)="toMainDocDate()" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-4" *ngIf="searchMaindoc == '0'">
                        <p-calendar [(ngModel)]="form.adjSrchReq.mainDocDateTo" [showIcon]="true" [minDate]="minMainDocDate" dateFormat="dd/mm/yy" disabled placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-4" *ngIf="searchMaindoc == '1'">
                        <p-calendar [(ngModel)]="form.adjSrchReq.mainDocDateTo" [showIcon]="true" [minDate]="minMainDocDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>

                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Adjust Date : From</p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar [(ngModel)]="form.adjSrchReq.adjustDate" [showIcon]="true" dateFormat="dd/mm/yy" (ngModelChange)="toDocDate()" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">To</p>
                    </div>
                    <div class="col col-md-4" *ngIf="searchAdjustdoc == '0'">
                        <p-calendar [(ngModel)]="form.adjSrchReq.adjustDateTo" [showIcon]="true" [minDate]="mintoDocDate" dateFormat="dd/mm/yy" disabled placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-4" *ngIf="searchAdjustdoc == '1'">
                        <p-calendar [(ngModel)]="form.adjSrchReq.adjustDateTo" [showIcon]="true" [minDate]="mintoDocDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Company</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.company" (ngModelChange)="loadBank()">
                              <option value='' selected>All</option>
                              <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
                          </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Payment Type</p>
                    </div>
                    <div class="col col-md-3">
                        <select class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType" [disabled]="url === 'Treasury'">
                                <option value='' selected>All</option>
                                <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N'">{{payment.paymentTypeDesc}}</option>
                          </select>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Location Code</p>
                    </div>
                    <div class="col col-md-3 mb-2">
                        <select class="selectpicker" class="form-control" [(ngModel)]="form.adjSrchReq.locationCode" (ngModelChange)="loadBank()" name="description">
                              <option value=undefined>All</option>
                              <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
                          </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Location Name</p>
                    </div>
                    <div class="col col-md-3">
                        <input *ngIf="form.adjSrchReq.locationCode == undefined || form.adjSrchReq.locationCode == 'undefined'" type="text" class="form-control" name="amount" disabled>
                        <input *ngFor="let locate of locationList" type="text" class="form-control" name="amount" [hidden]="form.adjSrchReq.locationCode != locate.code" value="{{locate.name}}" disabled>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Adjust Type</p>
                    </div>
                    <div class="col col-md-3">
                        <select name="type" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.adjustType" [hidden]="form.adjSrchReq.doctype =='undefined' || form.adjSrchReq.doctype ==undefined">
                              <option value=undefined >All</option>
                              <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != form.adjSrchReq.doctype">{{type.adjustType}} </option>
                          </select>
                        <select name="type" class="form-control" name="dropdownAll" [(ngModel)]="form.adjSrchReq.adjustType" [hidden]="form.adjSrchReq.doctype == 'AR' || form.adjSrchReq.doctype == 'SH' ||form.adjSrchReq.doctype == 'TR'">
                              <option value=undefined >All</option>
                              <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}">{{type.adjustType}} </option>
                          </select>
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">Status</p>
                    </div>
                    <div class="col col-md-3 mb-2">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.status">
                              <option value=''>All</option> 
                              <option *ngFor="let status of adjustStatus" value="{{status.adjustStatusCode}}" [hidden]="status.adjustStatusCode == 0 || status.adjustStatusCode == 3">{{status.adjustStatusDesc}}</option>
                          </select>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col col-md-2 offset-1">
                        <p class="is-bold">Original Adjustment Amount</p>
                    </div>
                    <div class="col col-md-3">
                        <input type="text" pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="form.adjSrchReq.amount" (keyup)="isOnlyNumber($event, form.adjSrchReq.amount)" (blur)="isOnlyNumber($event, form.adjSrchReq.amount)"
                        />
                    </div>
                    <div class="col col-md-2">
                        <p class="is-bold">WHT</p>
                    </div>
                    <div class="col col-md-3 mb-2">
                        <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.wht">
                              <option value=''>All</option>
                              <option  value="N" >No</option>
                              <option  value="Y" >Yes</option>
                          </select>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col col-md-2 offset-1" [hidden]="url === 'Treasury'">
                        <p class="is-bold">Outstanding Adjustment Amount</p>
                    </div>
                    <div class="col col-md-3" [hidden]="url === 'Treasury'">
                        <input type="text" pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="form.adjSrchReq.Ostamount" (keyup)="isOnlyNumberOst($event, form.adjSrchReq.Ostamount)" (blur)="isOnlyNumberOst($event, form.adjSrchReq.Ostamount)"
                        />
                    </div>
                    <div class="col col-md-2 " [hidden]="url === 'Treasury'">
                        <p class="is-bold">Cheque No</p>
                    </div>
                    <div class="col col-md-3">
                        <input type="text" pInputText pKeyFilter="pint" maxlength="25" class="form-control is-money" [(ngModel)]="form.adjSrchReq.chequeNo">
                    </div>
                    <!-- <div class="col col-md-2" >
                          <p class="is-bold">Adjust Date</p>
                      </div>
                      <div class="col col-md-4 pt-1" >
                          <p-calendar [(ngModel)]="form.adjSrchReq.adjustDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                      </div> -->




                    <div class="col-1">
                    </div>




                    <div class="col-1">
                    </div>
                    <div class="col col-md-11 is-money">
                        <button class="btn btn-primary" (click)="Search('1', 'click')" name="Search">Search</button>
                        <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                    </div>
                </div>
            </div>
            <div class="col col-md-12 is-center is-padding-table" *ngIf="search">
                <table class="table table-bordered">
                        <td colspan="13" class="is-header-table is-money is-bold">Total Outstanding Amount : {{totalAmount | number:'.2'}}</td>
                    <tr class="is-header-table">
                        <th class="is-center">Document Type</th>
                        <th class="is-center" *ngIf="refDocActive">Ref Adjust Doc No</th>
                        <th class="is-center">Adjust No</th>
                        <th class="is-center">Adjust Date</th>
                        <th class="is-center">Location Code</th>
                        <th class="is-center">Company</th>
                        <!-- <th class="is-center" [hidden]="url === 'shop'">Location name</th> -->
                        <th class="is-center">Adjust Type</th>
                        <th class="is-center">Status</th>
                        <th class="is-center">Payment Type</th>
                        <th class="is-center">WHT</th>
                        <th class="is-center">Amount</th>
                        <th class="is-center">Outstanding Amount</th>
                        <th class="is-center" *ngIf="refDocActive">Action</th>
                    </tr>
                    <tr *ngFor="let data of filterData" class="is-underline is-click" [hidden]="loading == true">
                        <!-- (click)="view(data)" -->
                        <td class="is-center w-40" (click)="view(data)">{{data.docTypeDesc}}</td>
                        <td class="is-center w-40" (click)="view(data)">{{data.refAdjustDocId}}</td>
                        <td class="is-center w-40" (click)="view(data)">{{data.adjustNo}}</td>
                        <td class="is-center w-40" (click)="view(data)">{{data.adjustDate | date:'dd/MM/yyyy'}}</td>
                        <td class="is-center w-40" (click)="view(data)">{{data.locationCode}}</td>
                        <td class="is-center w-20" (click)="view(data)">{{data.company}}</td>
                        <!-- <td class="is-text w-200" [hidden]="url === 'shop'">{{data.locationName}}</td> -->
                        <td class="is-text w-200" (click)="view(data)">{{data.adjustType.adjustType}}</td>
                        <td class="is-center w-80" (click)="view(data)">{{data.status}}</td>
                        <td class="is-center w-60" (click)="view(data)">{{data.paymentType}} </td>
                        <td class="is-center w-20" (click)="view(data)">{{data.whtFlag=='N'?'No':'Yes'}}</td>
                        <td class="is-money w-80" (click)="view(data)">{{data.amount | number:'.2'}}</td>
                        <td class="is-money w-80" (click)="view(data)">{{data.Ostamount | number:'.2'}}</td>
                        <td class="is-center w-80" *ngIf="refDocActive">
                            <!-- (click)="view(data)" -->
                            <button [disabled]="data.status != 'Pending' || data.adjustType.adjustDocType == 'TR' || data.adjustType.adjustCNFlag == 'Y'" class="btn btn-primary" (click)="refDoc(data)">
                                  Ref Doc
                              </button>
                        </td>

                    </tr>
                    <tr *ngIf="loading == true">
                        <td colspan="13" class="is-center">
                            <img src="assets/logo/tran_dtac.gif" alt="">
                        </td>
                    </tr>
                    <tr *ngIf="checkData == 0">
                        <td colspan="13" class="is-center">
                            <p>No Data.</p>
                        </td>
                    </tr>
                </table>
                <div *ngIf="paging != 0">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" *ngIf="box == 1" [modal]="true" [responsive]=" true" [width]="700" [minWidth]="200" [positionTop]="20" [minY]="20" [baseZIndex]="10000" (onHide)="onClose($event)">
    <!--  <p-scrollPanel [style]="{width: '100%', height: '700px'}"> -->
    <div style="height: 700px">
        <app-adjust-view [(data)]='listData' (displayClose)="onClose($event)"></app-adjust-view>
    </div>
    <!-- </p-scrollPanel> -->
</p-dialog>


<!-- Modal Ref Doc-->
<p-dialog [(visible)]="display" *ngIf="box == 2" [responsive]="true" [width]="1000" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <div class="boxtext">
        <div class="row">

            <div class="col col-md-2">
                <p class="is-bold">Document Type</p>
            </div>
            <div class="col col-md-4">
                <select name="type" class="form-control" name="description" [(ngModel)]="fromRefDoc.adjSrchReq.doctype">
                  <!-- <option value=undefined selected>All</option> -->
                  <option *ngFor="let  data of  docType" value="{{data.adjustDocType}}">{{data.docTypeDesc}}</option>>
                  <!--<option *ngFor="let  data of  docType" value="{{data.adjustDocType}}" [hidden]="data.adjustDocType === 'TR'" >{{data.docTypeDesc}}</option>>-->
              </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Cheque No</p>
            </div>
            <div class="col col-md-4">
                <input type="text" pInputText pKeyFilter="pint" maxlength="25" class="form-control is-money" [(ngModel)]="fromRefDoc.adjSrchReq.chequeNo">
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Company</p>
            </div>
            <div class="col col-md-4">
                <select name="type" class="form-control" name="companyMD" [(ngModel)]="fromRefDoc.adjSrchReq.company">
                  <option value='' selected>All</option>
                  <option *ngFor="let company of company" value="{{company.companyCode}}" [hidden]="company.companyCode === 'PAYSBUY'">{{company.companyCode}}</option>
              </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Payment Type</p>
            </div>
            <div class="col col-md-4">
                <select  class="form-control" name="paymentTypeMD" [(ngModel)]="fromRefDoc.adjSrchReq.paymentType">
                  <option value='' selected>All</option>
                  <option *ngFor="let payment of paymentType" value="{{payment.paymentTypeCode}}" [hidden]="payment.paymentTypeStatus != 'N'">{{payment.paymentTypeDesc}}</option>
              </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-2">
                <p class="is-bold">Location Code</p>
            </div>
            <div class="col col-md-4 mb-2">
                <select class="selectpicker" class="form-control" [(ngModel)]="fromRefDoc.adjSrchReq.locationCode" name="locationCodeMD">
                  <option value=undefined>All</option>
                  <option *ngFor="let locate of locationList" value="{{locate.code}}">{{locate.code}}</option>
              </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Location Name</p>
            </div>
            <div class="col col-md-4">
                <input *ngIf="fromRefDoc.adjSrchReq.locationCode == undefined || fromRefDoc.adjSrchReq.locationCode == 'undefined'" type="text" class="form-control" name="locationNameMD" disabled>
                <input *ngFor="let locate of locationList" type="text" class="form-control" name="locationCodeMD2" [hidden]="fromRefDoc.adjSrchReq.locationCode != locate.code" value="{{locate.name}}" disabled>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Adjust Type</p>
            </div>
            <div class="col col-md-4">
                <select name="type" class="form-control" name="amount" [(ngModel)]="fromRefDoc.adjSrchReq.adjustType" [hidden]="fromRefDoc.adjSrchReq.doctype =='undefined' || fromRefDoc.adjSrchReq.doctype ==undefined">
                  <option value=undefined >All</option>
                  <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}" [hidden]="type.adjustDocType != fromRefDoc.adjSrchReq.doctype">{{type.adjustType}} </option>
              </select>
                <select name="type" class="form-control" name="amount" [(ngModel)]="fromRefDoc.adjSrchReq.adjustType" [hidden]="fromRefDoc.adjSrchReq.doctype == 'AR' || fromRefDoc.adjSrchReq.doctype == 'SH' ||fromRefDoc.adjSrchReq.doctype == 'TR'">
                  <option value=undefined >All</option>
                  <option *ngFor="let type of adjustType" value="{{type.adjustMasterId}}">{{type.adjustType}} </option>
              </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Status</p>
            </div>
            <div class="col col-md-4 mb-2">
                <select class="selectpicker" class="form-control" name="description" [(ngModel)]="fromRefDoc.adjSrchReq.status" disabled>
                  <option value=''>All</option>
                  <option *ngFor="let status of adjustStatus" value="{{status.adjustStatusCode}}" [hidden]="status.adjustStatusCode == 0">{{status.adjustStatusDesc}}</option>
              </select>
            </div>
            <div class="col col-md-2">
                <p class="is-bold">Amount</p>
            </div>
            <div class="col col-md-4">
                <input type="text" disabled pInputText pKeyFilter="num" maxlength="14" placeholder="0.00" class="form-control is-money" [(ngModel)]="fromRefDoc.adjSrchReq.amount" (keyup)="isOnlyNumber($event, fromRefDoc.adjSrchReq.amount)" (blur)="isOnlyNumber($event, fromRefDoc.adjSrchReq.amount)">
            </div>

            <div class="col col-md-2">
                <p class="is-bold">Adjust No</p>
            </div>
            <div class="col col-md-4">
                <input type="text" pInputText pKeyFilter="pint" maxlength="14" class="form-control is-money" [(ngModel)]="fromRefDoc.adjSrchReq.adjustNo">
            </div>
            <div class="col col-md-3 offset-9 is-money">
                <button class="btn btn-primary" (click)="refSearch('1')" name="Search">Search</button>
                <button class="btn bg-light" (click)="refClear()" name="Clear">Clear</button>
            </div>
        </div>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <div style="padding:1em;line-height:1.5">
            <div class="col col-md-12 is-center is-padding-table" *ngIf="activeRef == 'search'">
                <table class="table table-bordered">
                    <tr class="is-header-table">
                        <!--   <th class="is-center">Ref Adjust No</th> -->
                        <th class="is-center">Document Type</th>
                        <th class="is-center">Adjust No</th>
                        <th class="is-center">Company</th>
                        <th class="is-center">Adjust Type</th>
                        <th class="is-center">Status</th>
                        <th class="is-center">Payment Type</th>
                        <th class="is-center">Amount</th>
                    </tr>
                    <tbody *ngIf="filterRefData.length; else noData">
                        <tr *ngFor="let data of filterRefData" class="is-underline is-click" data-dismiss="modal" (click)="ref(data)">
                            <!--  <td class="is-center w-40">{{data.refAdjustDocId}}</td> -->
                            <td class="is-center w-40">{{data.docTypeDesc}}</td>
                            <td class="is-center w-40">{{data.adjustNo}}</td>
                            <td class="is-center w-40">{{data.company}}</td>
                            <td class="is-text w-120">{{data.adjustType}}</td>
                            <td class="is-center w-80">{{data.status}}</td>
                            <td class="is-center w-80">{{data.paymentType}} </td>
                            <td class="is-money w-80">{{data.outstandingAmt | number:'.2'}}</td>
                        </tr>
                    </tbody>
                    <tr *ngIf="loadingRef == true">
                        <td colspan="11" class="is-center">
                            <img src="assets/logo/tran_dtac.gif" alt="">
                        </td>
                    </tr>
                    <tr *ngIf="checkDataRef == 0">
                        <td colspan="11" class="is-center">
                            <p>No Data.</p>
                        </td>
                    </tr>
                </table>
                <div *ngIf="pagingRef != 0">
                    <p-paginator [rows]="paginatorRef.recordPerPage" [totalRecords]="paginatorRef.totalRecords" (onPageChange)="paginateRef($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginatorRef.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
    </p-scrollPanel>

</p-dialog>


<p-dialog *ngIf="box == 3" [(visible)]="display" [responsive]="true" [width]="600" [minWidth]="150" [positionTop]="100" [minY]="70" [baseZIndex]="10000" (onHide)="cancelRef()">
    <div class="col-md-12 model-layout">
        <h5 class="is-center">
            <p>ทำการ Ref Adjust Doc No : {{addRefData.adjustNo}} ที่มียอด Amount : {{addRefData.outstandingAmt | number: '.2'}}</p>
            <p> ด้วย Ref Doc No : {{refData.adjustNo}} ที่มียอด Amount : {{refData.amount | number: '.2'}}</p>
        </h5>
    </div>
    <div class="col-md-12 pb-3">
        <div class="is-center">
            <button type="button" (click)="addRef()" class="btn btn-primary btn-ok" data-toggle="modal" data-target="#ref">OK</button>
            <button type="button" class="btn bg-light" (click)="cancelRef()">Cancel</button>
        </div>
    </div>
</p-dialog>


<div class="modal fade" id="ref" style="z-index: 20000;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center pt-5">
                <h5>
                    <p *ngIf="msg == 'success'">ทำรายการสำเร็จ</p>
                    <p *ngIf="msg == 'fail'">ไม่สามารถทำรายการได้</p>
                </h5>
            </div>
            <div class="col-md-6 offset-5 padding-button-left pb-3">
                <button class="btn btn-primary btn-ok" (click)="close()" data-dismiss="modal" mc-web> OK </button>
            </div>
        </div>
    </div>
</div>