.head {
    text-align: center;
    padding-top: 15px
}

.boxtext {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    border-radius: 5px;
    padding: 3vh 2vw;
}

.is-center {
    text-align: center;
    /* padding-left: 0%;
    padding-right: 0% */
}

.is-padding-table {
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.is-bold {
    font-weight: bold;
}

.is-text {
    text-align: left;
}

.is-money {
    text-align: right;
}

.is-click {
    cursor: pointer;
}

.is-underline {
    text-decoration: underline;
    color: rgb(65, 105, 225);
}

.is-header-table {
    background: #009edf;
    color: #FFFFFF;
}

.is-white {
    color: #FFFFFF;
}

p {
    margin-top: .5rem;
}

.w-40 {
    width: 40px;
    word-break: break-all
}

.w-200 {
    width: 200px;
    word-break: break-all
}

.w-60 {
    width: 60px;
    word-break: break-all
}

.w-80 {
    width: 80px;
    word-break: break-all
}

.w-120 {
    width: 120px;
    word-break: break-all
}

.w-20 {
    width: 20px;
    word-break: break-all
}

.btn-ok {
    padding-left: 20px;
    padding-right: 20px;
}
.model-layout {
    padding: 1rem;
}