<div class="suspense">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Suspense Master</h3>
            </div>
            <div class="col-8" *ngIf="dataActive">
                <button type="button" class="btn btn-primary" (click)="form()">
                    + New Suspense
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy"(ngModelChange)="clearSearchValue()">
                                <option value=null selected>Find by...</option>
                                <option value="legacyName">Legacy Name</option>
                                <option value="productType">Payment Type</option>
                            </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search" placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Legacy Name<font style="color:red;">*</font></label>
                    <input type="text" name="accName" [(ngModel)]="formData.legacyName" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Payment Type<font style="color:red;">*</font></label>
                    <select class="custom-select" name="role" [(ngModel)]="formData.paymentType">
                        <option value='' selected>Choose Desposit Type</option>
                        <option value='postpaid'>Postpaid</option>
                        <option value='prepaid'>Prepaid</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Account Name<font style="color:red;">*</font></label>
                    <select class="custom-select" name="role" [(ngModel)]="formData.accountName">
                        <option value='' selected>Choose Bank</option>
                        <option value=KBankSuspense>KBank Suspense</option>
                        <option value=BBLSuspense>BBL Suspense</option>
                        <option value=SCBSuspense>SCB Suspense</option>
                        <option value=KTMSuspense>KTM Suspense</option>
                        <option value=TOASuspense>TOA Suspense</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Remark</label>
                    <input type="text" name="accName" [(ngModel)]="formData.remark" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Account<font style="color:red;">*</font></label>
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glAccount" class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL RC<font style="color:red;">*</font></label>
                    <input type="text" name="glRc" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glRc" class="form-control" placeholder="1234" maxlength="4">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Product<font style="color:red;">*</font></label>
                    <input type="text" name="glPd" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glProduct" class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Project<font style="color:red;">*</font></label>
                    <input type="text" name="glPj" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glProject" class="form-control" placeholder="123456" maxlength="6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL CS<font style="color:red;">*</font></label>
                    <input type="text" name="glCs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glCs" class="form-control" placeholder="12" maxlength="2">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL FS<font style="color:red;">*</font></label>
                    <input type="text" name="glFs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glFs" class="form-control" placeholder="123" maxlength="3">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL SS<font style="color:red;">*</font></label>
                    <input type="text" name="glSs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glSs" class="form-control" placeholder="123456" maxlength="6">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL RS<font style="color:red;">*</font></label>
                    <input type="text" name="glRs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glRs" class="form-control" placeholder="123456" maxlength="6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Legacy Name<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="accName" [(ngModel)]="formData.legacyName" class="form-control">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Payment Type<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formData.paymentType">
                        <option value='' selected>Choose Desposit Type</option>
                        <option value='Postpaid'>Postpaid</option>
                        <option value='Prepaid'>Prepaid</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Account Name<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="role" [(ngModel)]="formData.accountName">
                        <option value='' selected>Choose Bank</option>
                        <option value="KBank Suspense">KBank Suspense</option>
                        <option value="BBL Suspense">BBL Suspense</option>
                        <option value="SCB Suspense">SCB Suspense</option>
                        <option value="KTM Suspense">KTM Suspense</option>
                        <option value="TOA Suspense">TOA Suspense</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    Remark
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="accName" [(ngModel)]="formData.remark" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Account<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glAccount" class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL RC<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glRc" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glRc" class="form-control" placeholder="1234" maxlength="4">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Product<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glPd" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glProduct" class="form-control" placeholder="12345" maxlength="5">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL Project<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glPj" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glProject" class="form-control" placeholder="123456" maxlength="6">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL CS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glCs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glCs" class="form-control" placeholder="12" maxlength="2">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL FS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glFs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glFs" class="form-control" placeholder="123" maxlength="3">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL SS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glSs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glSs" class="form-control" placeholder="123456" maxlength="6">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-money">
                    GL RS<font style="color:red;">*</font>
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glRs" pInputText pKeyFilter="alphanum" [(ngModel)]="formData.glRs" class="form-control" placeholder="123456" maxlength="6">
                </div>
                        <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="dataActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Suspense ID</th>
                        <th scope="col">Legacy Name</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Account name</th>
                        <th scope="col">GL Account</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length">
                    <tr *ngFor="let data of dbData; let i = index;">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{data.suspensesId}}</td>
                        <td>{{data.legacyName}}</td>
                        <td>{{data.paymentType}}</td>
                        <td>{{data.accountName}}</td>
                        <td>
                            {{data.glAccount}} {{data.glRc}} {{data.glProduct}} {{data.glProject}}
                            <br/> {{data.glCs}} {{data.glFs}} {{data.glSs}} {{data.glRs}}
                        </td>
                        <td>{{data.remark}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editForm(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete"(click)="delete(data.suspensesId)"  type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords" (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>

            <div class="col-md-4 offset-5">
                <img *ngIf="!errorCode" src="assets/icon/check.png">
                <img *ngIf="errorCode" src="assets/icon/fail.png">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorCode">บันทึกสำเร็จ</p>
                <p *ngIf="errorCode">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="!errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" (click)="success()">OK</button>
                <button *ngIf="errorCode" type="button" class=" btn btn-primary" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteSuspense()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>