<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <h3>Merchant Master</h3>
            </div>
            <div class="col-8">
                <button type="button" *ngIf="dataActive" class="btn btn-primary" (click)="formBank()">
                    + New Merchant
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="locationCode">Location Code</option>
                            <option value="bankName">Bank Name</option>
                            <option value="merchantId">Merchant Id</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search"
                            placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Location Code</label>
                    <input type="text" name="location" [(ngModel)]="formData.locationCode" maxlength="5" class="form-control" placeholder="ex. 10001">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Bank Name</label>
                    <select class="custom-select" name="bank" [(ngModel)]="formData.bankName">
                        <option value='' selected>Choose Bank</option>
                        <option value='BBL'>BBL</option>
                        <option value='KTC'>KTC</option>
                        <option value='KBANK'>KBANK</option>
                        <option value='UOB'>UOB</option>
                        <option value='AMEX'>AMEX</option>
                        <option value='BAY'>BAY</option>
                        <option value='SCB'>SCB</option>
                        <option value='CTB'>CTB</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Merchant Type</label>
                    <select class="custom-select" name="type" [(ngModel)]="formData.merchantType" [disabled]="!formData.bankName">
                        <option value='' selected>Choose Merchant Type</option>
                        <option value='AIRFULL' *ngIf="formData.bankName === 'BBL' || formData.bankName === 'AMEX'">Airtime Full</option>
                        <option value='DEVFULL' *ngIf="formData.bankName === 'BBL'">Device Full</option>
                        <option value='DEVINSTALL' *ngIf="formData.bankName === 'BBL'">Device Installment</option>
                        <option value='HANDSET' *ngIf="formData.bankName === 'KTC'">Handset</option>
                        <option value='INSTALL' *ngIf="formData.bankName === 'KTC' || formData.bankName === 'KBANK' || formData.bankName === 'UOB' || formData.bankName === 'SCB' || formData.bankName === 'CTB'">Installment</option>
                        <option value='PROUND' *ngIf="formData.bankName === 'KTC'">Pround Card</option>
                        <option value='QR' *ngIf="formData.bankName === 'KBANK'">QR Code</option>
                        <option value='ALIPAY' *ngIf="formData.bankName === 'KBANK'">Alipay</option>
                        <option value='WECHAT' *ngIf="formData.bankName === 'KBANK'">WeChat</option>
                        <option value='CSHPLUS' *ngIf="formData.bankName === 'UOB'">Cash Plus</option>
                        <option value='CCC' *ngIf="formData.bankName === 'BAY'">CCC Installment</option>
                        <option value='KCC' *ngIf="formData.bankName === 'BAY'">KCC Installment</option>
                        <option value='TCS' *ngIf="formData.bankName === 'BAY'">TCS Installment</option>
                        <option value='KFC' *ngIf="formData.bankName === 'BAY'">KFC Installment</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Merchant Id</label>
                    <input type="text" name="merchant" [(ngModel)]="formData.merchantId" class="form-control" placeholder="ex. 12345">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="cancel()">Cancel</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" *ngIf="edit == '1'" (click)="update()">Update</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" *ngIf="edit != '1'" (click)="save()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Location Code
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="location" [(ngModel)]="formData.locationCode" maxlength="5" class="form-control"
                        placeholder="ex. 10001">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Bank Name
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="bank" [(ngModel)]="formData.bankName">
                        <option value='' selected>Choose Bank</option>
                        <option value='BBL'>BBL</option>
                        <option value='KTC'>KTC</option>
                        <option value='KBANK'>KBANK</option>
                        <option value='UOB'>UOB</option>
                        <option value='AMEX'>AMEX</option>
                        <option value='BAY'>BAY</option>
                        <option value='SCB'>SCB</option>
                        <option value='CTB'>CTB</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Merchant Type
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="type" [(ngModel)]="formData.merchantType" [disabled]="!formData.bankName">
                        <option value='' selected>Choose Merchant Type</option>
                        <option value='AIRFULL' *ngIf="formData.bankName === 'BBL' || formData.bankName === 'AMEX'">Airtime
                            Full</option>
                        <option value='DEVFULL' *ngIf="formData.bankName === 'BBL'">Device Full</option>
                        <option value='DEVINSTALL' *ngIf="formData.bankName === 'BBL'">Device Installment</option>
                        <option value='HANDSET' *ngIf="formData.bankName === 'KTC'">Handset</option>
                        <option value='INSTALL' *ngIf="formData.bankName === 'KTC' || formData.bankName === 'KBANK' || formData.bankName === 'UOB' || formData.bankName === 'SCB' || formData.bankName === 'CTB'">Installment</option>
                        <option value='PROUND' *ngIf="formData.bankName === 'KTC'">Pround Card</option>
                        <option value='QR' *ngIf="formData.bankName === 'KBANK'">QR Code</option>
                        <option value='ALIPAY' *ngIf="formData.bankName === 'KBANK'">Alipay</option>
                        <option value='WECHAT' *ngIf="formData.bankName === 'KBANK'">WeChat</option>
                        <option value='CSHPLUS' *ngIf="formData.bankName === 'UOB'">Cash Plus</option>
                        <option value='CCC' *ngIf="formData.bankName === 'BAY'">CCC Installment</option>
                        <option value='KCC' *ngIf="formData.bankName === 'BAY'">KCC Installment</option>
                        <option value='TCS' *ngIf="formData.bankName === 'BAY'">TCS Installment</option>
                        <option value='KFC' *ngIf="formData.bankName === 'BAY'">KFC Installment</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Merchant Id
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="merchant" [(ngModel)]="formData.merchantId" class="form-control"
                        placeholder="ex. 12345">
                </div>
                <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="cancel()">Cancel</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" *ngIf="edit == '1'"
                        (click)="update()">Update</a>
                    <a class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" *ngIf="edit != '1'"
                        (click)="save()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="dataActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <!-- <th scope="col">No</th> -->
                        <th scope="col">Location Code</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Merchant Type</th>
                        <th scope="col">Merchant Id</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length">
                    <tr *ngFor="let data of dbData; let i = index">
                        <!-- <th scope="row">{{i+1}}</th> -->
                        <td>{{data.locationCode}}</td>
                        <td>{{data.bankName ? data.bankName : '-'}}</td>
                        <td>{{data.merchantType}}</td>
                        <td>{{data.merchantId ? data.merchantId : '-'}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editBank(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete"(click)="delete(data.locationMerchantId)"  type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!-- <ng-template #filterData>
                    <tbody>
                        <tr *ngFor="let data of filterData">
                            <th scope="row">{{data.userName}}</th>
                            <td>{{data.name}}</td>
                            <td>{{data.statusActive === 'A' ? 'Activate':'Deactivate'}}</td>
                            <td>{{data.roleId == 1 ? 'Admin' : data.roleId == 2 ? 'Branded' :data.roleId == 3 ? 'Treasury' : 'AR'}}</td>
                            <td>{{data.effcDate | date}}</td>
                            <td>{{data.expDate | date}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="editBank(data,1)" type="button">
                                    Edit
                                </button>
                                <button class="btn btn-danger" (click)="deleteBank(data)" type="button">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </ng-template> -->
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="msg=='pass'" class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div *ngIf="msg=='pass'" class="modal-body text-center">
                <p>บันทึกสำเร็จ</p>
            </div>
            <div *ngIf="msg == 'fail' ||msg =='notInput'" class="col-md-4 offset-5">
                <img src="assets/icon/fail.png">
            </div>
            <div *ngIf="msg=='fail'" class="modal-body text-center">
                <p>ไม่สามารถทำรายการได้</p>
            </div>
            <div *ngIf="msg=='notInput'" class="modal-body text-center">
                <p>กรุณากรอกข้อมูลให้ครบถ้วน</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button *ngIf="msg=='pass'" type="button" class=" btn btn-primary" (click)="cancel()" data-dismiss="modal">OK</button>
                <button *ngIf="msg=='fail'||msg == 'notInput'" type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body text-center">
                    <h4>Confirm Delete?</h4>
    
                </div>
                <div class="col-md-5 offset-4 pl-4 pb-3">
                    <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal"
                    (click)="deleteBank()">Yes </button>
                    <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Modal  delete success -->
    <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="col-md-4 offset-5">
                    <img src="assets/icon/check.png">
                </div>
                <div class="modal-body text-center">
                    <p>ลบสำเร็จ</p>
    
                </div>
                <div class="col-md-6 offset-5 pb-3">
                    <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>