<div class="payment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4" style="text-align:center;">
                <h3>account mapping</h3>
            </div>
            <div class="col-8" *ngIf="dataActive">
                <button type="button" class="btn btn-primary" (click)="formBank()">
                    + New account mapping
                </button>
            </div>
            <div class="col-4" *ngIf="dataActive">
                <div class="row">
                    <div class="col-md-3 no-padding-width">
                        <select class="custom-select" [(ngModel)]="dataSearch.findBy" (ngModelChange)="clearSearchValue()">
                            <option value=null selected>Find by...</option>
                            <option value="glGroup">GL Group</option>
                            <option value="glComp">GL Company</option>
                            <option value="accountName">Account Name</option>
                        </select>
                    </div>
                    <div class="col-md-6 no-padding-width">
                        <input type="text" class="form-control" (keyup.enter)="formSearch()" [(ngModel)]="dataSearch.search"
                            placeholder="Search...">
                    </div>
                    <div class="col-md-2 no-padding-width search-right">
                        <button type="button" class="btn btn-primary" (click)="formSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Gl Group</label>
                    <select class="custom-select" name="docType" [(ngModel)]="formData.glGroup">
                        <option value=null selected>Choose Group</option>
                        <option value="INTC">INTC</option>
                        <option value="WHT">WHT</option>
                    </select>
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationCustom01">Account Name</label>
                    <input class="form-control" name="type" [(ngModel)]="formData.accountName">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="validationCustom01">Gl Company</label>
                    <select class="custom-select" name="status" [(ngModel)]="formData.glComp">
                        <option value=null selected>Choose Company</option>
                        <option value='DTAC'>DTAC</option>
                        <option value='DTN'>DTN</option>
                        <option value='PAYSBUY'>PAYSBUY</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Account</label>
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" maxlength="5" [(ngModel)]="formData.glAccount" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL RC</label>
                    <input type="text" name="glRc" pInputText pKeyFilter="alphanum" maxlength="4" [(ngModel)]="formData.glRc" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Product</label>
                    <input type="text" name="glPd" pInputText pKeyFilter="alphanum" maxlength="5" [(ngModel)]="formData.glProduct" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Project</label>
                    <input type="text" name="glPj" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glProject" class="form-control" placeholder="12345">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL CS</label>
                    <input type="text" name="glCs" pInputText pKeyFilter="alphanum" maxlength="2" [(ngModel)]="formData.glCs" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL FS</label>
                    <input type="text" name="glFs" pInputText pKeyFilter="alphanum" maxlength="3" [(ngModel)]="formData.glFs" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL SS</label>
                    <input type="text" name="glSs" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glSs" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL RS</label>
                    <input type="text" name="glRs" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glRs" class="form-control" placeholder="12345">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL nature</label>
                    <input type="text" name="glNature" pInputText pKeyFilter="alphanum" maxlength="2" [(ngModel)]="formData.glNature" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">GL Inter company</label>
                    <input type="text" name="glIntComp" pInputText pKeyFilter="alphanum" maxlength="3" [(ngModel)]="formData.glIntComp" class="form-control" placeholder="12345">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">remark</label>
                    <input type="text" name="remark" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.remark" class="form-control" placeholder="12345">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save" (click)="update()">Save</a>
                </div>
            </div>
        </div> -->
        <div class="detail-box" *ngIf="formActive">
            <div class="row">
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Gl Group
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="docType" [(ngModel)]="formData.glGroup">
                        <option value=null selected>Choose Group</option>
                        <option value="INTC">INTC</option>
                        <option value="WHT">WHT</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Account Name
                </div>
                <div class="col-md-5 mb-3">
                    <input class="form-control" name="type" [(ngModel)]="formData.accountName">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Gl Company
                </div>
                <div class="col-md-5 mb-3">
                    <select class="custom-select" name="status" [(ngModel)]="formData.glComp">
                        <option value=null selected>Choose Company</option>
                        <option value='DTAC'>DTAC</option>
                        <option value='DTN'>DTN</option>
                        <option value='PAYSBUY'>PAYSBUY</option>
                    </select>
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL Account
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glAcc" pInputText pKeyFilter="alphanum" maxlength="5" [(ngModel)]="formData.glAccount"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL RC
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glRc" pInputText pKeyFilter="alphanum" maxlength="4" [(ngModel)]="formData.glRc"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL Product
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glPd" pInputText pKeyFilter="alphanum" maxlength="5" [(ngModel)]="formData.glProduct"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL Project
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glPj" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glProject"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL CS
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glCs" pInputText pKeyFilter="alphanum" maxlength="2" [(ngModel)]="formData.glCs"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL FS
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glFs" pInputText pKeyFilter="alphanum" maxlength="3" [(ngModel)]="formData.glFs"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL SS
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glSs" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glSs"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL RS
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glRs" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.glRs"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL nature
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glNature" pInputText pKeyFilter="alphanum" maxlength="2" [(ngModel)]="formData.glNature"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    GL Inter company
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="glIntComp" pInputText pKeyFilter="alphanum" maxlength="3" [(ngModel)]="formData.glIntComp"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-md-2 offset-2 mt-2 is-right">
                    Remark
                </div>
                <div class="col-md-5 mb-3">
                    <input type="text" name="remark" pInputText pKeyFilter="alphanum" maxlength="6" [(ngModel)]="formData.remark"
                        class="form-control" placeholder="12345">
                </div>
                <div class="col-5 offset-4">
                    <a class="btn bg-light is-float-right" (click)="formSearch()">Cancel</a>
                    <a *ngIf="edit == 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
                        (click)="update()">Save</a>
                    <a *ngIf="edit != 1" class="btn btn-primary is-float-right" data-toggle="modal" data-target="#save"
                        (click)="update()">Save</a>
                </div>
            </div>
        </div>
        <div class="detail-box" *ngIf="dataActive">
            <table class="table table-center table-responsive-md">
                <thead>
                    <tr>
                        <!-- <th scope="col">No</th> -->
                        <th scope="col">glOthSeq</th>
                        <th scope="col">GL Group</th>
                        <th scope="col">GL Company</th>
                        <th scope="col">Account Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dbData.length">
                    <tr *ngFor="let data of dbData; let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{data.glOthSeq}}</td>
                        <td>{{data.glGroup}}</td>
                        <td>{{data.glComp}}</td>
                        <td>{{data.accountName}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editBank(data)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger" data-target="#delete" data-toggle="modal" (click)="setDeleteData(data.glOthSeq)" type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="rows">
                <div class="col-12">
                    <p-paginator [rows]="paginator.recordPerPage" [totalRecords]="paginator.totalRecords"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p class="total-records">
                        Total records: {{paginator.totalRecords}}
                    </p>
                </div>
            </div>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png" *ngIf="!errorDesc">
                <img src="assets/icon/fail.png" *ngIf="errorDesc">
            </div>
            <div class="modal-body text-center">
                <p *ngIf="!errorDesc">บันทึกสำเร็จ</p>
                <p *ngIf="errorDesc">{{errorDesc}}</p>
            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <h4>Confirm Delete?</h4>
            </div>
            <div class="col-md-5 offset-4 pl-4 pb-3">
                <button data-toggle="modal" class=" btn btn-primary" data-target="#deleteAlert" data-dismiss="modal" (click)="deleteBank(deleteId)">Yes </button>
                <button type="button" class="btn bg-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete Alert-->
<div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-md-4 offset-5">
                <img src="assets/icon/check.png">
            </div>
            <div class="modal-body text-center">
                <p>ลบสำเร็จ</p>

            </div>
            <div class="col-md-6 offset-5 pb-3">
                <button type="button" class=" btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>