<div class="contrainer">
  <div class="head">
      <h2>AR Aging Report</h2>
      <p class="dbline2"></p>
  </div>
  <div class="topmain">
      <div class="col-md-12">
          <div class="boxtext">
              <div class="row">
                <div class="col col-md-2 offset-1">
                        <p class="is-bold">Date </p>
                    </div>
                    <div class="col col-md-3">
                        <p-calendar [(ngModel)]="form.adjSrchReq.date" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                    </div>
                    <div class="col col-md-6"></div>
                    <!--Channel Type dropdown-->
                    <div *ngIf="false">
                  <div class="col col-md-2 offset-1">
                      <p class="is-bold">Channel Type </p>
                  </div>
                  <div class="col col-md-3">
                      <select class="selectpicker" class="form-control" name="description" (ngModelChange)="toTranChannelType()" [(ngModel)]="form.adjSrchReq.channelTypeFrom">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                              <option value="wht">Withholding Tax</option>
                          </select>
                  </div>
                  <div class="col col-md-2">
                      <p class="is-bold">To</p>
                  </div>
                  <div class="col col-md-4" *ngIf="!form.adjSrchReq.channelTypeFrom || form.adjSrchReq.channelTypeFrom == 'null'">
                      <select class="selectpicker" class="form-control" name="description" disabled>
                              <option value=null selected>All</option>
                          </select>
                  </div>
                  <div class="col col-md-4" *ngIf="form.adjSrchReq.channelTypeFrom && form.adjSrchReq.channelTypeFrom != 'null'">
                      <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.channelTypeTo">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                              <option value="wht">Withholding Tax</option>
                          </select>
                  </div>
                </div>
                <!--Location dropdown-->
                  <div class="col col-md-2 offset-1">
                      <p class="is-bold">Location </p>
                  </div>
                  <div class="col col-md-3">
                      <select class="selectpicker" class="form-control" name="description" (ngModelChange)="toTranLocationCode()" [(ngModel)]="form.adjSrchReq.locationCodeFrom">
                              <option value=null selected>All</option>
                              <option *ngFor="let data of rawMockLocationId[0].locationCodeList" value="{{data.code}}" [hidden]="rawMockLocationId[0].locationCodeList == data.code">{{data.code}}</option>
                          </select>
                  </div>
                  <div class="col col-md-2">
                      <p class="is-bold">To</p>
                  </div>
                  <div class="col col-md-4" *ngIf="!form.adjSrchReq.locationCodeFrom || form.adjSrchReq.locationCodeFrom == 'null'">
                      <select class="selectpicker" class="form-control" name="description" disabled>
                              <option value=null selected>All</option>
                          </select>
                  </div>
                  <div class="col col-md-4" *ngIf="form.adjSrchReq.locationCodeFrom && form.adjSrchReq.locationCodeFrom != 'null'">
                      <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.locationCodeTo">
                              <option value=null selected>All</option>
                              <option *ngFor="let data of rawMockLocationId[0].locationCodeList" value="{{data.code}}" [hidden]="rawMockLocationId[0].locationCodeList == data.code || data.code <= form.adjSrchReq.locationCodeFrom  ">{{data.code}}</option>
                          </select>
                  </div>
                  <!--Investor dropdown-->
                  <div *ngIf="false">
                  <div class="col col-md-2 offset-1">
                      <p class="is-bold">Investor </p>
                  </div>
                  <div class="col col-md-3">
                      <select class="selectpicker" class="form-control" name="description" (ngModelChange)="toTranInvesterName()" [(ngModel)]="form.adjSrchReq.investerNameFrom">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                              <option value="wht">Withholding Tax</option>
                          </select>
                  </div>
                  <div class="col col-md-2">
                      <p class="is-bold">To</p>
                  </div>
                  <div class="col col-md-4" *ngIf="!form.adjSrchReq.investerNameFrom || form.adjSrchReq.investerNameFrom == 'null'">
                      <select class="selectpicker" class="form-control" name="description" disabled [(ngModel)]="form.adjSrchReq.investerNameFrom">
                              <option value=null selected>All</option>
                          </select>
                  </div>
                  <div class="col col-md-4" *ngIf="form.adjSrchReq.investerNameFrom && form.adjSrchReq.investerNameFrom != 'null'">
                      <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.investerNameTo">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                              <option value="wht">Withholding Tax</option>
                          </select>
                  </div>
                  </div>
                  <!--Reconcile By dropdown-->
                  <div *ngIf="false">
                  <div class="col col-md-2 offset-1">
                      <p class="is-bold">Reconcile By </p>
                  </div>
                 <div class="col col-md-3">
                      <select class="selectpicker" class="form-control" name="description" (ngModelChange)="toTranReconcileBy()" [(ngModel)]="form.adjSrchReq.reconcileByFrom">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                              <option value="wht">Withholding Tax</option>
                          </select>
                  </div>
                  <div class="col col-md-2">
                      <p class="is-bold">To</p>
                  </div>
                  <div class="col col-md-4"  *ngIf="!form.adjSrchReq.reconcileByFrom || form.adjSrchReq.reconcileByFrom == 'null'">
                      <select class="selectpicker" class="form-control" name="description" disabled [(ngModel)]="form.adjSrchReq.reconcileByTo">
                              <option value=null selected>All</option>
                          </select>
                  </div>
                  <div class="col col-md-4" *ngIf="form.adjSrchReq.reconcileByFrom && form.adjSrchReq.reconcileByFrom != 'null'">
                      <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.reconcileByTo">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                              <option value="wht">Withholding Tax</option>
                          </select>
                  </div>
                </div>

                  <div class="col col-md-2 offset-1">
                      <p class="is-bold">Withholding Tax </p>
                  </div>
                  <div class="col col-md-3">
                      <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.wht" (ngModelChange)="toTranWHT()">
                              <option value="Y">Yes</option>
                              <option value="N">No</option>
                          </select>
                  </div>
                  
                  <div class="col col-md-2 " >
                      <p class="is-bold">Payment Type </p>
                  </div>
                  <div class="col col-md-3">
                      <select class="selectpicker" class="form-control" name="description" [(ngModel)]="form.adjSrchReq.paymentType" [disabled]="form.adjSrchReq.wht == 'Y'">
                              <option value=null selected>All</option>
                              <option value="CSH">Cash</option>
                              <option value="CHQ">Cheque</option>
                              <option value="CC">Credit Card</option>
                          </select>
                  </div>
                  <div class="col col-md-11 is-money">
                      <button class="btn btn-primary" (click)="printExcel()" name="Search">Print Excel</button>
                      <button class="btn btn-primary" (click)="print()" name="Search">Print Pdf</button>
                      <button class="btn bg-light" (click)="clear()" name="Clear">Clear</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>